force-app/main/default/flows/Add_ICT_User_to_Public_Group_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Add&apos;s an ICT user to an authorised public group.</description>
    <interviewLabel>Add Partner User to Public Group Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add ICT User to Public Group Flow</label>
    <loops>
        <name>Loop_through_ICT_users</name>
        <label>Loop through ICT users</label>
        <locationX>347</locationX>
        <locationY>417</locationY>
        <assignNextValueToReference>SOvar_CurrentLoopICTUser</assignNextValueToReference>
        <collectionReference>SOvar_ICTusers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_user_to_Public_Group</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_user_to_Public_Group</name>
        <label>Add user to Public Group</label>
        <locationX>115</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Loop_through_ICT_users</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>VarT_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SOvar_CurrentLoopICTUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Users_With_ICT_Account</name>
        <label>Lookup Users With ICT Account</label>
        <locationX>323</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ICT_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ICTAccountNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e90000002B64YAAS</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SOvar_ICTusers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Users_With_ICT_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>SOvar_CurrentLoopICTUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SOvar_FinalCollectionofUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>ICT users from account</description>
        <name>SOvar_ICTusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Var_ICTAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
