force-app/main/default/flows/Add_Newly_Created_ICT_Users_to_Existing_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Adds a newly created ICT Portal users to the account&apos;s authorised schools sharing groups.</description>
    <interviewLabel>Add Newly Created ICT Users to Existing Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Newly Created ICT Portal Users to Existing Groups</label>
    <loops>
        <name>Add_new_user_to_groups</name>
        <label>Add new user to groups</label>
        <locationX>705</locationX>
        <locationY>353</locationY>
        <assignNextValueToReference>SOvar_CurrentJunctionRecord</assignNextValueToReference>
        <collectionReference>SOvar_JunctionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Group_Member</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Group_Member</name>
        <label>Add Group Member</label>
        <locationX>421</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Add_new_user_to_groups</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>SOvar_CurrentJunctionRecord.Public_Group_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>var_NewUserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Related_Junction_Objects</name>
        <label>Lookup Related Junction Objects</label>
        <locationX>701</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_new_user_to_groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICT_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewICTCommunityUsersAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Data_Sharing_on_Portal_Authorised__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Related_School_ICTProvider__c</object>
        <outputReference>SOvar_JunctionRecords</outputReference>
        <queriedFields>Public_Group_ID__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Related_Junction_Objects</startElementReference>
    <status>Active</status>
    <variables>
        <name>SOvar_CurrentJunctionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_School_ICTProvider__c</objectType>
    </variables>
    <variables>
        <name>SOvar_JunctionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_School_ICTProvider__c</objectType>
    </variables>
    <variables>
        <name>SOvar_LoopVariableGroupID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account ID of the new community user.</description>
        <name>var_NewICTCommunityUsersAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NewUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
