force-app/main/default/flows/Batch_MNU_Case_Creation_By_Planned_Month.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_1_to_MNU_Already_exists</name>
        <label>Add 1 to MNU Already exists</label>
        <locationX>1023</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>vMNUAlreadyExisits</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.MNU_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_MNU_Case_Craeted_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_MNU_Case_created</name>
        <label>Add 1 to MNU Case created</label>
        <locationX>1332</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>vMNUCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_MNU_Cases_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ICT_Leader_as_case_contact</name>
        <label>Assign ICT Leader as case contact</label>
        <locationX>1496</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>vCaseContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSecondContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_MNU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_as_case_contact</name>
        <label>Assign Principal as case contact</label>
        <locationX>1213</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>vCaseContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSecondContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_MNU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_id</name>
        <label>Set Account id</label>
        <locationX>899</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>vAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Exisiting_MNU_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Accounts_to_be_processed</name>
        <label>Any Accounts to be processed</label>
        <locationX>483</locationX>
        <locationY>12</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_accounts_to_be_processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Accounts_To_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjC_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Accounts_To_Be_Processed_Msg</targetReference>
            </connector>
            <label>No Accounts To Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICT_Leader_Authorised</name>
        <label>ICT Leader Authorised</label>
        <locationX>1493</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Assign_Principal_as_case_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_ICTLeader.N4L_Services_Decision_Authorised__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_ICTLeader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ICT_Leader_as_case_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_MNU_Cases_Created</name>
        <label>Max MNU Cases Created</label>
        <locationX>685</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Update_Account_MNU_Case_Craeted_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reach_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMNUCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>Reach Limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>MNU_Case_Exisit</name>
        <label>MNU Case Exisit</label>
        <locationX>1025</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MNU_Case_Exisited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_MNUCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_MNU_Already_exists</targetReference>
            </connector>
            <label>MNU Case Exisited</label>
        </rules>
        <rules>
            <name>No_MNU_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_MNUCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Principal_Contact</targetReference>
            </connector>
            <label>No MNU Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_in_charge_of_school_ICT</name>
        <label>Who in charge of school ICT</label>
        <locationX>1215</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_accounts_to_be_processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ICT_Lead_In_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.School_ICT_Leader_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Someone else</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ICT_Leader</targetReference>
            </connector>
            <label>ICT Lead In Charge</label>
        </rules>
        <rules>
            <name>Principal_In_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.School_ICT_Leader_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_as_case_contact</targetReference>
            </connector>
            <label>Principal In Charge</label>
        </rules>
    </decisions>
    <description>Used for batch create MNU case by selected planned month (the last day of a month), need to precheck Assigned ICT, model and site4 complexity.</description>
    <formulas>
        <description>The last day of next month</description>
        <name>NextMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( ADDMONTHS(TODAY(),1) ) = 12, 
DATE( YEAR( ADDMONTHS(TODAY(),1)), 12, 31 ), 
DATE( YEAR( ADDMONTHS(TODAY(),1) ), MONTH( ADDMONTHS(TODAY(),1) ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Batch MNU Case Creation By Planned Month {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch MNU Case Creation By Planned Month</label>
    <loops>
        <name>Loop_through_all_accounts_to_be_processed</name>
        <label>Loop through all accounts to be processed</label>
        <locationX>704</locationX>
        <locationY>9</locationY>
        <assignNextValueToReference>vObj_Account</assignNextValueToReference>
        <collectionReference>vObjC_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MNU_Case</name>
        <label>Create MNU Case</label>
        <locationX>1329</locationX>
        <locationY>561</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_1_to_MNU_Case_created</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000UWg2YAAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Site_Access_Contact__c</field>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000AE4iAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>vSecondContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>FortiGate Rollout</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Exisiting_MNU_Case</name>
        <label>Find Exisiting MNU Case</label>
        <locationX>898</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MNU_Case_Exisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000AE4iAAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vObj_MNUCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Owner_Name__c</queriedFields>
        <queriedFields>Cutover_Appointment__c</queriedFields>
        <queriedFields>Cutover_Appointment_Confirmed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accounts_to_be_processed</name>
        <label>Get All Accounts to be processed</label>
        <locationX>335</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Accounts_to_be_processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FortiGate_Model__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FortiGate_Rollout_Assigned_ICT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FortiGate_Rollout_Completed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FortiGate_Rollout_Planned_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FortiGate_Rollout_Planned_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>FortiGate_Rollout_Site_Complexity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MNU_Case_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vObjC_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>School_ICT_Leader_Role__c</queriedFields>
        <queriedFields>MNU_Case_Created__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ICT_Leader</name>
        <label>Get ICT Leader</label>
        <locationX>1491</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICT_Leader_Authorised</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Principal_as_case_contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICT Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Ap4xAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_ICTLeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>N4L_Services_Decision_Authorised__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Contact</name>
        <label>Get Principal Contact</label>
        <locationX>1218</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_in_charge_of_school_ICT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Ap4xAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_Principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_MNU_Case_Craeted_Checkbox</name>
        <label>Update Account MNU Case Craeted Checkbox</label>
        <locationX>840</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>Loop_through_all_accounts_to_be_processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MNU_Case_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>376</locationX>
        <locationY>456</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalScreenMsgTxt</name>
            <fieldText>{!FinalScreenMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>180</locationX>
        <locationY>15</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Accounts_to_be_processed</targetReference>
        </connector>
        <fields>
            <name>Enterthelastofthemonth</name>
            <fieldText>Please enter the last day of the month to be processed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FortiGate_Rollout_Planned_Month</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NextMonth</elementReference>
            </defaultValue>
            <fieldText>FortiGate Rollout Planned Month</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please select the last day of the planned month.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Accounts_To_Be_Processed_Msg</name>
        <label>No Accounts To Be Processed Msg</label>
        <locationX>483</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccountsToBeProcessedTxt</name>
            <fieldText>There are no schools planned for {!FortiGate_Rollout_Planned_Month}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Initial_Screen</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>FinalScreenMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total MNU Cases created: &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;B&gt;{!vMNUCreated}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total MNU Exisiting Cases found: {!vMNUAlreadyExisits}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The contactid either be the principal or the authorised ICT Leader if exisit.</description>
        <name>vCaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the new MNU case id.</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMNUAlreadyExisits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vMNUCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vObj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vObj_ICTLeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_MNUCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vObj_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The school accounts to be processed....</description>
        <name>vObjC_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vPlannedMonth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NextMonth</elementReference>
        </value>
    </variables>
    <variables>
        <description>If the case contact is ICT Leader then Principal shall be the sencond contact</description>
        <name>vSecondContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
