force-app/main/default/flows/CC_MOU_Received_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Swirch_Only_IT_Leader_Has_External_IT_Onboarding_Email</name>
        <label>Swirch Only IT Leader Has External IT Onboarding Email</label>
        <locationX>1106</locationX>
        <locationY>2726</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_Principal_Has_IT_Leader_and_External_IT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_External_IT_Onboarding_Email</name>
        <label>Switch Only External IT Onboarding Email</label>
        <locationX>1238</locationX>
        <locationY>2486</locationY>
        <actionName>Contact.CC_CC_Switch_Replacement_Onboarding_To_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_CC_Switch_Replacement_Onboarding_To_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_IT_Leader_No_External_IT_Onboarding_Email</name>
        <label>Switch Only IT Leader No External IT Onboarding Email</label>
        <locationX>1634</locationX>
        <locationY>2606</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_No_External_IT_Has_IT_Leader_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_No_External_IT_Has_IT_Leader_Post</name>
        <label>Switch Only No External IT Has IT Leader Post</label>
        <locationX>1634</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_No_IT_Leader_No_External_IT_Post</name>
        <label>Switch Only No IT Leader No External IT Post</label>
        <locationX>1898</locationX>
        <locationY>2606</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Has_External_IT_Email</name>
        <label>Switch Only Principal Has External IT Email</label>
        <locationX>1238</locationX>
        <locationY>2366</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_External_IT_Onboarding_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Has_IT_Leader_and_External_IT</name>
        <label>Switch Only Principal Has IT Leader and External IT</label>
        <locationX>1106</locationX>
        <locationY>2846</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}), IT Leader ({!vObj_ICTLeader.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_No_External_IT_Onboard_Email</name>
        <label>Switch Only Principal No External IT Onboard Email</label>
        <locationX>1766</locationX>
        <locationY>2366</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_No_IT_Leader_Has_External_IT</name>
        <label>Switch Only Principal No IT Leader Has External IT</label>
        <locationX>1370</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_External_IT_Onboarding_Email</name>
        <label>Switch Wireless External IT Onboarding Email</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_To_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_To_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_IT_Leader_Has_External_IT_Onboarding_Email</name>
        <label>Switch Wireless IT Leader Has External IT Onboarding Email</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_Principal_Has_IT_Leader_and_External_IT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_IT_Leader_No_External_IT_Onboarding_Email</name>
        <label>Switch Wireless IT Leader No External IT Onboarding Email</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_No_External_IT_Has_IT_Leader_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_No_External_IT_Has_IT_Leader_Post</name>
        <label>Switch Wireless No External IT Has IT Leader Post</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comm emails has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_No_IT_Leader_No_External_IT_Post</name>
        <label>Switch Wireless No IT Leader No External IT Post</label>
        <locationX>842</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Has_External_IT_Email</name>
        <label>Switch Wireless Principal Has External IT Email</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_External_IT_Onboarding_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Has_IT_Leader_and_External_IT</name>
        <label>Switch Wireless Principal Has IT Leader and External IT</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}), IT Leader ({!vObj_ICTLeader.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_No_External_IT_Onboard_Email</name>
        <label>Switch Wireless Principal No External IT Onboard Email</label>
        <locationX>710</locationX>
        <locationY>2486</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_No_IT_Leader_Has_External_IT</name>
        <label>Switch Wireless Principal No IT Leader Has External IT</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_External_IT_ID</name>
        <label>Assign External IT ID</label>
        <locationX>1628</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>vExternalITContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObi_ExternalIT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_School_IT_Leader_ID</name>
        <label>Assign School IT Leader ID</label>
        <locationX>1782</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>vITLeaderContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_External_IT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MOU_Signed_Comms_Sent</name>
        <label>Set MOU Signed Comms Sent</label>
        <locationX>1139</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_MOU_Signed_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MOU_Signed_Comms_Sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_External_IT</name>
        <label>Found External IT</label>
        <locationX>1760</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Service_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found_External_IT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObi_ExternalIT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_IT_ID</targetReference>
            </connector>
            <label>Found External IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ICT_Leader</name>
        <label>Found ICT Leader</label>
        <locationX>1914</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_ICT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_ICTLeader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_School_IT_Leader_ID</targetReference>
            </connector>
            <label>Found ICT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT</name>
        <label>Has External IT</label>
        <locationX>1914</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Service_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No External IT</defaultConnectorLabel>
        <rules>
            <name>Has_Enternal_IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Has_External_ICT_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_IT</targetReference>
            </connector>
            <label>Has Enternal IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT_Version</name>
        <label>Has External IT Version</label>
        <locationX>1502</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_No_External_IT_Onboard_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send No External IT Version</defaultConnectorLabel>
        <rules>
            <name>Send_External_IT_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_Principal_Has_External_IT_Email</targetReference>
            </connector>
            <label>Send External IT Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT_Version2</name>
        <label>Has External IT Version</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_Principal_No_External_IT_Onboard_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send No External IT Version</defaultConnectorLabel>
        <rules>
            <name>Send_External_IT_Version2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_Principal_Has_External_IT_Email</targetReference>
            </connector>
            <label>Send External IT Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader</name>
        <label>Has IT Leader</label>
        <locationX>1238</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_No_IT_Leader_Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swirch_Only_IT_Leader_Has_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader2</name>
        <label>Has IT Leader</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_Principal_No_IT_Leader_Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_IT_Leader_Has_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader3</name>
        <label>Has IT Leader</label>
        <locationX>1766</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_No_IT_Leader_No_External_IT_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_IT_Leader_No_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader6</name>
        <label>Has IT Leader</label>
        <locationX>710</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_No_IT_Leader_No_External_IT_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_IT_Leader_No_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>MOU_Signed_Comms_Already_Sent</name>
        <label>MOU Signed Comms Already Sent</label>
        <locationX>718</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Principal_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To Be Sent</defaultConnectorLabel>
        <rules>
            <name>Already_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_MOU_Signed_Comms_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Status</name>
        <label>Service Status</label>
        <locationX>1914</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MOU_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MOU_Signed_Comms_Sent</targetReference>
            </connector>
            <label>MOU Signed</label>
        </rules>
        <rules>
            <name>In_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <label>In Service</label>
        </rules>
    </decisions>
    <decisions>
        <description>To stop sending NSE emails the old way. When SNU - ES order form is signed (or Accepted) on Support Hub, it will trigger another workflow that generates PDF for the contract, and then send email with the PDF as attachment. This workflow will replace the subsequent Email Alerts in this Flow.</description>
        <name>Stop_Sending_Email</name>
        <label>Stop Sending Email</label>
        <locationX>116</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Has_External_IT_Version2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Stop_Sending_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2020-10-10</dateValue>
                </rightValue>
            </conditions>
            <label>Stop Sending Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wireless_IN_Scope</name>
        <label>Wireless IN Scope</label>
        <locationX>1139</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesWirelessMigrationInScope</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ruckus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Sending_Email</targetReference>
            </connector>
            <label>Wireless In Scope Rukus Migration (Main Flow)</label>
        </rules>
        <rules>
            <name>Switch_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2019-02-08</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_External_IT_Version</targetReference>
            </connector>
            <label>Switch Only Do Nothing</label>
        </rules>
    </decisions>
    <description>Launched from Account Update Process when Hardware Replacement Service Status is changed to MOU Signed. Replaced NSE(Network Support Extension) picklist value with Managed Network To The Classroom (Rearranged Elements)</description>
    <interviewLabel>CC - MOU Received Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC - MOU Received Auto Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>718</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MOU_Signed_Comms_Already_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vObj_Account</outputReference>
        <queriedFields>Hardware_Replacement_Service_Status__c</queriedFields>
        <queriedFields>Wireless_Controller_Service_Status__c</queriedFields>
        <queriedFields>Has_External_ICT_Provider__c</queriedFields>
        <queriedFields>School_ICT_Leader_Role__c</queriedFields>
        <queriedFields>External_ICT_Provider_name__c</queriedFields>
        <queriedFields>CC_MOU_Signed_Comms_Sent__c</queriedFields>
        <queriedFields>CC_Wireless_AP_Make__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_External_IT</name>
        <label>Get External IT</label>
        <locationX>1760</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_External_IT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External ICT</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObi_ExternalIT</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Lead</name>
        <label>Get IT Lead</label>
        <locationX>1914</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IT_Lead_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>vObj_ITLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Lead_Contact</name>
        <label>Get IT Lead Contact</label>
        <locationX>1914</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ICT_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vObj_ITLead.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_ICTLeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Contact</name>
        <label>Get Principal Contact</label>
        <locationX>1914</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IT_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Principal_Of_This_School__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_Principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MOU_Signed_Comms_Sent</name>
        <label>Update MOU Signed Comms Sent</label>
        <locationX>1139</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Wireless_IN_Scope</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>592</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0019000000PU8KDAA1</stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the new MNU case id.</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vExternalITContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The contactid of the school ICT Leader if exisit.</description>
        <name>vITLeaderContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vObi_ExternalIT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vObj_ICTLeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_ITLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>vObj_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
