force-app/main/default/flows/CC_Operations_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Swirch_Only_IT_Leader_Has_External_IT_Onboarding_Email</name>
        <label>Swirch Only IT Leader Has External IT Onboarding Email</label>
        <locationX>1718</locationX>
        <locationY>71</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_Principal_Has_IT_Leader_and_External_IT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_External_IT_Onboarding_Email</name>
        <label>Switch Only External IT Onboarding Email</label>
        <locationX>1372</locationX>
        <locationY>70</locationY>
        <actionName>Contact.CC_CC_Switch_Replacement_Onboarding_To_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_CC_Switch_Replacement_Onboarding_To_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_IT_Leader_No_External_IT_Onboarding_Email</name>
        <label>Switch Only IT Leader No External IT Onboarding Email</label>
        <locationX>1721</locationX>
        <locationY>275</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_No_External_IT_Has_IT_Leader_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_IT_Leader_Onboarding_Success_Update</name>
        <label>Switch Only IT Leader Onboarding Success Update</label>
        <locationX>1307</locationX>
        <locationY>897</locationY>
        <actionName>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_Principal_IT_Leader_Onboarding_Success_Update_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_No_External_IT_Has_IT_Leader_Post</name>
        <label>Switch Only No External IT Has IT Leader Post</label>
        <locationX>1724</locationX>
        <locationY>382</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_No_IT_Leader_No_External_IT_Post</name>
        <label>Switch Only No IT Leader No External IT Post</label>
        <locationX>1520</locationX>
        <locationY>378</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Has_External_IT_Email</name>
        <label>Switch Only Principal Has External IT Email</label>
        <locationX>1225</locationX>
        <locationY>69</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Only_External_IT_Onboarding_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Has_IT_Leader_and_External_IT</name>
        <label>Switch Only Principal Has IT Leader and External IT</label>
        <locationX>1721</locationX>
        <locationY>167</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}), IT Leader ({!vObj_ICTLeader.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_IT_Leader_Onboarding_Success_Update_Post</name>
        <label>Switch Only Principal &amp; IT Leader Onboarding Success Update Post</label>
        <locationX>1308</locationX>
        <locationY>981</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement In Service update email has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_No_External_IT_Onboard_Email</name>
        <label>Switch Only Principal No External IT Onboard Email</label>
        <locationX>1233</locationX>
        <locationY>269</locationY>
        <actionName>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Replacement_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_No_IT_Leader_Has_External_IT</name>
        <label>Switch Only Principal No IT Leader Has External IT</label>
        <locationX>1520</locationX>
        <locationY>167</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Onboarding_Success_Update</name>
        <label>Switch Only Principal Onboarding Success Update</label>
        <locationX>956</locationX>
        <locationY>895</locationY>
        <actionName>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Only_Principal_Onboarding_Success_Update_Post</name>
        <label>Switch Only Principal Onboarding Success Update Post</label>
        <locationX>1116</locationX>
        <locationY>983</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Only Hardware Replacement In Service update email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_External_IT_Onboarding_Email</name>
        <label>Switch Wireless External IT Onboarding Email</label>
        <locationX>1373</locationX>
        <locationY>462</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_To_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_To_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_IT_Leader_Has_External_IT_Onboarding_Email</name>
        <label>Switch Wireless IT Leader Has External IT Onboarding Email</label>
        <locationX>1722</locationX>
        <locationY>471</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_Principal_Has_IT_Leader_and_External_IT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_IT_Leader_No_External_IT_Onboarding_Email</name>
        <label>Switch Wireless IT Leader No External IT Onboarding Email</label>
        <locationX>1733</locationX>
        <locationY>680</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_No_External_IT_Has_IT_Leader_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_IT_Leader_Onboarding_Success_Update</name>
        <label>Switch Wireless IT Leader Onboarding Success Update</label>
        <locationX>1312</locationX>
        <locationY>1057</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_Principal_IT_Leader_Onboarding_Success_Update_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_No_External_IT_Has_IT_Leader_Post</name>
        <label>Switch Wireless No External IT Has IT Leader Post</label>
        <locationX>1733</locationX>
        <locationY>782</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comm emails has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_No_IT_Leader_No_External_IT_Post</name>
        <label>Switch Wireless No IT Leader No External IT Post</label>
        <locationX>1524</locationX>
        <locationY>781</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Has_External_IT_Email</name>
        <label>Switch Wireless Principal Has External IT Email</label>
        <locationX>1239</locationX>
        <locationY>461</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Switch_Wireless_External_IT_Onboarding_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_Has_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Has_IT_Leader_and_External_IT</name>
        <label>Switch Wireless Principal Has IT Leader and External IT</label>
        <locationX>1728</locationX>
        <locationY>572</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}), IT Leader ({!vObj_ICTLeader.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_IT_Leader_Onboarding_Success_Update_Post</name>
        <label>Switch Wireless Principal &amp; IT Leader Onboarding Success Update Post</label>
        <locationX>1313</locationX>
        <locationY>1153</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless In Service update email has been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_No_External_IT_Onboard_Email</name>
        <label>Switch Wireless Principal No External IT Onboard Email</label>
        <locationX>1234</locationX>
        <locationY>679</locationY>
        <actionName>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Wireless_Onboarding_School_No_External_IT_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_No_IT_Leader_Has_External_IT</name>
        <label>Switch Wireless Principal No IT Leader Has External IT</label>
        <locationX>1522</locationX>
        <locationY>569</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless Onboarding comms email has been sent to Principal ({!vObj_Principal.Email}) and their external IT Support {!vObj_Account.External_ICT_Provider_name__c} ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Onboarding_Success_Update</name>
        <label>Switch Wireless Principal Onboarding Success Update</label>
        <locationX>954</locationX>
        <locationY>1059</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switch_Wireless_Principal_Onboarding_Success_Update_Post</name>
        <label>Switch Wireless Principal Onboarding Success Update Post</label>
        <locationX>1112</locationX>
        <locationY>1152</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Hardware Replacement &amp; Wireless In Service update email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_External_IT_ID</name>
        <label>Assign External IT ID</label>
        <locationX>386</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>vExternalITContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObi_ExternalIT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_School_IT_Leader_ID</name>
        <label>Assign School IT Leader ID</label>
        <locationX>586</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>vITLeaderContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_External_IT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MOU_Signed_Comms_Sent</name>
        <label>Set MOU Signed Comms Sent</label>
        <locationX>721</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_MOU_Signed_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MOU_Signed_Comms_Sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_External_IT</name>
        <label>Found External IT</label>
        <locationX>385</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Service_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found_External_IT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObi_ExternalIT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_IT_ID</targetReference>
            </connector>
            <label>Found External IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ICT_Leader</name>
        <label>Found ICT Leader</label>
        <locationX>307</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_ICT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_ITLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IT_Lead_Contact</targetReference>
            </connector>
            <label>Found ICT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT</name>
        <label>Has External IT</label>
        <locationX>209</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Service_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No External IT</defaultConnectorLabel>
        <rules>
            <name>Has_Enternal_IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Has_External_ICT_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_IT</targetReference>
            </connector>
            <label>Has Enternal IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT_Version</name>
        <label>Has External IT Version</label>
        <locationX>979</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_No_External_IT_Onboard_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send No External IT Version</defaultConnectorLabel>
        <rules>
            <name>Send_External_IT_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_Principal_Has_External_IT_Email</targetReference>
            </connector>
            <label>Send External IT Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT_Version2</name>
        <label>Has External IT Version</label>
        <locationX>931</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_Principal_No_External_IT_Onboard_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send No External IT Version</defaultConnectorLabel>
        <rules>
            <name>Send_External_IT_Version2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_Principal_Has_External_IT_Email</targetReference>
            </connector>
            <label>Send External IT Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader</name>
        <label>Has IT Leader</label>
        <locationX>1516</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_No_IT_Leader_Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swirch_Only_IT_Leader_Has_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader10</name>
        <label>Has IT Leader</label>
        <locationX>1113</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_Principal_Onboarding_Success_Update_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_IT_Leader_Onboarding_Success_Update</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader2</name>
        <label>Has IT Leader</label>
        <locationX>1521</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_Principal_No_IT_Leader_Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_IT_Leader_Has_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader3</name>
        <label>Has IT Leader</label>
        <locationX>1519</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_No_IT_Leader_No_External_IT_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_IT_Leader_No_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader6</name>
        <label>Has IT Leader</label>
        <locationX>1522</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Switch_Wireless_No_IT_Leader_No_External_IT_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_IT_Leader_No_External_IT_Onboarding_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader8</name>
        <label>Has IT Leader</label>
        <locationX>1115</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_Onboarding_Success_Update_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_IT_Leader_Onboarding_Success_Update</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>MOU_Signed_Comms_Already_Sent</name>
        <label>MOU Signed Comms Already Sent</label>
        <locationX>725</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_MOU_Signed_Comms_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To Be Sent</defaultConnectorLabel>
        <rules>
            <name>Already_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_MOU_Signed_Comms_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Status</name>
        <label>Service Status</label>
        <locationX>741</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MOU_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MOU_Signed_Comms_Already_Sent</targetReference>
            </connector>
            <label>MOU Signed</label>
        </rules>
        <rules>
            <name>In_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Only_Or_Wireless_As_well</targetReference>
            </connector>
            <label>In Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Only_Or_Wireless_As_well</name>
        <label>Switch Only Or Wireless As well</label>
        <locationX>746</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Principal_Onboarding_Success_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Switch Only</defaultConnectorLabel>
        <rules>
            <name>Wireless</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_Principal_Onboarding_Success_Update</targetReference>
            </connector>
            <label>Wireless</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wireless_IN_Scope</name>
        <label>Wireless IN Scope</label>
        <locationX>654</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Switch_Only_Onboarding_SR_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Switch Only</defaultConnectorLabel>
        <rules>
            <name>YesWirelessInScope</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Wireless_Onboarding_SR_Case</targetReference>
            </connector>
            <label>Wireless In Scope (Main Flow)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MOUSignedSchoolToSendComms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hardware_Replacement_Service_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOU Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_MOU_Signed_Comms_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CC - Operations Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC - Operations Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Switch_Only_Onboarding_SR_Case</name>
        <label>Switch Only Onboarding SR Case</label>
        <locationX>839</locationX>
        <locationY>71</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Has_External_IT_Version</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICT_Implementation_Contact__c</field>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Assigned Opportuinity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00590000001DK4WAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <stringValue>Connected Classroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Switch &amp; Wireless Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TNWZAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Switch Only Support Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Add Service (Existing Customer)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Switch_Wireless_Onboarding_SR_Case</name>
        <label>Switch Wireless Onboarding SR Case</label>
        <locationX>941</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Has_External_IT_Version2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICT_Implementation_Contact__c</field>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Assigned Opportuinity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00590000001DK4WAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <stringValue>Connected Classroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Switch &amp; Wireless Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TNWZAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Switch &amp; Wireless Support Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Add Service (Existing Customer)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>531</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Principal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vObj_Account</outputReference>
        <queriedFields>Hardware_Replacement_Service_Status__c</queriedFields>
        <queriedFields>Wireless_Controller_Service_Status__c</queriedFields>
        <queriedFields>Has_External_ICT_Provider__c</queriedFields>
        <queriedFields>School_ICT_Leader_Role__c</queriedFields>
        <queriedFields>External_ICT_Provider_name__c</queriedFields>
        <queriedFields>CC_MOU_Signed_Comms_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_External_IT</name>
        <label>Get External IT</label>
        <locationX>193</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_External_IT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External ICT</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObi_ExternalIT</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Lead</name>
        <label>Get IT Lead</label>
        <locationX>140</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ICT_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>vObj_ITLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Lead_Contact</name>
        <label>Get IT Lead Contact</label>
        <locationX>537</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_School_IT_Leader_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vObj_ITLead.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_ICTLeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Contact</name>
        <label>Get Principal Contact</label>
        <locationX>142</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IT_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Principal_Of_This_School__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_Principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MOU_Signed_Comms_Sent</name>
        <label>Update MOU Signed Comms Sent</label>
        <locationX>718</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Wireless_IN_Scope</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Pick_a_MOU_Signed_School</name>
        <label>Pick a MOU Signed School</label>
        <locationX>393</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
        <fields>
            <name>MOU_Signed_School_To_Send_Comms</name>
            <choiceReferences>MOUSignedSchoolToSendComms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MOU Signed School To Send Comms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>27</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pick_a_MOU_Signed_School</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0019000000PU8KDAA1</stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the new MNU case id.</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vExternalITContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The contactid of the school ICT Leader if exisit.</description>
        <name>vITLeaderContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vObi_ExternalIT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vObj_ICTLeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_ITLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>vObj_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
