force-app/main/default/flows/CC_Switch_Wireless_In_Service_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_External_ICT_on_Aerohive_ewnewed</name>
        <label>Email External ICT on Aerohive ewnewed</label>
        <locationX>2398</locationX>
        <locationY>1607</locationY>
        <actionName>Contact.CC_Wireless_Aerohive_Licence_Renewed_lCT_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_External_IT_Aerohive_renewed_email_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vExternalITContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Aerohive_Licence_Renewed_lCT_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leade_Wireless_Aerohive_licence_renewed_SW_WIP_email</name>
        <label>IT Leade Wireless Aerohive licence renewed SW WIP email</label>
        <locationX>2396</locationX>
        <locationY>967</locationY>
        <actionName>Contact.CC_Wireless_Aerohive_Licence_Renewed_SW_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Wireless_Aerohive_licence_renewed_Has_IT_Leader_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Aerohive_Licence_Renewed_SW_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Aerohive_all_done_email</name>
        <label>IT Leader Aerohive all done email</label>
        <locationX>1610</locationX>
        <locationY>1171</locationY>
        <actionName>Contact.CC_Wireless_Aerohive_Licence_Renewed_All_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Leader_Chatter2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Aerohive_Licence_Renewed_All_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_chatter</name>
        <label>IT Leader chatter</label>
        <locationX>1977</locationX>
        <locationY>356</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch Completed Wireless In Progress comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Chatter1</name>
        <label>IT Leader Chatter</label>
        <locationX>1934</locationX>
        <locationY>708</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch completed no wireless comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Chatter2</name>
        <label>IT Leader Chatter</label>
        <locationX>1778</locationX>
        <locationY>1169</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>If_Has_External_ICT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Wireless Aerohive licenced renewed and Switch completed comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_email_post</name>
        <label>IT Leader email post</label>
        <locationX>2416</locationX>
        <locationY>789</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch done all done comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Ruckus_done_All_done_email</name>
        <label>IT Leader Ruckus done All done email</label>
        <locationX>716</locationX>
        <locationY>2052</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Principal_and_IT_Leader_email_post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Ruckus_done_NON_NSE_email</name>
        <label>IT Leader Ruckus done NON NSE email</label>
        <locationX>704</locationX>
        <locationY>1826</locationY>
        <actionName>Contact.CC_Ruckus_Done_NON_NSE_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Principal_and_IT_Leader_email_post1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Ruckus_Done_NON_NSE_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Ruckus_done_Switch_WIP_Email</name>
        <label>IT Leader Ruckus done Switch WIP Email</label>
        <locationX>1075</locationX>
        <locationY>1475</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_SW_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Principal_and_IT_Leader_Ruckus_done_Switch_WIP_email_post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_SW_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Switch_done_all_done_email</name>
        <label>IT Leader Switch done all done email</label>
        <locationX>2259</locationX>
        <locationY>786</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Leader_email_post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vITLeaderContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_switch_done_no_wireless_email</name>
        <label>IT Leader switch done no wireless email</label>
        <locationX>1933</locationX>
        <locationY>587</locationY>
        <actionName>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Leader_Chatter1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IT_Leader_Switch_done_wireless_WIP_email</name>
        <label>IT Leader Switch done wireless WIP email</label>
        <locationX>1966</locationX>
        <locationY>165</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Leader_chatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_External_IT_Aerohive_renewed_email_sent</name>
        <label>Post External IT Aerohive renewed email sent</label>
        <locationX>2397</locationX>
        <locationY>1762</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Wireless Aerohive licenced renewed emails have been sent to External IT Support ({!vObi_ExternalIT.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Aerohive_All_Done_Email</name>
        <label>Principal Aerohive All Done Email</label>
        <locationX>1204</locationX>
        <locationY>1159</locationY>
        <actionName>Contact.CC_Wireless_Aerohive_Licence_Renewed_All_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Aerohive_Licence_Renewed_All_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_and_IT_Leader_email_post</name>
        <label>Principal and IT Leader email post</label>
        <locationX>964</locationX>
        <locationY>2053</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done all done comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_and_IT_Leader_email_post1</name>
        <label>Principal and IT Leader email post</label>
        <locationX>920</locationX>
        <locationY>1829</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done Non NSE comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_and_IT_Leader_Ruckus_done_Switch_WIP_email_post</name>
        <label>Principal and IT Leader Ruckus done Switch WIP email post</label>
        <locationX>1078</locationX>
        <locationY>1636</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done Switch WIP comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_email_post</name>
        <label>Principal email post</label>
        <locationX>474</locationX>
        <locationY>2184</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done All done comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_email_post1</name>
        <label>Principal email post</label>
        <locationX>437</locationX>
        <locationY>1946</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done NON NSE comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_only_chatter</name>
        <label>Principal only chatter</label>
        <locationX>1744</locationX>
        <locationY>359</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch done Wireless In Progress comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Only_chatter1</name>
        <label>Principal Only chatter</label>
        <locationX>1751</locationX>
        <locationY>742</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch completed  no wireless comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Only_chatter2</name>
        <label>Principal Only chatter</label>
        <locationX>1364</locationX>
        <locationY>1399</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>If_Has_External_ICT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Wireless Aerohive licenced renewed and Switch completed comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_only_email_post</name>
        <label>Principal only email post</label>
        <locationX>2247</locationX>
        <locationY>630</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Switch done all done comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_only_post</name>
        <label>Principal only post</label>
        <locationX>830</locationX>
        <locationY>1646</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus done Switch WIP comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Ruckus_done_All_done_email</name>
        <label>Principal Ruckus done All done email</label>
        <locationX>225</locationX>
        <locationY>2052</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader12</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Ruckus_done_Non_NSE_Email</name>
        <label>Principal Ruckus done Non NSE Email</label>
        <locationX>430</locationX>
        <locationY>1701</locationY>
        <actionName>Contact.CC_Ruckus_Done_NON_NSE_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader14</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Ruckus_Done_NON_NSE_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>principal_Ruckus_done_Switch_WIP_email</name>
        <label>principal Ruckus done Switch WIP email</label>
        <locationX>642</locationX>
        <locationY>1468</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_SW_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_SW_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>principal_Switch_done_all_done_email</name>
        <label>principal Switch done all done email</label>
        <locationX>1586</locationX>
        <locationY>815</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>has_IT_Leader8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_Already_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Switch_done_No_Wireless_Email</name>
        <label>Principal Switch done No Wireless Email</label>
        <locationX>1596</locationX>
        <locationY>586</locationY>
        <actionName>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_No_Wireless_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Switch_done_wireless_WIP_Email</name>
        <label>Principal Switch done wireless WIP Email</label>
        <locationX>1534</locationX>
        <locationY>158</locationY>
        <actionName>Contact.CC_Switch_Done_Wireless_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Switch_Done_Wireless_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Principal_Wireless_Aerohive_Licence_Renewed_Wireless_WIP_Email</name>
        <label>Principal Wireless Aerohive Licence Renewed Wireless WIP Email</label>
        <locationX>1529</locationX>
        <locationY>1002</locationY>
        <actionName>Contact.CC_Wireless_Aerohive_Licence_Renewed_SW_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_IT_Leader6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Aerohive_Licence_Renewed_SW_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Wireless_Aerohive_licence_renewed_Has_IT_Leader_Post</name>
        <label>Wireless Aerohive licence renewed Has IT Leader Post</label>
        <locationX>2400</locationX>
        <locationY>1115</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>If_Has_External_ICT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Wireless Aerohive licenced renewed Switch In Progress comms emails have been sent to Principal ({!vObj_Principal.Email}) and IT Leader ({!vObj_ICTLeader.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Wireless_Aerohive_License_Renewed_No_IT_Lead_Post</name>
        <label>Wireless Aerohive License Renewed No IT Lead Post</label>
        <locationX>2247</locationX>
        <locationY>1107</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>If_Has_External_ICT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Wireless Aerohive licenced renewed Switch In Progress comms email has been sent to Principal ({!vObj_Principal.Email}).</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>vFeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_External_IT_ID</name>
        <label>Assign External IT ID</label>
        <locationX>218</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>vExternalITContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObi_ExternalIT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_to_do</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_School_IT_Leader_ID</name>
        <label>Assign School IT Leader ID</label>
        <locationX>803</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>vITLeaderContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_External_IT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_In_Service_Comms_Sent</name>
        <label>Set All In Service Comms Sent</label>
        <locationX>751</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wireless_In_Service_Comms_Sent_Update4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Switch_In_Service</name>
        <label>Set Switch In Service</label>
        <locationX>1268</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Switch_Done_All_done_account_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Switch_In_Service_Comms_Sent2</name>
        <label>Set Switch In Service Comms Sent</label>
        <locationX>1187</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wireless_In_Service_Comms_Sent_Update3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Switch_In_Service_Comms_Sent3</name>
        <label>Set Switch In Service Comms Sent</label>
        <locationX>962</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Switch_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wireless_In_Service_Comms_Sent_Update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CC_Wireless_Support_In_Service_Date__c is updated from NSE case automation as part of the status update.</description>
        <name>Set_Wireless_In_Service</name>
        <label>Set Wireless In Service</label>
        <locationX>644</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ruckus_Done_Switch_WIP_account_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wireless_In_Service_Comms_Sent</name>
        <label>Set Wireless In Service Comms Sent</label>
        <locationX>1117</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wireless_In_Service_Comms_Sent_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wireless_In_Service_Comms_Sent1</name>
        <label>Set Wireless In Service Comms Sent</label>
        <locationX>430</locationX>
        <locationY>1399</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ruckus_done_Non_NSE_Account_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CC_Wireless_Support_In_Service_Date__c is updated from NSE case automation as part of the status update.</description>
        <name>Set_Wireless_In_Service_Ruckus</name>
        <label>Set Wireless In Service Ruckus</label>
        <locationX>219</locationX>
        <locationY>1326</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ruckus_done_all_done_account_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_External_IT</name>
        <label>Found External IT</label>
        <locationX>215</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>What_to_do</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found_External_IT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObi_ExternalIT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_IT_ID</targetReference>
            </connector>
            <label>Found External IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ICT_Leader</name>
        <label>Found ICT Leader</label>
        <locationX>1070</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Has_External_IT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_ICT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_ITLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get</targetReference>
            </connector>
            <label>Found ICT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_IT</name>
        <label>Has External IT</label>
        <locationX>403</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>What_to_do</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No External IT</defaultConnectorLabel>
        <rules>
            <name>Has_Enternal_IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.Has_External_ICT_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_IT</targetReference>
            </connector>
            <label>Has Enternal IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader</name>
        <label>Has IT Leader</label>
        <locationX>1722</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Principal_only_chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Switch_done_wireless_WIP_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader10</name>
        <label>Has IT Leader</label>
        <locationX>814</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>Principal_only_post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Ruckus_done_Switch_WIP_Email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader12</name>
        <label>Has IT Leader</label>
        <locationX>442</locationX>
        <locationY>2052</locationY>
        <defaultConnector>
            <targetReference>Principal_email_post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Ruckus_done_All_done_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader14</name>
        <label>Has IT Leader</label>
        <locationX>428</locationX>
        <locationY>1822</locationY>
        <defaultConnector>
            <targetReference>Principal_email_post1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Ruckus_done_NON_NSE_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader2</name>
        <label>Has IT Leader</label>
        <locationX>1735</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Principal_Only_chatter1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_switch_done_no_wireless_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader4</name>
        <label>Has IT Leader</label>
        <locationX>1362</locationX>
        <locationY>1159</locationY>
        <defaultConnector>
            <targetReference>Principal_Only_chatter2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Aerohive_all_done_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_IT_Leader6</name>
        <label>Has IT Leader</label>
        <locationX>1700</locationX>
        <locationY>993</locationY>
        <defaultConnector>
            <targetReference>Wireless_Aerohive_License_Renewed_No_IT_Lead_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leade_Wireless_Aerohive_licence_renewed_SW_WIP_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_IT_Leader8</name>
        <label>has IT Leader</label>
        <locationX>1868</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Principal_only_email_post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IT Leader</defaultConnectorLabel>
        <rules>
            <name>Has_IT_Leader9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vITLeaderContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Leader_Switch_done_all_done_email</targetReference>
            </connector>
            <label>Has IT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Has_External_ICT</name>
        <label>If Has External ICT</label>
        <locationX>2382</locationX>
        <locationY>1394</locationY>
        <defaultConnectorLabel>No External ICT</defaultConnectorLabel>
        <rules>
            <name>Has_External_ICT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vExternalITContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_External_ICT_on_Aerohive_ewnewed</targetReference>
            </connector>
            <label>Has External ICT</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_to_do</name>
        <label>What to do</label>
        <locationX>530</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Aerohive_Done_Switch_WIP</name>
            <conditionLogic>1 AND 2 AND 3 AND 5 AND (4 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerohive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wireless_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issues with Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wireless_In_Service_Comms_Sent</targetReference>
            </connector>
            <label>Aerohive Done Switch WIP</label>
        </rules>
        <rules>
            <name>Switch_Done_Wireless_WIP</name>
            <conditionLogic>1 AND (2 OR 6) AND 4 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>switch_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issues with Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Switch_In_Service_Comms_Sent3</targetReference>
            </connector>
            <label>Switch Done Wireless WIP</label>
        </rules>
        <rules>
            <name>Aerohive_Done_All_Done</name>
            <conditionLogic>1 AND 2 AND (3 OR 6) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerohive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wireless_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_In_Service_Comms_Sent</targetReference>
            </connector>
            <label>Aerohive Done All Done</label>
        </rules>
        <rules>
            <name>Switch_Done_No_Wireless</name>
            <conditionLogic>1 AND (2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Switch_In_Service_Comms_Sent2</targetReference>
            </connector>
            <label>Switch Done No Wireless</label>
        </rules>
        <rules>
            <name>Switch_Done_All_Done</name>
            <conditionLogic>1 AND (2 OR 5) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>switch_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Switch_In_Service_Comms_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Switch_In_Service</targetReference>
            </connector>
            <label>Switch Done All Done</label>
        </rules>
        <rules>
            <name>Ruckus_Done_Switch_WIP</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)  AND 7</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ruckus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issues with Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wireless_status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wireless_In_Service</targetReference>
            </connector>
            <label>Ruckus Done Switch WIP</label>
        </rules>
        <rules>
            <name>Ruckus_Done_All_Done</name>
            <conditionLogic>1 AND 2 AND (3 OR 6) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ruckus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wireless_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wireless_In_Service_Ruckus</targetReference>
            </connector>
            <label>Ruckus Done All Done</label>
        </rules>
        <rules>
            <name>Ruckus_Done_NON_NSE</name>
            <conditionLogic>1 AND 2 AND (3 OR 6)AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ruckus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Wireless_Controller_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not In Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.CC_Wireless_In_Service_Comms_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusChangeMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wireless_status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.Hardware_Replacement_Service_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service - Mismatch Qty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wireless_In_Service_Comms_Sent1</targetReference>
            </connector>
            <label>Ruckus Done NON NSE</label>
        </rules>
    </decisions>
    <description>Launched from Account Update Process when Hardware Replacement Service Status or Wireless Service Status is changed to In Service.</description>
    <interviewLabel>CC - Switch And Wireless In Service Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC - Switch And Wireless In Service Auto Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get IT Lead Contact</label>
        <locationX>1051</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_School_IT_Leader_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vObj_ITLead.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_ICTLeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>490</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Principal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vObj_Account</outputReference>
        <queriedFields>Hardware_Replacement_Service_Status__c</queriedFields>
        <queriedFields>Wireless_Controller_Service_Status__c</queriedFields>
        <queriedFields>Has_External_ICT_Provider__c</queriedFields>
        <queriedFields>School_ICT_Leader_Role__c</queriedFields>
        <queriedFields>External_ICT_Provider_name__c</queriedFields>
        <queriedFields>CC_Wireless_In_Service_Comms_Sent__c</queriedFields>
        <queriedFields>CC_Wireless_AP_Make__c</queriedFields>
        <queriedFields>CC_Switch_In_Service_Comms_Sent__c</queriedFields>
        <queriedFields>CC_Switch_Support_In_Service_Date__c</queriedFields>
        <queriedFields>CC_Wireless_Support_In_Service_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_External_IT</name>
        <label>Get External IT</label>
        <locationX>222</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_External_IT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External ICT</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObi_ExternalIT</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IT_Lead</name>
        <label>Get IT Lead</label>
        <locationX>855</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ICT_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>vObj_ITLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Contact</name>
        <label>Get Principal Contact</label>
        <locationX>682</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IT_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Principal_Of_This_School__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_Principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Ruckus_done_all_done_account_update</name>
        <label>Ruckus done all done account update</label>
        <locationX>216</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Principal_Ruckus_done_All_done_email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ruckus_done_Non_NSE_Account_Update</name>
        <label>Ruckus done Non NSE Account Update</label>
        <locationX>430</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Principal_Ruckus_done_Non_NSE_Email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ruckus_Done_Switch_WIP_account_Update</name>
        <label>Ruckus Done Switch WIP account Update</label>
        <locationX>643</locationX>
        <locationY>1313</locationY>
        <connector>
            <targetReference>principal_Ruckus_done_Switch_WIP_email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Switch_Done_All_done_account_Update</name>
        <label>Switch Done All done account Update</label>
        <locationX>1416</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>principal_Switch_done_all_done_email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Wireless_In_Service_Comms_Sent_Update</name>
        <label>Wireless In Service Comms Sent Update</label>
        <locationX>1278</locationX>
        <locationY>991</locationY>
        <connector>
            <targetReference>Principal_Wireless_Aerohive_Licence_Renewed_Wireless_WIP_Email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Wireless_In_Service_Comms_Sent_Update2</name>
        <label>Wireless In Service Comms Sent Update</label>
        <locationX>1368</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Principal_Switch_done_wireless_WIP_Email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Wireless_In_Service_Comms_Sent_Update3</name>
        <label>Wireless In Service Comms Sent Update</label>
        <locationX>1409</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Principal_Switch_done_No_Wireless_Email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Wireless_In_Service_Comms_Sent_Update4</name>
        <label>Wireless In Service Comms Sent Update</label>
        <locationX>1014</locationX>
        <locationY>1158</locationY>
        <connector>
            <targetReference>Principal_Aerohive_All_Done_Email</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0019000000PU8KDAA1</stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the new MNU case id.</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vExternalITContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The contactid of the school ICT Leader if exisit.</description>
        <name>vITLeaderContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vObi_ExternalIT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vObj_ICTLeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_ITLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>vObj_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Passed in from process builder as to indicate if the switch status or the wireless status changed. 
switch_status or wireless_status</description>
        <name>vStatusChangeMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>not_specified</stringValue>
        </value>
    </variables>
</Flow>
