force-app/main/default/flows/Clone_Orders_for_Reprice_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Add to a collection of order items to be inserted</description>
        <name>Assign_Items_to_Collection</name>
        <label>Assign Items to Collection</label>
        <locationX>666</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>OrderItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Original_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the fields on the cloned order to parent to the new contract, change status to &apos;cloned&apos;, etc.</description>
        <name>Assign_new_data</name>
        <label>Assign new data</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.ActivatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.ActivatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.Previous_Order_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Original_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Orders.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Original_Orders.Short_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_record_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the original order Id to a collection of IDs used to get the order items to be cloned</description>
        <name>Assign_Order_Ids</name>
        <label>Assign Order Ids</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OriginalOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Original_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the clone order to the collection of orders to be created</description>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>orderToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderClone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Original_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the cloned order to a record variable to be added to the collection</description>
        <name>Assign_to_record_variable</name>
        <label>Assign to record variable</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OrderClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Original_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy the loop orderitem variable to a temp variable to be added to the list of order items for insert</description>
        <name>Copy_to_order_item_variable</name>
        <label>Copy to order item variable</label>
        <locationX>666</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>tempOrderProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Original_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Items_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Order Item OrderId field to the new order Id. Clear the Id and List Price fields so they can be populated automatically by Salesforce on insert.</description>
        <name>Set_Order_Item_parent_to_new_order</name>
        <label>Set Order Item parent to new order</label>
        <locationX>666</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>Loop_Original_Order_Products.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_New_Order_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Order_Products.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Original_Order_Products.ListPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_to_order_item_variable</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>This filter will only return one record - the new order that is a clone of the loop order</description>
        <name>Filter_New_Order_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter New Order Collection</label>
        <locationX>402</locationX>
        <locationY>1811</locationY>
        <assignNextValueToReference>currentItem_Filter_New_Order_Collection_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_New_Orders</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_New_Order_Collection_0.Previous_Order_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Original_Orders_2.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Filtered_New_Order_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Get all order items related to the original order</description>
        <name>Filter_Order_Items_for_current_loop_item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Order Items for current loop item</label>
        <locationX>578</locationX>
        <locationY>2027</locationY>
        <assignNextValueToReference>currentItem_Filter_Order_Items_for_current_loop_item_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_original_order_items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Items_for_current_loop_item_0.OrderId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Original_Orders_2.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Original_Order_Products</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Original_Order_Products_Found</name>
        <label>Original Order Products Found?</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_OOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_original_order_items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Original_Orders_2</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Orders_Found</name>
        <label>Original Orders Found?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Original_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If an order is created with Type = Reprice, clone all orders from the previous contract.</description>
    <environments>Default</environments>
    <formulas>
        <name>OrderStatus</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!Loop_Original_Orders.Status}) = &apos;Activated&apos;, &apos;Cloned&apos;, TEXT({!Loop_Original_Orders.Status}))</expression>
    </formulas>
    <interviewLabel>Clone Orders for Reprice Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Orders for Reprice Contract</label>
    <loops>
        <name>Loop_Original_Order_Products</name>
        <label>Loop Original Order Products</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <collectionReference>Filter_Order_Items_for_current_loop_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Item_parent_to_new_order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Filtered_New_Order_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Original_Orders</name>
        <label>Loop Original Orders</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Original_Orders_2</name>
        <label>Loop Original Orders 2</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <collectionReference>Get_Order_Records</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_New_Order_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_order_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This &quot;Loop&quot; will only run once, the loop variable is the new order.</description>
        <name>Loop_Over_Filtered_New_Order_Collection</name>
        <label>Loop Over Filtered New Order Collection</label>
        <locationX>402</locationX>
        <locationY>1919</locationY>
        <collectionReference>Filter_New_Order_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Order_Items_for_current_loop_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Original_Orders_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the new orders cloned from the original orders.</description>
        <name>Create_New_Orders</name>
        <label>Create New Orders</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_New_Orders</targetReference>
        </connector>
        <inputReference>orderToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_order_items</name>
        <label>create order items</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>Update_master_to_set_active_variation_contract</targetReference>
        </connector>
        <inputReference>OrderItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the orders just created.</description>
        <name>Get_New_Orders</name>
        <label>Get New Orders</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_original_order_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all orders on the original contract that are not in cancelled status</description>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Orders_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the order items on the original orders to clone to the new orders</description>
        <name>Get_original_order_items</name>
        <label>Get original order items</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Order_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>In</operator>
            <value>
                <elementReference>OriginalOrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>For reprice contracts, the previous contract is an activated contract that contains a draft order that needs to be repriced.</description>
        <name>Get_Previous_Contract</name>
        <label>Get Previous Contract</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the master contract record to set the new reprice contract as the active variation contract.</description>
        <name>Update_master_to_set_active_variation_contract</name>
        <label>Update master to set active variation contract</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>Active_Variation_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent_Contract__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Previous_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reprice</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_New_Order_Collection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Items_for_current_loop_item_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOrderCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOrderRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The new order cloned from the original. Used in loop</description>
        <name>OrderClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>A collection of new orders cloned from the originals to be inserted</description>
        <name>orderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OriginalOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable for order item.</description>
        <name>tempOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
