force-app/main/default/flows/Contact_Activate_Inactive_in_Support_Hub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>To make sure the flow will perform the right update and inform user about it.</description>
        <name>Is_the_User_Active_or_Inactive</name>
        <label>Is the User Active or Inactive</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_SupportHub_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SupportHub_User_Details.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_User_Info_Screen</targetReference>
            </connector>
            <label>Active SupportHub User</label>
        </rules>
        <rules>
            <name>InActive_Support_Hub_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SupportHub_User_Details.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InActive_User_Info_Screen</targetReference>
            </connector>
            <label>InActive Support Hub User</label>
        </rules>
    </decisions>
    <description>Activates or Inactivates the User in the Support Hub , triggered by Button on the Contact page layout.</description>
    <environments>Default</environments>
    <interviewLabel>Contact Activate/Inactive in Support Hub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Activate/Inactive in Support Hub</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets contact details to find the support hub details via the ContactId</description>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SupportHub_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SupportHub_User_Details</name>
        <label>Get SupportHub User Details</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_User_Active_or_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Make_Inactive</name>
        <label>Make Inactive</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_User_Active</name>
        <label>Make User active</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Skip_MFA</name>
        <label>Set Skip MFA</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Make_User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SupportHub_User_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skip_MFA_on_Password_Reset__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_User_Info_Screen</name>
        <label>Active User Info Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Make_Inactive</targetReference>
        </connector>
        <fields>
            <name>InactiveUser_text</name>
            <fieldText>&lt;p&gt;The Support Hub user: {!Get_SupportHub_User_Details.Name} of this contact is currently &lt;span style=&quot;color: rgb(28, 224, 25);&quot;&gt;Active&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;Do you want to Inactivate this user and contact now?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InActive_User_Info_Screen</name>
        <label>InActive User Info Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Skip_MFA</targetReference>
        </connector>
        <fields>
            <name>InactiveUser_text2</name>
            <fieldText>&lt;p&gt;The Support Hub user ({!Get_SupportHub_User_Details.Name}) of this contact is currently &lt;span style=&quot;color: rgb(237, 46, 7);&quot;&gt;Inactive&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;Do you want to &lt;strong&gt;&lt;em&gt;&lt;u&gt;activate&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt; this user and contact now?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record Id of the Contact</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
