force-app/main/default/flows/Create_Installed_Product_Features_Ben.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Prepare_Installed_Product_Features_for_insert</name>
        <label>Prepare Installed Product Features for insert</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>installedProductFeatures</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>installedProductFeature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_N4L_Product_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installed_Product_Feature</name>
        <label>Set Installed Product Feature</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>installedProductFeature.Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>installedProductFeature.N4L_Product_Features__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_N4L_Product_Features.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>installedProductFeature.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_N4L_Product_Features.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>installedProductFeature.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Installed_Product_Features_for_insert</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Installed Product Features-Ben {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Installed Product Features-Ben</label>
    <loops>
        <name>loop_through_N4L_Product_Features</name>
        <label>loop through N4L Product Features</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_N4L_Product_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Installed_Product_Feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Installed_Product_Features</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Installed_Product_Features</name>
        <label>Create Installed Product Features</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>installedProductFeatures</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_N4L_Product_Features</name>
        <label>Get N4L Product Features</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_N4L_Product_Features</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programme</elementReference>
            </value>
        </filters>
        <filters>
            <field>N4l_Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ER Lite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>N4L_Product_Features__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_N4L_Product_Features</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installedProductFeature</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Installed_N4L_Product_Feature__c</objectType>
    </variables>
    <variables>
        <name>installedProductFeatures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Installed_N4L_Product_Feature__c</objectType>
    </variables>
    <variables>
        <name>n4lProductFeatures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>N4L_Product_Features__c</objectType>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
