force-app/main/default/flows/Create_a_MNU_Case_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_ICT_Leader_as_case_contact</name>
        <label>Assign ICT Leader as case contact</label>
        <locationX>1121</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>vCaseContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_ICTLeader.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSecondContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MNU_Case_Exisit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_as_case_contact</name>
        <label>Assign Principal as case contact</label>
        <locationX>850</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>vCaseContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vObj_Principal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MNU_Case_Exisit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Planned_Month</name>
        <label>Set Planned Month</label>
        <locationX>991</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>vObj_Account.FortiGate_Rollout_Planned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FortiGate_Rollout_Planned_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vObj_Account.MNU_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Planned_Month_On_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Send_Catch_Up_Survey</name>
        <label>Set Send Catch Up Survey</label>
        <locationX>1716</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>vObj_MNUCase.Send_Catch_Up_Transition_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MNU_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Fields_Filled_In</name>
        <label>Check Account Fields Filled In</label>
        <locationX>407</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>Please_Complete_Data_On_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Missing Data</defaultConnectorLabel>
        <rules>
            <name>Check_Passed</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Rollout_Assigned_ICT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Rollout_Site_Complexity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Rollout_Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Rollout_Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Trial (New Era)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Exisiting_MNU_Case</targetReference>
            </connector>
            <label>Check Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICT_Leader_Authorised</name>
        <label>ICT Leader Authorised</label>
        <locationX>1114</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Assign_Principal_as_case_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_ICTLeader.N4L_Services_Decision_Authorised__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_ICTLeader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ICT_Leader_as_case_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MNU_Case_Exisit</name>
        <label>MNU Case Exisit</label>
        <locationX>995</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MNU_Case_Exisited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_MNUCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_to_send_catch_up_survey</targetReference>
            </connector>
            <label>MNU Case Exisited</label>
        </rules>
        <rules>
            <name>No_MNU_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_MNUCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Screen</targetReference>
            </connector>
            <label>No MNU Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_to_send_catch_up_survey</name>
        <label>Option to send catch up survey</label>
        <locationX>1262</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Display_MNU_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesAsk</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>vObj_MNUCase.Survey_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_MNUCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObj_MNUCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Catch_Up_Survey</targetReference>
            </connector>
            <label>Yes Ask</label>
        </rules>
    </decisions>
    <decisions>
        <name>Planned_month_already_entered</name>
        <label>Planned month already entered</label>
        <locationX>236</locationX>
        <locationY>4</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Fields_Filled_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.FortiGate_Rollout_Planned_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Fields_Filled_In</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_catch_up_surveySelected</name>
        <label>Send catch up survey selected?</label>
        <locationX>1436</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>DoNotSend</defaultConnectorLabel>
        <rules>
            <name>Send_the_catch_up_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_catch_up_survey_checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Send_Catch_Up_Survey</targetReference>
            </connector>
            <label>Send the catch up survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_in_charge_of_school_ICT</name>
        <label>Who in charge of school ICT</label>
        <locationX>841</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ICT_Lead_In_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.School_ICT_Leader_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Someone else</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ICT_Leader</targetReference>
            </connector>
            <label>ICT Lead In Charge</label>
        </rules>
        <rules>
            <name>Principal_In_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObj_Account.School_ICT_Leader_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_as_case_contact</targetReference>
            </connector>
            <label>Principal In Charge</label>
        </rules>
    </decisions>
    <formulas>
        <description>The last day of next month</description>
        <name>NextMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( ADDMONTHS(TODAY(),1) ) = 12, 
DATE( YEAR( ADDMONTHS(TODAY(),1)), 12, 31 ), 
DATE( YEAR( ADDMONTHS(TODAY(),1) ), MONTH( ADDMONTHS(TODAY(),1) ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Create a MNU Case from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a MNU Case from Account</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MNU_Case</name>
        <label>Create MNU Case</label>
        <locationX>1326</locationX>
        <locationY>671</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Site_Access_Contact__c</field>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000AE4iAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>vSecondContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled Next Month</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>FortiGate Rollout</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Exisiting_MNU_Case</name>
        <label>Find Exisiting MNU Case</label>
        <locationX>671</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Principal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000AE4iAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Created in Error</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vObj_MNUCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Owner_Name__c</queriedFields>
        <queriedFields>Cutover_Appointment__c</queriedFields>
        <queriedFields>Cutover_Appointment_Confirmed__c</queriedFields>
        <queriedFields>Survey_Sent_Date_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>67</locationX>
        <locationY>5</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Planned_month_already_entered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vObj_Account</outputReference>
        <queriedFields>FortiGate_Model__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Assigned_ICT__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Completed_Date__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Planned_Date__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Site_Complexity__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Wave__c</queriedFields>
        <queriedFields>School_ICT_Leader_Role__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Assigned_ICT_Name__c</queriedFields>
        <queriedFields>FortiGate_Rollout_ICT_Alignment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ICT_Leader</name>
        <label>Get ICT Leader</label>
        <locationX>1112</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICT_Leader_Authorised</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Principal_as_case_contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICT Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Ap4xAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_ICTLeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>N4L_Services_Decision_Authorised__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Contact</name>
        <label>Get Principal Contact</label>
        <locationX>844</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_in_charge_of_school_ICT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Ap4xAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vObj_Principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MNU_Case</name>
        <label>Update MNU Case</label>
        <locationX>1716</locationX>
        <locationY>676</locationY>
        <inputReference>vObj_MNUCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planned_Month_On_Account</name>
        <label>Update Planned Month On Account</label>
        <locationX>1144</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Create_MNU_Case</targetReference>
        </connector>
        <inputReference>vObj_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_MNU_Case</name>
        <label>Display MNU Case</label>
        <locationX>1262</locationX>
        <locationY>541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MNUCaseDetails</name>
            <fieldText>{!ExistingMNUCaseDisplay}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>{!ExistingMNUCaseDisplay}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>993</locationX>
        <locationY>550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Planned_Month</targetReference>
        </connector>
        <fields>
            <name>FortiGate_Rollout_Planned_Month</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>vObj_Account.FortiGate_Rollout_Planned_Date__c</elementReference>
            </defaultValue>
            <fieldText>FortiGate Rollout Planned Month</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please select the last day of the planned month.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayFields</name>
            <fieldText>{!AccountFieldsDisplay}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Complete_Data_On_Account</name>
        <label>Please Complete Data On Account</label>
        <locationX>408</locationX>
        <locationY>138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteDataMsg</name>
            <fieldText>{!AccountFieldsNotComplete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Catch_Up_Survey</name>
        <label>Send Catch Up Survey</label>
        <locationX>1431</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_catch_up_surveySelected</targetReference>
        </connector>
        <fields>
            <name>Send_catch_up_survey_checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Please tick the box and click NEXT to send catch up survey</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MNUCaseDetails1</name>
            <fieldText>{!ExistingMNUCaseDisplay}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Account_Fields</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AccountFieldsDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;FortiGate Model: {!vObj_Account.FortiGate_Model__r.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned ICT: {!vObj_Account.FortiGate_Rollout_Assigned_ICT_Name__c}  -  &lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vObj_Account.FortiGate_Rollout_ICT_Alignment__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Site Complexity: {!vObj_Account.FortiGate_Rollout_Site_Complexity__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;School ICT Leader Role: {!vObj_Account.School_ICT_Leader_Role__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Principal: {!vObj_Principal.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ICT Leader: {!vObj_ICTLeader.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ICT Leader Authorised: {!vObj_ICTLeader.N4L_Services_Decision_Authorised__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AccountFieldsNotComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete these fields on account:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;FortiGate Model: {!vObj_Account.FortiGate_Model__r.Name} &lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned ICT: {!vObj_Account.FortiGate_Rollout_Assigned_ICT_Name__c}  -  &lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vObj_Account.FortiGate_Rollout_ICT_Alignment__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Site Complexity: {!vObj_Account.FortiGate_Rollout_Site_Complexity__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExistingMNUCaseDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case number: &lt;A HREF=&quot;https://n4l.lightning.force.com/{!vObj_MNUCase.Id}&quot; TARGET=&quot;_blank&quot;&gt;{!vObj_MNUCase.CaseNumber}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Status: {!vObj_MNUCase.Status}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;FortiGate Model: {!vObj_Account.FortiGate_Model__r.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned ICT: {!vObj_Account.FortiGate_Rollout_Assigned_ICT_Name__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vObj_Account.FortiGate_Rollout_ICT_Alignment__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Site Complexity: {!vObj_Account.FortiGate_Rollout_Site_Complexity__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;School ICT Leader Role: {!vObj_Account.School_ICT_Leader_Role__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Principal: {!vObj_Principal.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ICT Leader: {!vObj_ICTLeader.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ICT Leader Authorised: {!vObj_ICTLeader.N4L_Services_Decision_Authorised__c}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The contactid either be the principal or the authorised ICT Leader if exisit.</description>
        <name>vCaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the new MNU case id.</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vObj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vObj_ICTLeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vObj_MNUCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vObj_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vPlannedMonth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NextMonth</elementReference>
        </value>
    </variables>
    <variables>
        <description>If the case contact is ICT Leader then Principal shall be the sencond contact</description>
        <name>vSecondContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
