force-app/main/default/flows/Create_Public_Group_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Group_Exists</name>
        <label>Group Exists</label>
        <locationX>513</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_public_group</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <description>Creates a public group for use in Process that creates public group between ICT Provider and School</description>
    <interviewLabel>Create Public Group Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Public Group Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_public_group</name>
        <label>Create new public group</label>
        <locationX>442</locationX>
        <locationY>259</locationY>
        <assignRecordIdToReference>Var_PublicGroupID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_School_Account_share_with_group</targetReference>
        </connector>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <elementReference>VarAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_PublicGroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <name>Create_School_Account_share_with_group</name>
        <label>Create School Account share with group</label>
        <locationX>429</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>Var_NewAccountShareID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_newly_created_group_ID_to_Public_Group_ID_on_Related_School_ICT_Provider</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_SchoolAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Var_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Group</name>
        <label>Check Existing Group</label>
        <locationX>391</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountNumber</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Var_Group</outputReference>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_newly_created_group_ID_to_Public_Group_ID_on_Related_School_ICT_Provider</name>
        <label>Update newly created group ID to Public Group ID on Related School &amp; ICT Provider</label>
        <locationX>424</locationX>
        <locationY>495</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OriginalRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Share_ID__c</field>
            <value>
                <elementReference>Var_NewAccountShareID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Group_ID__c</field>
            <value>
                <elementReference>Var_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>Related_School_ICTProvider__c</object>
    </recordUpdates>
    <startElementReference>Check_Existing_Group</startElementReference>
    <status>Active</status>
    <variables>
        <name>Var_Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Var_ICTAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_NewAccountShareID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OriginalRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PublicGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>School Account ID</description>
        <name>Var_SchoolAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable storing the account name of the ICT Provider.</description>
        <name>VarAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
