force-app/main/default/flows/CS_445.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_PM_Group</name>
        <label>Email PM Group</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <actionName>Opportunity.ER_Report_IT_Phase_Notify_ER_team</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.ER_Report_IT_Phase_Notify_ER_team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_ER_team_email</name>
        <label>Send ER team email</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>Opportunity.ER_Report_IT_Phase_Notify_ER_team</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varERopportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.ER_Report_IT_Phase_Notify_ER_team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_to_opportunityId</name>
        <label>assign to opportunityId</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varERopportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Opportunity_Value_0</name>
        <label>Prepare Opportunity Value</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>OppVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppVar.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_case.Account.Name} - ES to ER Prioritisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125m0000004HkbAAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_ER</name>
        <label>Is ER</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_through_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_ER</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>get_primary_campaign.Programme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment Replacement and Secure Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_opportunities.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ES to ER Prioritisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_opportunities.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_opportunityId</targetReference>
            </connector>
            <label>Yes it is ER</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opportunity_found</name>
        <label>Is opportunity found</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Prepare_Opportunity_Value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_ER_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varERopportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varERopportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_case_to_opp</targetReference>
            </connector>
            <label>Yes found ER opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +30</expression>
    </formulas>
    <formulas>
        <name>testaccountname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp;&quot;- ES to ER approved&quot;</expression>
    </formulas>
    <interviewLabel>CS 445 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS 445</label>
    <loops>
        <name>Loop_through_opportunities</name>
        <label>Loop through opportunities</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Try_to_Get_All_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_primary_campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_opportunity_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Email_PM_Group</targetReference>
        </connector>
        <inputReference>OppVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Try_to_Get_All_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_primary_campaign</name>
        <label>get primary campaign</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_opportunities.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_Get_All_Opportunity</name>
        <label>Try to Get All Opportunity</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125m0000004HkbAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_case_to_opp</name>
        <label>Link case to opp</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Send_ER_team_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varERopportunity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resolution_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School ER prioritisation request approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request for ER prioritisation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varERopportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
