force-app/main/default/flows/CS_441_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Chatter_post</name>
        <label>Chatter post</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Emails sent to Principle, ER Team and Getfeedback survey sent to RM, Network Engineer, School IT/ICT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_ER_Programme</name>
        <label>Email  for ER Programme</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <actionName>Case.ES_ER_alert_Fix_IT_Report_IT_for_ER_Programme</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Chatter_post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ES_ER_alert_Fix_IT_Report_IT_for_ER_Programme</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_IT_Contact</name>
        <label>Email IT Contact</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <actionName>Case.ER_prioritisation_IT_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Principal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ER_prioritisation_IT_Lead</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Network_Engineer</name>
        <label>Email Network Engineer</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <actionName>Case.ER_Prioritisation_Network_Engineer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_RM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ER_Prioritisation_Network_Engineer_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Principal</name>
        <label>Email Principal</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <actionName>Case.ER_prioritisation_Principal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Network_Engineer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ER_prioritisation_Principal</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_RM</name>
        <label>Email RM</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <actionName>Case.ER_Prioritisation_Relationship_Manager_notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_for_ER_Programme</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ER_Prioritisation_Relationship_Manager_notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_IT_Contact</name>
        <label>Assign IT Contact</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_ITContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ITLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Contact_2_0</name>
        <label>Assign IT Contact_2</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_ITContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ITSupport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Contact_3</name>
        <label>Assign IT Contact 3</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_ITContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ITLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Principal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Lead</name>
        <label>Assign IT Lead</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_ITLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Principal_and_IT_contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Principal_and_IT_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Support</name>
        <label>Assign IT Support</label>
        <locationX>1062</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_ITSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Principal_and_IT_contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Principal_and_IT_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal</name>
        <label>Assign Principal</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Principal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Principal_and_IT_contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Principal_and_IT_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test_Assign</name>
        <label>Assign case record value</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Casevariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01290000000TNWUAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed Network to the Classroom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for ER prioritisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RM Request for ER Prioritisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed by Network Engineer to be considered for ER Programme</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casevariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inquiry_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_IT_Lead_is_found</name>
        <label>If IT Lead is found</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_IT_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ITLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ITLead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Contact</targetReference>
            </connector>
            <label>Yes has IT lead</label>
        </rules>
        <rules>
            <name>No_IT_lead_or_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ITLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ITSupport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Contact_3</targetReference>
            </connector>
            <label>No IT lead or Support</label>
        </rules>
        <rules>
            <name>No_IT_Lead_Yes_IT_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ITSupport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ITLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Contact_2_0</targetReference>
            </connector>
            <label>No IT Lead Yes IT support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_through_roles</name>
        <label>Loop through roles</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Get_Principal_and_IT_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Principal_and_IT_contacts.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal</targetReference>
            </connector>
            <label>Found Principal</label>
        </rules>
        <rules>
            <name>Found_IT_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Principal_and_IT_contacts.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Lead</targetReference>
            </connector>
            <label>Found IT lead</label>
        </rules>
        <rules>
            <name>Found_IT_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Principal_and_IT_contacts.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Support</targetReference>
            </connector>
            <label>Found IT Support</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS 441 2</label>
    <loops>
        <name>Get_Principal_and_IT_contacts</name>
        <label>Get Principal and IT contacts</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_contact_role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_IT_Lead_is_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inquiry_Cases</name>
        <label>Create Inquiry Cases</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_contact_role</targetReference>
        </connector>
        <inputReference>Casevariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_role</name>
        <label>Get contact role</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Principal_and_IT_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Email_IT_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Casevariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICT_Implementation_Contact__c</field>
            <value>
                <elementReference>var_ITContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>var_Principal</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Start_screen</name>
        <label>Start screen</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test_Assign</targetReference>
        </connector>
        <fields>
            <name>Reminding_text</name>
            <fieldText>&lt;p&gt;By clicking the &quot;Create ER Inquiry Case&quot; button, emails will be sent to &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Principal of the school, IT contact of the school, &lt;/span&gt;Relationship manager and Network Engineer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create ER Inquiry Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Casevariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VacctVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CaseContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseContactRole</objectType>
    </variables>
    <variables>
        <name>var_ITContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ITLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ITSupport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NetworkEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Principal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
