force-app/main/default/flows/DC_Test_deactivation_internal_user_7days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deactivated_Warning</name>
        <label>Deactivated Warning</label>
        <locationX>1238</locationX>
        <locationY>468</locationY>
        <actionName>User.Internal_User_Deactivated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Make_user_inactive</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.Internal_User_Deactivated</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Manager_3_Day_Alert</name>
        <label>Manager 3 Day Alert</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Manager_s_Details.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>itsupport@n4l.co.nz</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Salesforce User Deactivation Advice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ManagerAlert3Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Manager_7_Day_Alert</name>
        <label>Manager 7 Day Alert</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Copy_1_of_Get_Manager_s_Details.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>itsupport@n4l.co.nz</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Salesforce User Deactivation Advice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ManagerAlert7Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Manager_Alert_Deact</name>
        <label>Manager Alert Deact</label>
        <locationX>1106</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Copy_2_of_Get_Manager_s_Details.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>itsupport@n4l.co.nz</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce User Deactivation Advice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ManagerAlertDeact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X3_Days_Warning</name>
        <label>3 Days Warning</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <actionName>User.Internal_User_3_Day_Deactivation_Advice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Manager_s_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.Internal_User_3_Day_Deactivation_Advice</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X7_Days_Deactivation_Warning</name>
        <label>7 Days Deactivation Warning</label>
        <locationX>710</locationX>
        <locationY>468</locationY>
        <actionName>User.Internal_User_7_Day_Deactivation_Advice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_Manager_s_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.Internal_User_7_Day_Deactivation_Advice</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Last_Login_Date</name>
        <label>Check Last Login Date</label>
        <locationX>908</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_Days_Left_to_Deactivation_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastLoginDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus42</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Days_Warning</targetReference>
            </connector>
            <label>3 Days Left to Deactivation Alert</label>
        </rules>
        <rules>
            <name>X7_Days_Left_to_Deactivation_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastLoginDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus38</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Days_Deactivation_Warning</targetReference>
            </connector>
            <label>7 Days Left to Deactivation Alert</label>
        </rules>
        <rules>
            <name>Deactivate_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastLoginDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus45</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivated_Warning</targetReference>
            </connector>
            <label>Deactivate user</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check profile is internal user type.</description>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>1403</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_profile_eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CsnOnly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Last_Login_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Is_there_a_manager_record</name>
        <label>Is there a manager record?</label>
        <locationX>1238</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Manager_s_Details.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Alert_Deact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_there_a_manager_record</name>
        <label>Is there a manager record?</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Manager_s_Details.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_7_Day_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_manager_record</name>
        <label>Is there a manager record?</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manager_s_Details.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_3_Day_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastLoginDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.LastLoginDate})</expression>
    </formulas>
    <formulas>
        <name>TodayMinus38</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <formulas>
        <name>TodayMinus42</name>
        <dataType>Date</dataType>
        <expression>TODAY()-42</expression>
    </formulas>
    <formulas>
        <name>TodayMinus45</name>
        <dataType>Date</dataType>
        <expression>TODAY()-45</expression>
    </formulas>
    <interviewLabel>DC Test deactivation internal user 7days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DC Test deactivation internal user 7days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Manager_s_Details</name>
        <label>Get Manager&apos;s Details</label>
        <locationX>710</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_there_a_manager_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Manager_s_Details</name>
        <label>Get Manager&apos;s Details</label>
        <locationX>1238</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Is_there_a_manager_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_s_Details</name>
        <label>Get Manager&apos;s Details</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_manager_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Make_user_inactive</name>
        <label>Make user inactive</label>
        <locationX>1238</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Manager_s_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND( 12 OR 13 OR 14 OR 15  )AND 16</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0059000000TszWpAAJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00590000001CnFNAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0059000000TszWp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00590000001CnFN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00590000001COoc</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055m000000icvd</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055m000001N7Lb</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00590000001COocAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055m000000icvdAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055m000001N7LbAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00592000003x8ELAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00592000003wmxlAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00592000003x8HZAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00592000003x3S1AAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00592000003x8JBAAY</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-05</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ManagerAlert3Days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;white-space: pre;&quot; width=&quot;100%&quot;&gt;      &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;padding: 0px 40px 24px; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;white-space: pre;&quot; href=&quot;https://www.n4l.co.nz/&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;img border=&quot;0&quot; height=&quot;32px&quot; width=&quot;73px&quot; alt=&quot;Network for Learning&quot; src=&quot;https://support.n4l.co.nz/file-asset/plum?v=1&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;        &lt;tr style=&quot;white-space: pre;&quot; align=&quot;left&quot;&gt;    &lt;td style=&quot;padding: 16px 40px; white-space: pre;&quot; bgcolor=&quot;#ffffff&quot; valign=&quot;top&quot; align=&quot;left&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;p&gt;Kia ora {!Get_Manager_s_Details.FirstName},&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;      &lt;p&gt;The following salesforce user will be deactivated in 3 days unless they login before then: &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      Ngā mihi,&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      The team at Network for Learning&lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;   &lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; style=&quot;white-space: pre;&quot;&gt;  &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      © 2022, all rights reserved.&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;color:#646568&quot; href=&quot;https://www.n4l.co.nz&quot;&gt;Network for Learning&lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ManagerAlert7Days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;white-space: pre;&quot; width=&quot;100%&quot;&gt;      &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;padding: 0px 40px 24px; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;white-space: pre;&quot; href=&quot;https://www.n4l.co.nz/&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;img border=&quot;0&quot; height=&quot;32px&quot; width=&quot;73px&quot; alt=&quot;Network for Learning&quot; src=&quot;https://support.n4l.co.nz/file-asset/plum?v=1&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;        &lt;tr style=&quot;white-space: pre;&quot; align=&quot;left&quot;&gt;    &lt;td style=&quot;padding: 16px 40px; white-space: pre;&quot; bgcolor=&quot;#ffffff&quot; valign=&quot;top&quot; align=&quot;left&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;p&gt;Kia ora {!Copy_1_of_Get_Manager_s_Details.FirstName},&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;      &lt;p&gt;The following salesforce user will be deactivated in 7 days unless they login before then: &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      Ngā mihi,&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      The team at Network for Learning&lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;   &lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; style=&quot;white-space: pre;&quot;&gt;  &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      © 2022, all rights reserved.&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;color:#646568&quot; href=&quot;https://www.n4l.co.nz&quot;&gt;Network for Learning&lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ManagerAlertDeact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;white-space: pre;&quot; width=&quot;100%&quot;&gt;      &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;padding: 0px 40px 24px; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;white-space: pre;&quot; href=&quot;https://www.n4l.co.nz/&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;img border=&quot;0&quot; height=&quot;32px&quot; width=&quot;73px&quot; alt=&quot;Network for Learning&quot; src=&quot;https://support.n4l.co.nz/file-asset/plum?v=1&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;        &lt;tr style=&quot;white-space: pre;&quot; align=&quot;left&quot;&gt;    &lt;td style=&quot;padding: 16px 40px; white-space: pre;&quot; bgcolor=&quot;#ffffff&quot; valign=&quot;top&quot; align=&quot;left&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      &lt;p&gt;Kia ora {!Copy_2_of_Get_Manager_s_Details.FirstName},&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;      &lt;p&gt;The following salesforce user has not logged in for 45 days and has therefore been deactivated: &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;     &lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;div style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      Ngā mihi,&lt;br&gt;&lt;br&gt;      &lt;br&gt;&lt;br&gt;&lt;br&gt;      The team at Network for Learning&lt;br&gt;&lt;br&gt;      &lt;/div&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;   &lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; style=&quot;white-space: pre;&quot;&gt;  &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td style=&quot;white-space: pre;&quot;&gt;&lt;br&gt;&lt;br&gt;      © 2022, all rights reserved.&lt;br&gt;&lt;br&gt;&lt;br&gt;      &lt;a style=&quot;color:#646568&quot; href=&quot;https://www.n4l.co.nz&quot;&gt;Network for Learning&lt;/a&gt;&lt;br&gt;&lt;br&gt;    &lt;/td&gt;  &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
