force-app/main/default/flows/Device_Flow_called_from_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_chatter_post_match_Qty</name>
        <label>Account chatter post match Qty</label>
        <locationX>1112</locationX>
        <locationY>40</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Device_Record</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The Hardware Replacement Service Status has been updated to In Service as In Scope switch Qtys does match.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RecAccount.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Account_Chatter_Post_Mismatch_Qty</name>
        <label>Account Chatter Post Mismatch Qty</label>
        <locationX>1122</locationX>
        <locationY>207</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Device_Record</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The Hardware Replacement Service Status has been updated to In Service - Mismatch Qty as In Scope switch Qtys does not match.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RecAccount.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mismatch_Qty_chatter_post</name>
        <label>Mismatch Qty chatter post</label>
        <locationX>961</locationX>
        <locationY>207</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Account_Chatter_Post_Mismatch_Qty</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>As the two Qty value does not match, the reconciliation process has set the reconciliation status to &quot;To Be Reconciled&quot;.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vDeviceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Qty_Match_chatter_post</name>
        <label>Qty Match chatter post</label>
        <locationX>977</locationX>
        <locationY>41</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Account_chatter_post_match_Qty</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>As the two Qty value matched, the reconciliation process has set the reconciliation status to &quot;Not Required&quot;.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vDeviceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_In_Service_Date</name>
        <label>Set In Service Date</label>
        <locationX>453</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>RecAccount.CC_Switch_Support_In_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reconciliation_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Match_Qty</name>
        <label>Set Match Qty</label>
        <locationX>841</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>RecDevice.In_Scope_Devices_Qty_Reconciliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecAccount.Hardware_Replacement_Service_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qty_Match_chatter_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mismatch</name>
        <label>Set Mismatch</label>
        <locationX>845</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>RecDevice.In_Scope_Devices_Qty_Reconciliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Reconciled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecAccount.Hardware_Replacement_Service_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Service - Mismatch Qty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mismatch_Qty_chatter_post</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Device_ID</name>
        <label>Check Device ID</label>
        <locationX>142</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Device_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Device ID OK</defaultConnectorLabel>
        <rules>
            <name>Blank_Device_ID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDeviceID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Blank Device ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reconciliation_State</name>
        <label>Reconciliation State</label>
        <locationX>570</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecDevice.In_Scope_Devices_Qty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecDevice.In_Scope_Devices_Qty_Confirmed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match_Qty</targetReference>
            </connector>
            <label>Match</label>
        </rules>
        <rules>
            <name>Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecDevice.In_Scope_Devices_Qty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RecDevice.In_Scope_Devices_Qty_Confirmed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mismatch</targetReference>
            </connector>
            <label>Mismatch</label>
        </rules>
        <rules>
            <name>Blank_Values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecDevice.In_Scope_Devices_Qty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecDevice.In_Scope_Devices_Qty_Confirmed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Blank Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Switch_Support_In_Service_Date</name>
        <label>Update Switch Support In Service Date</label>
        <locationX>342</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Reconciliation_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_blank_date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecAccount.CC_Switch_Support_In_Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecAccount.CC_Switch_Support_In_Service_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Service_Date</targetReference>
            </connector>
            <label>Yes update blank date</label>
        </rules>
    </decisions>
    <description>Initially created to reconcile In Scope Devices Qty</description>
    <interviewLabel>Device Flow called from Process for device id: {!$Flow.CurrentDateTime}{!vDeviceID}
Flow Interview GUID: {!$Flow.InterviewGuid}</interviewLabel>
    <label>Device Flow called from Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>348</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Switch_Support_In_Service_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecDevice.Customer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hardware_Replacement_Service_Status__c</queriedFields>
        <queriedFields>CC_Switch_Support_In_Service_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Device_Record</name>
        <label>Get Device Record</label>
        <locationX>348</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDeviceID</elementReference>
            </value>
        </filters>
        <object>Device__c</object>
        <outputReference>RecDevice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>In_Scope_Devices_Qty__c</queriedFields>
        <queriedFields>In_Scope_Devices_Qty_Confirmed__c</queriedFields>
        <queriedFields>In_Scope_Devices_Qty_Reconciliation__c</queriedFields>
        <queriedFields>Customer__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>1303</locationX>
        <locationY>428</locationY>
        <inputReference>RecAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Device_Record</name>
        <label>Update Device Record</label>
        <locationX>1303</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <inputReference>RecDevice</inputReference>
    </recordUpdates>
    <startElementReference>Check_Device_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>RecAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecDevice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Device__c</objectType>
    </variables>
    <variables>
        <name>vDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
