force-app/main/default/flows/Display_Installed_Products_in_a_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_ES_Product</name>
        <label>Add ES Product</label>
        <locationX>954</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Product_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product</name>
        <label>Add Product</label>
        <locationX>945</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_all_products.Feature_Shortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_all_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the installed product is ES-S / ES-W</description>
        <name>Is_Product_ES</name>
        <label>Is Product ES?</label>
        <locationX>939</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Add_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_all_products.Feature_Shortname__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ES-S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_all_products.Feature_Shortname__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ES-W</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ES_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Displays all the related N4L installed products of the School on a Case field</description>
    <formulas>
        <name>Removecomma</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!varDisplayText}, (LEN({!varDisplayText}))-1))</expression>
    </formulas>
    <interviewLabel>Display Installed Products in a Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Installed Products in a Case</label>
    <loops>
        <name>Loop_thru_all_products</name>
        <label>Loop thru all products</label>
        <locationX>549</locationX>
        <locationY>494</locationY>
        <collectionReference>GetProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product_ES</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Product_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProducts</name>
        <label>GetProducts</label>
        <locationX>176</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_all_products</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>N4l_Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Network to the Classroom</stringValue>
            </value>
        </filters>
        <filters>
            <field>Feature_Shortname__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>HC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Installed_N4L_Product_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Feature_Shortname__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Product_Field</name>
        <label>Update Case Product Field</label>
        <locationX>554</locationX>
        <locationY>857</locationY>
        <inputAssignments>
            <field>Installed_N4L_Products__c</field>
            <value>
                <elementReference>Removecomma</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDisplayList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
