force-app/main/default/flows/Email_to_FeedItem_Migrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Individual_Emails</name>
        <label>Individual Emails</label>
        <locationX>589</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varEmailMessageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.MessageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEmailMessages.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Message</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2015-01-01</dateValue>
        </value>
    </constants>
    <decisions>
        <name>EVAL_Dates</name>
        <label>EVAL Dates</label>
        <locationX>163</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StartDate_Err</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <dateValue>2015-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dates_0</targetReference>
            </connector>
            <label>StartDate Err</label>
        </rules>
        <rules>
            <name>StartDate_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dates</targetReference>
            </connector>
            <label>StartDate Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Message</name>
        <label>Eval Message</label>
        <locationX>588</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Migrate_Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>varFromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@gen-i.co.nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@n4l.co.nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@telecom.co.nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@spark.co.nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@sparkdigital.co.nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailLength</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9800.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeedItem</targetReference>
            </connector>
            <label>Migrate Yes</label>
        </rules>
        <rules>
            <name>Migrate_No</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>TargetEmailAddresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TargetEmailAddresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9800.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Emails</targetReference>
            </connector>
            <label>Migrate No</label>
        </rules>
    </decisions>
    <description>Used to migrate specific subsets of email to feed items, to free up space in data storage area</description>
    <formulas>
        <name>DateMargin</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-180</expression>
    </formulas>
    <formulas>
        <name>EmailLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varTextBody})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmailRealm</name>
        <dataType>String</dataType>
        <expression>RIGHT({!varFromAddress},LEN({!varFromAddress})-FIND(&quot;@&quot;,{!varFromAddress})+1)</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>{!Start}+1</expression>
    </formulas>
    <formulas>
        <name>NewStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Continue}=TRUE,{!Start}+1,{!DefaultStartDate})</expression>
    </formulas>
    <formulas>
        <name>TargetEmailAddresses</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!EmailRealm}=&quot;@gen-i.co.nz&quot;,{!EmailRealm}=&quot;@n4l.co.nz&quot;,{!EmailRealm}=&quot;@telecom.co.nz&quot;,{!EmailRealm}=&quot;@spark.co.nz&quot;,{!EmailRealm}=&quot;@sparkdigital.co.nz&quot;),TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Email to FeedItem Migrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to FeedItem Migrator</label>
    <loops>
        <name>Loop_Emails</name>
        <label>Loop Emails</label>
        <locationX>365</locationX>
        <locationY>205</locationY>
        <assignNextValueToReference>sObjEmailMessages</assignNextValueToReference>
        <collectionReference>sObjColEmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectionProcessed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>FeedItem</name>
        <label>FeedItem</label>
        <locationX>368</locationX>
        <locationY>377</locationY>
        <assignRecordIdToReference>varFeedItemId</assignRecordIdToReference>
        <connector>
            <targetReference>EmailMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>FullEmailMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>00590000001CnFNAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>sObjEmailMessages.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordDeletes>
        <name>EmailMessage</name>
        <label>EmailMessage</label>
        <locationX>367</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Loop_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailMessageId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
    </recordDeletes>
    <recordLookups>
        <name>Email_Messages</name>
        <label>Email Messages</label>
        <locationX>363</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FromAddress</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>@n4l.co.nz</stringValue>
            </value>
        </filters>
        <filters>
            <field>FromAddress</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>masaki.takeda@n4l.co.nz</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>sObjColEmailMessage</outputReference>
        <queriedFields>ActivityId</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Dates</name>
        <label>Dates</label>
        <locationX>363</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Messages</targetReference>
        </connector>
        <fields>
            <name>Datessss</name>
            <fieldText>{!Start}
{!$Flow.CurrentDateTime}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dates_0</name>
        <label>Dates</label>
        <locationX>159</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InputVariables_SCRN</targetReference>
        </connector>
        <fields>
            <name>Datessss_0</name>
            <fieldText>The start date specified is incorrect - {!Start}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputVariables_SCRN</name>
        <label>InputVariables_SCRN</label>
        <locationX>20</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EVAL_Dates</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NewStartDate</elementReference>
            </defaultValue>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionProcessed</name>
        <label>SelectionProcessed</label>
        <locationX>20</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InputVariables_SCRN</targetReference>
        </connector>
        <fields>
            <name>Selected_Processed</name>
            <fieldText>The Date range {!Start} to {!EndDate} has been completed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Continue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>InputVariables_SCRN</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>FullEmailMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>From: {!varFromAddress}
Date: {!varMessageDate}
Subject: {!varEmailSubject}
{!varTextBody}</text>
    </textTemplates>
    <variables>
        <name>sObjColEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>sObjEmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMessageDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
