force-app/main/default/flows/EOO_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Link_case_to_the_created_opportunity</name>
        <label>Link case to the created opportunity</label>
        <locationX>1114</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>GetCaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseRecord.Resolution_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created a new in-flight Equipment Only Order.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_2</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_PricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5m0000000Zg4AAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment Replacement</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_already_linked_to_opportunity</name>
        <label>If already linked to opportunity</label>
        <locationX>305</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>if_MissingAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not linked to opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Linked_to_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecord.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseRecord.Opportunity__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Linked_opportunity</targetReference>
            </connector>
            <label>Yes - Linked to opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_CaseIsClosedResolved</name>
        <label>if_CaseIsClosedResolved</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>If_already_linked_to_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Closed_or_Resolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <label>Yes-Case Closed or Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ERSchool</name>
        <label>If_ERSchool</label>
        <locationX>784</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Try_get_Inflight_EOO_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an ER school</defaultConnectorLabel>
        <rules>
            <name>ER_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ER_Product_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERSchool</targetReference>
            </connector>
            <label>ER School</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_has_in_flight_EOO_opportunity</name>
        <label>If has in-flight EOO opportunity</label>
        <locationX>982</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_a_new_opportunity_for_the_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ok to create a new EOO opportunity</defaultConnectorLabel>
        <rules>
            <name>Has_In_flight_EOO_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_get_Inflight_EOO_opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_get_Inflight_EOO_opportunity.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_case_to_existing_EOO_opportunity</targetReference>
            </connector>
            <label>Has In-flight EOO opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_HasCaseID</name>
        <label>if_HasCaseID</label>
        <locationX>846</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>HasCaseID=NO</defaultConnectorLabel>
        <rules>
            <name>HasCaseID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseRecord</targetReference>
            </connector>
            <label>HasCaseID=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_MissingAccountId</name>
        <label>if_MissingAccountId</label>
        <locationX>553</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_ER_Product_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasAccountID</defaultConnectorLabel>
        <rules>
            <name>MissingAccountId</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecord.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseRecord.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Account</targetReference>
            </connector>
            <label>MissingAccountId</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmu_OpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>today()+30</expression>
    </formulas>
    <interviewLabel>EOO V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOO V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_new_EOO_opportunity</name>
        <label>Create a new EOO opportunity</label>
        <locationX>1114</locationX>
        <locationY>1358</locationY>
        <assignRecordIdToReference>var_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_case_to_the_created_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCaseRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmu_OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Created from case Number: {!GetCaseRecord.CaseNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!GetCaseRecord.Account.Name} - Equipment Only Orders</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>con_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000ufkFAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Equipment Only Order</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ER_Product_record</name>
        <label>Get ER Product record</label>
        <locationX>784</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_ERSchool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConER</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Installed_N4L_Product_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Linked_opportunity</name>
        <label>Get Linked opportunity</label>
        <locationX>58</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolve_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecord.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>GetCaseRecord</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_CaseIsClosedResolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Resolution_Category__c</queriedFields>
        <queriedFields>Resolution_Summary__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_get_Inflight_EOO_opportunity</name>
        <label>Try get Inflight EOO opportunity</label>
        <locationX>982</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_has_in_flight_EOO_opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_a_new_opportunity_for_the_case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecord.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment Only Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Convert_Case</name>
        <label>Convert Case</label>
        <locationX>586</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fmu_OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TNWZAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Complex MAC - Design tool change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>850</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Try_get_Inflight_EOO_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_2</name>
        <label>Update case</label>
        <locationX>1114</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>var_NewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>982</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Create_a_new_opportunity_for_the_case</name>
        <label>Create a new opportunity for the case</label>
        <locationX>1114</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_new_EOO_opportunity</targetReference>
        </connector>
        <fields>
            <name>Create_Opportunity</name>
            <fieldText>&lt;p&gt;Please click the button to resolve this case and proceed to quoting and ordering.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Equipment Only Order process:&lt;/p&gt;&lt;p&gt;Inquiry -&amp;gt; Opportunity -&amp;gt; Quote-&amp;gt; Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ERSchool</name>
        <label>ERSchool</label>
        <locationX>586</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Convert_Case</targetReference>
        </connector>
        <fields>
            <name>ThisIs_ER_School</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This is an ER school. Equipment order should be treated as MAC request instead of Equipment Only Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Convert to Complex MAC SR Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Link_case_to_existing_EOO_opportunity</name>
        <label>Link case to existing EOO opportunity</label>
        <locationX>850</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
        <fields>
            <name>Existing_opportunity</name>
            <fieldText>&lt;p&gt;In-flight Equipment Only Order opportunity found.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Stage: &lt;/b&gt;{!Try_get_Inflight_EOO_opportunity.StageName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;{!Try_get_Inflight_EOO_opportunity.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Amount: &lt;/b&gt;{!Try_get_Inflight_EOO_opportunity.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Link to the opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Need_Account</name>
        <label>Need Account</label>
        <locationX>322</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NeedAccount</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(195, 16, 16); background-color: rgb(255, 255, 255);&quot;&gt;Please select an account for the case record.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resolve_case</name>
        <label>Resolve case</label>
        <locationX>58</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NeedAccount_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(195, 16, 16);&quot;&gt;This case is already linked to an in-flight Equipment Only Order.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Stage: &lt;/b&gt;{!Get_Linked_opportunity.StageName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;{!Get_Linked_opportunity.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Amount: &lt;/b&gt;{!Get_Linked_opportunity.Amount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>720</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_HasCaseID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
