force-app/main/default/flows/ES_ER_Priortisation_Alert_on_design_task_and_parent_id_onboarding_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_parent_case</name>
        <label>Assign parent case</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Onboarding_case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_inquiry_case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_onboarding_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_resolution_and_call_driver_of_inquiry_case</name>
        <label>Decide resolution and call driver of inquiry case</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inquiry_case.Resolution_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School ER prioritisation request approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_inquiry_case.Call_Driver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for ER prioritisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_parent_case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ES-ER Priortisation-Alert on design task and parent id onboarding case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ES-ER Priortisation-Alert on design task and parent id onboarding case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_inquiry_case</name>
        <label>Get inquiry case</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000TNWUAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School ER prioritisation request approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request for ER prioritisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_case</name>
        <label>Get Onboarding case</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_resolution_and_call_driver_of_inquiry_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inquiry_case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125m0000004IAuAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment Replacement and Secure Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_onboarding_case</name>
        <label>Update onboarding case</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment Replacement and Secure Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Network to the Classroom</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inquiry_case.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_inquiry_case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_inquiry_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment Replacement and Secure Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125m0000004IAuAAM</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
