force-app/main/default/flows/Latest_Visit_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>EVAL_Acc</name>
        <label>EVAL Acc</label>
        <locationX>278</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Contact0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AccountNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Search_Definition</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Contact</name>
        <label>EVAL Contact</label>
        <locationX>275</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Contact0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>ContactNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchContactPrompt</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_EventType</name>
        <label>EVAL EventType</label>
        <locationX>403</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StakeholderEngagement_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TJOGAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>StakeholderEngagement_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent_Chosen.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TJOGAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventType</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Start_Object</name>
        <label>EVAL Start Object</label>
        <locationX>151</locationX>
        <locationY>15</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Lookup_0</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Starting_Object</name>
        <label>EVAL Starting Object</label>
        <locationX>14</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountObj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chosen_Output</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>EventObj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventNote</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <description>Manages events from Account or Event object with the outcome to have account and contact associated to the event and Latest Visit Date and new note created with details on the event meeting itself</description>
    <dynamicChoiceSets>
        <name>AccountContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>sObjContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountSearch</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sObjEvent_Chosen.AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountTypes</name>
        <dataType>String</dataType>
        <displayField>RecordTypeId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sObjAccount.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <valueField>RecordTypeId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Events</name>
        <dataType>String</dataType>
        <displayField>Calendar_Entry_Lable__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>sObjEventChosen.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>sObjAccount.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Contact</name>
        <dataType>String</dataType>
        <expression>IF({!sObjContact.Name}&lt;&gt;&quot;&quot;,{!sObjContact.Name}&amp;&quot; [&quot;&amp;{!sObjContact.Title}&amp;&quot;]&quot;,&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactANDEventOwner</name>
        <dataType>String</dataType>
        <expression>IF({!sObjContact.Name}&lt;&gt;&quot;&quot;,{!Contact}&amp;&quot;, &quot;&amp;{!EventOwner},{!EventOwner})</expression>
    </formulas>
    <formulas>
        <name>EventOwner</name>
        <dataType>String</dataType>
        <expression>{!sObjEventOwner.Name}&amp;&quot; [&quot;&amp;{!sObjEventOwner.Title}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>NoteSubject</name>
        <dataType>String</dataType>
        <expression>{!sObjEvent_Chosen.Subject}&amp;&quot; [&quot;&amp;TEXT({!sObjEvent_Chosen.ActivityDate})&amp;&quot;]&quot;</expression>
    </formulas>
    <interviewLabel>Latest Visit Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Latest Visit Date</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Event_Note</name>
        <label>Event Note</label>
        <locationX>468</locationX>
        <locationY>535</locationY>
        <assignRecordIdToReference>NoteId</assignRecordIdToReference>
        <connector>
            <targetReference>EventClose</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sObjEvent_Chosen.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>Chosen_Event</name>
        <label>Chosen Event</label>
        <locationX>18</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventsChoice</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>sObjEvent_Chosen</outputReference>
        <queriedFields>ActivityDateTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Location</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Event_Contact0</name>
        <label>Event Contact</label>
        <locationX>16</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>sObjContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sObjContact.Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Event_Lookup_0</name>
        <label>Event</label>
        <locationX>149</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LastestDateUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>sObjEvent_Chosen</outputReference>
        <queriedFields>ActivityDateTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Location</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Event_Owner</name>
        <label>Event Owner</label>
        <locationX>14</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Starting_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sObjEventOwner</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>EventClose</name>
        <label>EventClose</label>
        <locationX>596</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Latest_Visit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>EventContact</name>
        <label>EventContact</label>
        <locationX>147</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Event_Contact0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>EventType</name>
        <label>EventType</label>
        <locationX>338</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Event_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Latest_Visit_Date</name>
        <label>Latest Visit Date</label>
        <locationX>725</locationX>
        <locationY>531</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent_Chosen.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Visit_Date__c</field>
            <value>
                <elementReference>sObjEvent_Chosen.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Search_Definition</name>
        <label>Account Search Definition</label>
        <locationX>433</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountNameEnter</targetReference>
        </connector>
        <fields>
            <name>AccNameMSG</name>
            <fieldText>No Account is associated to this event, please search for one by entering as much of the beginning of the name as possible and specify the account type.
.
The next screen will provide a dropdown picklist that you can select from. Click &apos;Next&apos; once done
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>RecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AccountNameEnter</name>
        <label>AccountNameEnter</label>
        <locationX>434</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EVAL_Contact</targetReference>
        </connector>
        <fields>
            <name>Accounts</name>
            <choiceReferences>AccountSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Chosen_Output</name>
        <label>Chosen_Output</label>
        <locationX>15</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EventNote</targetReference>
        </connector>
        <fields>
            <name>Event_Selected</name>
            <fieldText>Please review event details below. If this is the correct event, click &apos;Next&apos;, alternatively click &apos;Previous&apos; to amend your selection
.
Contact: {!Contact}
.
Event Date &amp; Time: {!sObjEvent_Chosen.ActivityDateTime}
.
Subject: {!sObjEvent_Chosen.Subject}
Description: {!sObjEvent_Chosen.Description}
Location: {!sObjEvent_Chosen.Location}
.
Event Owner: {!EventOwner}
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EventNote</name>
        <label>EventNote</label>
        <locationX>149</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NotesOutput</targetReference>
        </connector>
        <fields>
            <name>EventNote_MSG</name>
            <fieldText>Please enter your meeting notes below.
.
The following will be captured as the header of your note:
Subject: {!sObjEvent_Chosen.Subject}
.
To proceed click &apos;Next&apos;, alternatively exit this window to exit the process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_Title0</name>
            <defaultValue>
                <elementReference>NoteSubject</elementReference>
            </defaultValue>
            <fieldText>Note Title</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>By default this concatenates the Event Subject and Date together. You are able to amend it, although recommend keeping it fairly aligned to the actual event itself</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The current title exceeds 255 characters. This field is limited to 255 characters, please amend.</errorMessage>
                <formulaExpression>LEN({!Note_Title0})&lt;=254</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Attendee_s</name>
            <defaultValue>
                <elementReference>ContactANDEventOwner</elementReference>
            </defaultValue>
            <fieldText>Attendee&apos;s</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>By default this field can only display one attendee and Event Owner automatically, you are able to add more.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_Body</name>
            <defaultValue>
                <elementReference>sObjEvent_Chosen.Description</elementReference>
            </defaultValue>
            <fieldText>Notes Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>By default the event is description is used. This field can be amended</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LastestDateUpdate</name>
        <label>LastestDateUpdate</label>
        <locationX>278</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EVAL_Acc</targetReference>
        </connector>
        <fields>
            <name>Lastest_Visit_Update_MSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Function: updates the Lastest Visit date and captures event notes on the associated Account&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To proceed please click &amp;apos;&lt;B&gt;Next&lt;/B&gt;&amp;apos;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note that this is exclusively for Stakeholder Engagements.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotesOutput</name>
        <label>NotesOutput</label>
        <locationX>274</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EVAL_EventType</targetReference>
        </connector>
        <fields>
            <name>Notes_Out</name>
            <fieldText>{!Note_Title0}
{!Attendee_s}
{!Notes_Body}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>18</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chosen_Event</targetReference>
        </connector>
        <fields>
            <name>SelectEvent</name>
            <fieldText>Please select one of the events listed below. Please note this only lists Stakeholder Engagement type events that are unresolved.
.
Once you have selected an event, please click &apos;Next&apos;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EventsChoice</name>
            <choiceReferences>Events</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stakeholder Engagement Events</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SearchContactPrompt</name>
        <label>SearchContactPrompt</label>
        <locationX>275</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EventContact</targetReference>
        </connector>
        <fields>
            <name>NoContactMSG</name>
            <fieldText>No contact is associated to this event, please select one of the contacts provided in the dropdown list below.
.
***Only contacts associated to the account will be presented</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactList</name>
            <choiceReferences>AccountContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Event_Lookup_0</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CurrUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EventNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>sObjEvent_Chosen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>sObjEventChosen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>sObjEventOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>sObjEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
