force-app/main/default/flows/Manual_Batch_Fix_Event_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>789</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Stakeholder_Engagement_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ExitLoop</name>
        <label>ExitLoop</label>
        <locationX>781</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>LoopEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContinueLoop</defaultConnectorLabel>
        <rules>
            <name>More_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Screen</targetReference>
            </connector>
            <label>More than 10</label>
        </rules>
    </decisions>
    <interviewLabel>Manual Batch Fix Event Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Batch Fix Event Data</label>
    <loops>
        <name>LoopEvent</name>
        <label>LoopEvent</label>
        <locationX>356</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>Obj_EventRecord</assignNextValueToReference>
        <collectionReference>ObjCol_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_missing_account_event</name>
        <label>Get missing account event</label>
        <locationX>259</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2019-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050o00000Vd29PAAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>ObjCol_Event</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>360</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CountsDisp</name>
            <fieldText>{!vCount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_missing_account_event</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Call_Stakeholder_Engagement_Flow</name>
        <label>Call Stakeholder Engagement Flow</label>
        <locationX>789</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>ExitLoop</targetReference>
        </connector>
        <flowName>Stakeholder_Engagement_Event</flowName>
        <inputAssignments>
            <name>varEvent</name>
            <value>
                <elementReference>Obj_EventRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Obj_EventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>ObjCol_Event</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
