force-app/main/default/flows/N4l_PSI_existing_equipment_subflow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Json_String</name>
        <label>Convert Json String</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>JSONToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_to_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonStringToConvert</name>
            <value>
                <elementReference>Get_value_from_Data.Value01</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JSONToCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_value_from_Data</name>
        <label>Get value from Data</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Json_String</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>existingEquipment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecords.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getSchoolIdFromJSONstring</name>
        <label>getSchoolIdFromJSONstring</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_value_from_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>schoolId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecords.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_each_item</name>
        <label>Parse each item</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Network_Element</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>existingProduct.salesforceId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>existingProduct.deviceMakeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName3</name>
            <value>
                <stringValue>serialNumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName4</name>
            <value>
                <stringValue>hostname</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName6</name>
            <value>
                <stringValue>existingProduct.deviceMake</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName7</name>
            <value>
                <stringValue>existingProduct.deviceName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName8</name>
            <value>
                <stringValue>existingProduct.deviceType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>Loop_through_to_JSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_Make_and_Model</name>
        <label>assign Make and Model</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Parse_each_item.Value02</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Make_and_Model</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whether_Network_Element_exist_in_SF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Network_Element</name>
        <label>assign Network Element</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>get_Network_Element.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Network_Element</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Existing_Equipment_Register</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Whether_Make_and_Model_exist_in_SF</name>
        <label>Whether Make and Model exist in SF</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Whether_Network_Element_exist_in_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Make and Model exist</defaultConnectorLabel>
        <rules>
            <name>Make_and_Model_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_each_item.Value02</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Make_and_Model</targetReference>
            </connector>
            <label>Make and Model does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_Network_Element_exist_in_SF</name>
        <label>Whether Network Element exist in SF</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Create_Existing_Equipment_Register</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Network Element exist</defaultConnectorLabel>
        <rules>
            <name>Network_Element_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Network_Element.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Network_Element</targetReference>
            </connector>
            <label>Network Element does not exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>nameOfdeviceMakeANDdeviceName</name>
        <dataType>String</dataType>
        <expression>{!Parse_each_item.Value06} +&apos;-&apos;+ {!Parse_each_item.Value07}</expression>
    </formulas>
    <interviewLabel>N4l PSI existing equipment subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4l PSI existing equipment subflow</label>
    <loops>
        <name>Loop_through_to_JSON</name>
        <label>Loop through to JSON</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>Convert_Json_String.JSONCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parse_each_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Whether_Make_and_Model_exist_in_SF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Existing_Equipment_Register</name>
        <label>Create Existing Equipment Register</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_School_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Origin__c</field>
            <value>
                <stringValue>Existing Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Model__c</field>
            <value>
                <elementReference>Parse_each_item.Value02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Element__c</field>
            <value>
                <elementReference>get_Network_Element.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Parse_each_item.Value01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125m0000004JRmAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Parse_each_item.Value03</elementReference>
            </value>
        </inputAssignments>
        <object>N4L_Asset_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Make_and_Model</name>
        <label>Create Make and Model</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>assign_Make_and_Model</targetReference>
        </connector>
        <inputAssignments>
            <field>Device_Type__c</field>
            <value>
                <elementReference>Parse_each_item.Value08</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Parse_each_item.Value06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameOfdeviceMakeANDdeviceName</elementReference>
            </value>
        </inputAssignments>
        <object>Device_Make_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Network_Element</name>
        <label>Create Network Element</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>assign_Network_Element</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_School_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Make_Model__c</field>
            <value>
                <elementReference>Parse_each_item.Value02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HostName__c</field>
            <value>
                <elementReference>Parse_each_item.Value04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Parse_each_item.Value04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Parse_each_item.Value01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125m0000004JQ9AAM</stringValue>
            </value>
        </inputAssignments>
        <object>Device__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Network_Element</name>
        <label>get Network Element</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_School_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parse_each_item.Value04</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Device__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_School_Info</name>
        <label>get School Info</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_to_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSchoolIdFromJSONstring.Value01</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSchoolIdFromJSONstring</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PlatformServicesIntegrationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>N4l_Platform_services_integration__c</objectType>
    </variables>
</Flow>
