force-app/main/default/flows/N4l_PSI_task_status_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_task_data_from_JSON</name>
        <label>Get task data from JSON</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Entity_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>data.taskId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>data.newStatus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName3</name>
            <value>
                <stringValue>header.action</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName4</name>
            <value>
                <stringValue>header.eventType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName5</name>
            <value>
                <stringValue>header.internalReferenceId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName6</name>
            <value>
                <stringValue>header.origin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName7</name>
            <value>
                <stringValue>data.entityIds</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecords.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_error_message</name>
        <label>Post error message</label>
        <locationX>754</locationX>
        <locationY>770</locationY>
        <actionName>PostApiForErrorMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value03</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value04</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value05</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value06</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PostApiForErrorMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_success_message</name>
        <label>Post success message</label>
        <locationX>314</locationX>
        <locationY>770</locationY>
        <actionName>PostApiForSuccessMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value03</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value04</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value05</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <elementReference>Get_task_data_from_JSON.Value06</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PostApiForSuccessMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>entityIdsForDebug</name>
        <dataType>String</dataType>
        <value>
            <stringValue>[&quot;a3N5P000000CMrbUAG&quot;,&quot;00T5P00000CKSxxUAH&quot;, &quot;2F0015P00000IY31iQAD&quot;]</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check to see if the entity Ids were received in event from design tool.</description>
        <name>Entity_Ids</name>
        <label>Entity Ids?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_task_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Entity Ids</defaultConnectorLabel>
        <rules>
            <name>Entity_Ids_included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_data_from_JSON.Value07</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>[]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_Ids</targetReference>
            </connector>
            <label>Entity Ids included</label>
        </rules>
    </decisions>
    <description>V4: included null checker for entityIds field
V3: Updated for new field entityIds https://n4lconz.atlassian.net/browse/MNTC-1309
V4: Fix issue no email send In Review with school</description>
    <environments>Default</environments>
    <formulas>
        <name>entityAttachmentIds_cleaned</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Get_task_data_from_JSON.Value07}, &apos;\&quot;&apos;, &apos;&apos;),&apos;[&apos;, &apos;&apos;),&apos;]&apos;,&apos;&apos;),&apos;,&apos;,&apos;;&apos;),&apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>N4l PSI task status change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4l PSI ER Lite task status changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Input Entity Ids received from Design tool into the Entity Attachment Ids field.</description>
        <name>Update_Entity_Ids</name>
        <label>Update Entity Ids</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_task_status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_task_data_from_JSON.Value01</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity_Attachment_Ids__c</field>
            <value>
                <elementReference>entityAttachmentIds_cleaned</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_status</name>
        <label>Update task status</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Post_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_task_data_from_JSON.Value01</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_task_data_from_JSON.Value02</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_task_data_from_JSON</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PlatformServicesIntegrationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>N4l_Platform_services_integration__c</objectType>
    </variables>
</Flow>
