force-app/main/default/flows/N4L_Update_username_email_for_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_user_for_new_contact</name>
        <label>Create user for new contact</label>
        <locationX>810</locationX>
        <locationY>442</locationY>
        <actionName>N4LUserFlowScreen</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactList</name>
            <value>
                <elementReference>Get_new_contact_with_old_email_address</elementReference>
            </value>
        </inputParameters>
        <nameSegment>N4LUserFlowScreen</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Change_user_values</name>
        <label>Change user values</label>
        <locationX>710</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>relatedUserRecord.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedUserRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppConActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_there_a_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_active_is_false</name>
        <label>Opp active is false</label>
        <locationX>1250</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>oppConActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_user_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppActive_is_true</name>
        <label>OppActive is true</label>
        <locationX>1235</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>oppConActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_user_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_old_email_address</name>
        <label>Store old email address</label>
        <locationX>1822</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>oldEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedUserRecord.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opposite_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_a_new_contact</name>
        <label>Check if there a new contact</label>
        <locationX>470</locationX>
        <locationY>704</locationY>
        <defaultConnector>
            <targetReference>Future_callout_to_avid_mixed_dml</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_theres_a_new_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_new_contact_with_old_email_address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_new_contact_with_old_email_address</targetReference>
            </connector>
            <label>If theres a new contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_user</name>
        <label>Check if there is a user</label>
        <locationX>1810</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_s_a_related_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedUserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_old_email_address</targetReference>
            </connector>
            <label>If there&apos;s a related user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opposite_Assignment</name>
        <label>Opposite Assignment</label>
        <locationX>1815</locationX>
        <locationY>804</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_conactive_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_active_is_false</targetReference>
            </connector>
            <label>If conactive is true</label>
        </rules>
        <rules>
            <name>If_conactive_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppActive_is_true</targetReference>
            </connector>
            <label>If conactive is false</label>
        </rules>
    </decisions>
    <description>12/01/22: Re-arranged flow sequence. It will only create a new user record if it is a new contact record, otherwise it will only update the user record.
this flow updates email and username based on contact</description>
    <interviewLabel>N4L Update username, email for user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4L Update username, email for user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_new_contact_with_old_email_address</name>
        <label>Get new contact with old email address</label>
        <locationX>481</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_user_for_new_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldEmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_user</name>
        <label>Get related user</label>
        <locationX>1225</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_a_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>relatedUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_record</name>
        <label>Update user record</label>
        <locationX>50</locationX>
        <locationY>892</locationY>
        <inputReference>relatedUserRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>725</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_related_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oldEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppConActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <waits>
        <name>Future_callout_to_avid_mixed_dml</name>
        <label>Future callout to avid mixed dml</label>
        <locationX>332</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>If_update_email</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_user_record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$System.OriginDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>If update email</label>
        </waitEvents>
    </waits>
</Flow>
