force-app/main/default/flows/N4L_Update_Contact_System_Accessible.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_empty_value</name>
        <label>Assign empty value</label>
        <locationX>815</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>contactInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInfo.System_Accessible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_filtering_portal</name>
        <label>assign filtering portal</label>
        <locationX>543</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>contactInfo.System_Accessible__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Fortiportal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_nms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NMS</name>
        <label>Assign NMS</label>
        <locationX>715</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>contactInfo.System_Accessible__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Network Management System</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_reporting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>School_reporting</name>
        <label>School reporting</label>
        <locationX>882</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>contactInfo.System_Accessible__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_nms</name>
        <label>check nms</label>
        <locationX>486</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>check_reporting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_nms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRecord.UserPermissionsNMSUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NMS</targetReference>
            </connector>
            <label>If nms?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reporting</name>
        <label>check reporting</label>
        <locationX>382</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>If_contact_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_reporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRecord.UserPermissionsSchoolReportingUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_reporting</targetReference>
            </connector>
            <label>If reporting?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_user_record_not_null</name>
        <label>check user record not null</label>
        <locationX>167</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_user_record_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_system_accessible</targetReference>
            </connector>
            <label>if user record is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_contact_is_not_null</name>
        <label>If contact is not null</label>
        <locationX>558</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Assign_empty_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contact_id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactInfo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_record</targetReference>
            </connector>
            <label>If contact id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_system_accessible</name>
        <label>If system accessible</label>
        <locationX>300</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>check_nms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_fortiportal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRecord.UserPermissionsFilteringPortalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_filtering_portal</targetReference>
            </connector>
            <label>If fortiportal</label>
        </rules>
    </decisions>
    <interviewLabel>N4L Update Contact System Accessible {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4L Update Contact System Accessible</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_contact_record</name>
        <label>Update contact record</label>
        <locationX>886</locationX>
        <locationY>374</locationY>
        <inputReference>contactInfo</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_user_record_not_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
