force-app/main/default/flows/N4l_PSI_main_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Decision_to_the_subflows</name>
        <label>Decision to the subflows</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_Existing_Equipment_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExistingEquipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_existing_equipment</targetReference>
            </connector>
            <label>create Existing Equipment Records</label>
        </rules>
        <rules>
            <name>create_SOW_Order_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_orders_subflow</targetReference>
            </connector>
            <label>create SOW Order Records</label>
        </rules>
        <rules>
            <name>create_ER_Lite_Order_Records</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERorders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4l_PSI_ER_orders_subflow</targetReference>
            </connector>
            <label>create ER Lite Order Records</label>
        </rules>
        <rules>
            <name>update_Task_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaskStatus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ER_task_status</targetReference>
            </connector>
            <label>update Task status</label>
        </rules>
        <rules>
            <name>Update_phase1_or_phase2_install_provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssignInstaller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_assign_install_provider</targetReference>
            </connector>
            <label>Update phase1 or phase2 install provider</label>
        </rules>
        <rules>
            <name>Create_Alert_Case_Proactive_Monitoring</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_Proactive_Monitoring_alert_case</targetReference>
            </connector>
            <label>Create Alert Case - Proactive Monitoring</label>
        </rules>
        <rules>
            <name>Create_compliance_case</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_Compliance_case</targetReference>
            </connector>
            <label>Create compliance case</label>
        </rules>
        <rules>
            <name>Create_Update_Asset_Reconciliation_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssetReconciliation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_PSI_Asset_Reconciliation_subflow</targetReference>
            </connector>
            <label>Create / Update Asset Reconciliation records</label>
        </rules>
        <rules>
            <name>N4L_PSI_Self_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SelfService</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_PSI_Self_Service_Flows</targetReference>
            </connector>
            <label>N4L PSI Self-Service</label>
        </rules>
        <rules>
            <name>Create_Update_ULM_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Service_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ULM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSI_ULM_Case</targetReference>
            </connector>
            <label>Create / Update ULM Case</label>
        </rules>
    </decisions>
    <description>UPDATED API VERSION  TO 57
Modified ULM branch to accept Create or Update flow method.</description>
    <environments>Default</environments>
    <interviewLabel>N4l PSI main flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4l PSI main flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_to_the_subflows</targetReference>
        </connector>
        <object>N4l_Platform_services_integration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launch the subflow to create, update, link, or delete N4L Equipment Register (N4L_Asset_Register__c) and Network Element (Device__c) records</description>
        <name>N4L_PSI_Asset_Reconciliation_subflow</name>
        <label>N4L PSI Asset Reconciliation subflow</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <flowName>N4L_PSI_Asset_Reconciliation_subflow</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>N4l_PSI_ER_orders_subflow</name>
        <label>N4l PSI ER Lite orders subflow</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_ER_orders_subflow</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Launch flow for Self-Service</description>
        <name>N4L_PSI_Self_Service_Flows</name>
        <label>N4L PSI Self-Service Flows</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <flowName>N4L_PSI_Self_Service</flowName>
        <inputAssignments>
            <name>PSIRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PSI_assign_install_provider</name>
        <label>PSI assign install provider</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_AssignInstaller</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSI_Compliance_case</name>
        <label>PSI Compliance case</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_Compliance_Case_subflow</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSI_existing_equipment</name>
        <label>PSI existing equipment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_existing_equipment_subflow1</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSI_orders_subflow</name>
        <label>PSI orders subflow</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_orders_subflow</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSI_Proactive_Monitoring_alert_case</name>
        <label>PSI Proactive Monitoring - alert case</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <flowName>Proactive_Monitoring_Alert_Case</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSI_ULM_Case</name>
        <label>PSI ULM Case</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <flowName>N4L_PSI_ULM_Case_subflow</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_ER_task_status</name>
        <label>Update ER task status</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <flowName>N4l_PSI_task_status_change</flowName>
        <inputAssignments>
            <name>PlatformServicesIntegrationRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
