force-app/main/default/flows/N4L_PSI_Asset_Reconciliation_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Parse the JSON string for the Asset (N4L Equipment Register)</description>
        <name>Parse_Asset_JSON</name>
        <label>Parse Asset JSON</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Link_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>asset._id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>asset.salesforceStatus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName3</name>
            <value>
                <stringValue>asset.serialNumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName4</name>
            <value>
                <stringValue>asset.productNo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName5</name>
            <value>
                <stringValue>asset.shipDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName6</name>
            <value>
                <stringValue>asset.trackLink</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName7</name>
            <value>
                <stringValue>asset.orderId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName8</name>
            <value>
                <stringValue>asset.macAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName9</name>
            <value>
                <stringValue>asset.comment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <outputParameters>
            <assignToReference>assetSourceUUID</assignToReference>
            <name>Value01</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetSerialNumber</assignToReference>
            <name>Value03</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetProductSKU</assignToReference>
            <name>Value04</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetShipmentDateText</assignToReference>
            <name>Value05</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetTrackLink</assignToReference>
            <name>Value06</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetPONumber</assignToReference>
            <name>Value07</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetMacAddress</assignToReference>
            <name>Value08</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assetComment</assignToReference>
            <name>Value09</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Parse the JSON string for the Element</description>
        <name>Parse_Element_JSON</name>
        <label>Parse Element JSON</label>
        <locationX>2426</locationX>
        <locationY>134</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Asset_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>element._id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>element.salesforceStatus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName3</name>
            <value>
                <stringValue>element.moeFunded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName4</name>
            <value>
                <stringValue>element.productCode</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName5</name>
            <value>
                <stringValue>element.deviceMakeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName6</name>
            <value>
                <stringValue>element.installLocation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName7</name>
            <value>
                <stringValue>element.accountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName8</name>
            <value>
                <stringValue>element.salesforceId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName9</name>
            <value>
                <stringValue>element.hostname</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <outputParameters>
            <assignToReference>elementSourceDataUUID</assignToReference>
            <name>Value01</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementMoeFundedText</assignToReference>
            <name>Value03</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementProductCode</assignToReference>
            <name>Value04</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementDeviceMakeId</assignToReference>
            <name>Value05</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementInstallationLocation</assignToReference>
            <name>Value06</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementAccountID</assignToReference>
            <name>Value07</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementProductId</assignToReference>
            <name>Value08</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elementHostName</assignToReference>
            <name>Value09</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Parse the JSON string for the Asset (N4L Equipment Register)</description>
        <name>Parse_Link_JSON</name>
        <label>Parse Link JSON</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Network_Element</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>link._id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>link.assetId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName3</name>
            <value>
                <stringValue>link.elementId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Data__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultipleJSONParser</nameSegment>
        <outputParameters>
            <assignToReference>linkUUID</assignToReference>
            <name>Value01</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>linkAssetUUID</assignToReference>
            <name>Value02</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>linkElementUUID</assignToReference>
            <name>Value03</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post an Error Message to Platform Services with Flow fault message</description>
        <name>Post_Asset_Error_Message1_to_PS</name>
        <label>Post Asset Error Message1 to PS</label>
        <locationX>1106</locationX>
        <locationY>2528</locationY>
        <actionName>PostApiForErrorMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>assetReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForErrorMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post an Error Message to Platform Services with Flow fault message</description>
        <name>Post_Asset_Error_Message_to_PS</name>
        <label>Post Asset Error Message to PS</label>
        <locationX>1634</locationX>
        <locationY>2528</locationY>
        <actionName>PostApiForErrorMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>assetReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForErrorMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post success message to Platform Services with new record ID of Asset</description>
        <name>Post_Asset_Success_Message</name>
        <label>Post Asset Success Message</label>
        <locationX>1634</locationX>
        <locationY>3128</locationY>
        <actionName>PostApiForSuccessMessagesController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>assetReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForSuccessMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post an Error Message to Platform Services with Flow fault message</description>
        <name>Post_Element_Error_Message_to_PS</name>
        <label>Post Element Error Message to PS</label>
        <locationX>985</locationX>
        <locationY>1106</locationY>
        <actionName>PostApiForErrorMessagesController</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Asset</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>elementReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForErrorMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post an Error Message to Platform Services with Flow fault message for link</description>
        <name>Post_Link_Error_Message_to_PS</name>
        <label>Post Link Error Message to PS</label>
        <locationX>2426</locationX>
        <locationY>3644</locationY>
        <actionName>PostApiForErrorMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>linkReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>linkUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForErrorMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post success message to Platform Services for link</description>
        <name>Post_Link_Success_Message</name>
        <label>Post Link Success Message</label>
        <locationX>1898</locationX>
        <locationY>3752</locationY>
        <actionName>PostApiForSuccessMessagesController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>linkReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>linkUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForSuccessMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post success message to Platform Services with new record ID</description>
        <name>Post_Success_Message_Element</name>
        <label>Post Success Message - Element</label>
        <locationX>1843</locationX>
        <locationY>1472</locationY>
        <actionName>PostApiForSuccessMessagesController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>responseAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>PlatformServicesIntegrationRecord.Flow_Service_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>elementReplyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalReferenceId</name>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostApiForSuccessMessagesController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Set the assetID variable to send back to Asset Reconiliation service</description>
        <name>Assign_updated_Asset_ID</name>
        <label>Assign updated Asset ID</label>
        <locationX>1106</locationX>
        <locationY>2852</locationY>
        <assignmentItems>
            <assignToReference>assetID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_Asset_exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Asset_Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the updated Network Element salesforce record ID to a variable to send with Success Message</description>
        <name>Assign_updated_Element_ID</name>
        <label>Assign updated Element ID</label>
        <locationX>1249</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>elementID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Existing_Element.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Success_Message_Element</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The developer name of the Record Type for the asset (N4L Equipment Register) record created</description>
        <name>assetRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Network_Equipment</stringValue>
        </value>
    </constants>
    <constants>
        <description>The developer name of the record type used to create the Network Element (Device__c) record</description>
        <name>elementRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LAN_Element</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Is there an asset included in the JSON message?</description>
        <name>Asset</name>
        <label>Asset</label>
        <locationX>2426</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset</defaultConnectorLabel>
        <rules>
            <name>Change_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetSourceUUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Asset</targetReference>
            </connector>
            <label>Change Asset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there an existing element to update (based on UUID)?</description>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>853</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Network_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Element</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there an existing asset (N4L Equipment Register) record with the UUID send in the JSON? If yes, update the existing one, if not, create a new one.</description>
        <name>Create_or_Update_asset</name>
        <label>Create or Update asset</label>
        <locationX>578</locationX>
        <locationY>2204</locationY>
        <defaultConnector>
            <targetReference>should_we_update_comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update existing Asset</defaultConnectorLabel>
        <rules>
            <name>Create_a_new_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Asset_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record_Type</targetReference>
            </connector>
            <label>Create a new Asset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check flow method to see if Asset should be deleted</description>
        <name>Delete_Asset</name>
        <label>Delete Asset?</label>
        <locationX>1634</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>Delete_Asset_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Asset</defaultConnectorLabel>
        <rules>
            <name>Create_update_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformServicesIntegrationRecord.Flow_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Asset_exists</targetReference>
            </connector>
            <label>Create / update Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_method</name>
        <label>Flow method</label>
        <locationX>1843</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Post_Success_Message_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other / Null</defaultConnectorLabel>
        <rules>
            <name>Create_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatformServicesIntegrationRecord.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatformServicesIntegrationRecord.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Element</targetReference>
            </connector>
            <label>Create / Update</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformServicesIntegrationRecord.Flow_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Network_Element</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there a link included in the JSON message</description>
        <name>Link</name>
        <label>Link?</label>
        <locationX>2426</locationX>
        <locationY>3320</locationY>
        <defaultConnectorLabel>No Link required</defaultConnectorLabel>
        <rules>
            <name>Link_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>linkUUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Element_to_Link_to_Asset</targetReference>
            </connector>
            <label>Link required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there a Network Element in the JSON message? Check for _id field, if blank, move to next object (asset). If _id exists, create or update the record.</description>
        <name>Network_Element</name>
        <label>Network Element</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Network Element</defaultConnectorLabel>
        <rules>
            <name>Change_Network_Element</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>elementSourceDataUUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_method</targetReference>
            </connector>
            <label>Change Network Element</label>
        </rules>
    </decisions>
    <decisions>
        <name>should_we_update_comment</name>
        <label>should we update comment</label>
        <locationX>1106</locationX>
        <locationY>2312</locationY>
        <defaultConnector>
            <targetReference>Update_the_existing_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_comment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Asset_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_if_Asset_exists.Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_if_Asset_exists.Comment__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_the_existing_asset_with_comment</targetReference>
            </connector>
            <label>Update comment</label>
        </rules>
    </decisions>
    <description>Manage create, update and delete of Network Elements and Equipment Register records from Asset Reconciliation service</description>
    <environments>Default</environments>
    <formulas>
        <description>The asset ID with &apos;asset-&apos; prepended. To identify the object type for reply to asset-reconciliation service</description>
        <name>assetReplyID</name>
        <dataType>String</dataType>
        <expression>&quot;asset-&quot; &amp; {!assetSourceUUID} &amp; &quot;;&quot; &amp; {!assetID}</expression>
    </formulas>
    <formulas>
        <description>Converts text of asset shipment date to date field. Used to populate the Warranty start date on Asset record.</description>
        <name>assetShipmentDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!assetShipmentDateText})</expression>
    </formulas>
    <formulas>
        <description>A formula that gets the integer value of the text parsed from JSON for moeFunded field</description>
        <name>elementMoeFundedNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!elementMoeFundedText})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>The element ID with &apos;element-&apos; prepended, to identify ID type when sending response for asset reconciliation service.</description>
        <name>elementReplyID</name>
        <dataType>String</dataType>
        <expression>&apos;element-&apos; &amp; {!elementSourceDataUUID} &amp; &apos;;&apos; &amp; {!elementID}</expression>
    </formulas>
    <formulas>
        <description>Input the link id into the ids property in the success or error message sent to asset reconciliation service</description>
        <name>linkReplyID</name>
        <dataType>String</dataType>
        <expression>&apos;link-&apos; &amp; {!linkUUID}</expression>
    </formulas>
    <formulas>
        <description>The lower case of the Flow Service field on PSI record. Sent as event action in succuss or error reply</description>
        <name>responseAction</name>
        <dataType>String</dataType>
        <expression>LOWER(TEXT({!PlatformServicesIntegrationRecord.Flow_Method__c}))</expression>
    </formulas>
    <interviewLabel>N4L PSI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N4L PSI Asset Reconciliation subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the asset (N4L Equipment Register) record based on values in JSON</description>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>50</locationX>
        <locationY>2420</locationY>
        <assignRecordIdToReference>assetID</assignRecordIdToReference>
        <connector>
            <targetReference>Post_Asset_Success_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>assetComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courier_Track_No__c</field>
            <value>
                <elementReference>assetTrackLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAC_Address__c</field>
            <value>
                <elementReference>assetMacAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Model__c</field>
            <value>
                <elementReference>assetMakeModelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>assetProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Asset_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>assetSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Data_UUID__c</field>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Transit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Start_Date__c</field>
            <value>
                <elementReference>assetShipmentDate</elementReference>
            </value>
        </inputAssignments>
        <object>N4L_Asset_Register__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create the Network Element record</description>
        <name>Create_Network_Element</name>
        <label>Create Network Element</label>
        <locationX>457</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>elementID</assignRecordIdToReference>
        <connector>
            <targetReference>Post_Success_Message_Element</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>elementAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Make_Model__c</field>
            <value>
                <elementReference>elementDeviceMakeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HostName__c</field>
            <value>
                <elementReference>elementHostName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Location__c</field>
            <value>
                <elementReference>elementInstallationLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MoE_Funded__c</field>
            <value>
                <elementReference>elementMoeFundedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>elementHostName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>elementProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Data_UUID__c</field>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Proposed</stringValue>
            </value>
        </inputAssignments>
        <object>Device__c</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete the Asset (N4L Equipment Register) record</description>
        <name>Delete_Asset_Record</name>
        <label>Delete Asset Record</label>
        <locationX>2690</locationX>
        <locationY>1880</locationY>
        <connector>
            <targetReference>Post_Asset_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </filters>
        <object>N4L_Asset_Register__c</object>
    </recordDeletes>
    <recordDeletes>
        <description>Delete the Network Element using UUID provided</description>
        <name>Delete_Network_Element</name>
        <label>Delete Network Element</label>
        <locationX>2305</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Post_Success_Message_Element</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </filters>
        <object>Device__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Query to check if there is an element record existing in Salesforce based on UUID provided</description>
        <name>Check_for_Existing_Element</name>
        <label>Check for Existing Element</label>
        <locationX>853</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_for_Element</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Device__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if there is an existing asset (N4L Equipment Register) record with the _id (SourceUUID) sent in the JSON</description>
        <name>Check_if_Asset_exists</name>
        <label>Check if Asset exists</label>
        <locationX>578</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>N4L_Asset_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type based on Developer Name input in assetRecordTypeName variable</description>
        <name>Get_Asset_Record_Type</name>
        <label>Get Asset Record Type</label>
        <locationX>50</locationX>
        <locationY>2312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>N4L_Asset_Register__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Element record from the UUID to be linked to the Asset</description>
        <name>Get_Element_to_Link_to_Asset</name>
        <label>Get Element to Link to Asset</label>
        <locationX>1898</locationX>
        <locationY>3428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_with_Link_to_Element</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Link_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>linkElementUUID</elementReference>
            </value>
        </filters>
        <object>Device__c</object>
        <outputAssignments>
            <assignToReference>linkElementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Order based on the PO Number sent through</description>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>578</locationX>
        <locationY>2096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PoNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetPONumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the product record for the asset based on the productNo sent in JSON, store the device make and model ID and product ID for asset create/update.
Shipment report may contain SKU or Product Code, so the record filter will check both fields</description>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>578</locationX>
        <locationY>1988</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetProductSKU</elementReference>
            </value>
        </filters>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetProductSKU</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>assetMakeModelId</assignToReference>
            <field>Device_Make_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assetProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the product record for the element based on the productCode or productId sent in JSON, store the device make and model ID and product ID for asset create/update.</description>
        <name>Get_Product_for_Element</name>
        <label>Get Product for Element</label>
        <locationX>853</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>elementProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type based on Developer Name input in recordTypeName variable</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>457</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Network_Element</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Device__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Based on the JSON, link the Asset and the Element together</description>
        <name>Update_Asset_with_Link_to_Element</name>
        <label>Update Asset with Link to Element</label>
        <locationX>1898</locationX>
        <locationY>3536</locationY>
        <connector>
            <targetReference>Update_Element_to_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Link_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>linkAssetUUID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Network_Element__c</field>
            <value>
                <elementReference>linkElementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Service</stringValue>
            </value>
        </inputAssignments>
        <object>N4L_Asset_Register__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>When the Asset and Element are linked, update the status of the Element to &apos;Active&apos;</description>
        <name>Update_Element_to_Active</name>
        <label>Update Element to Active</label>
        <locationX>1898</locationX>
        <locationY>3644</locationY>
        <connector>
            <targetReference>Post_Link_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Link_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>linkElementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Device__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update record based on new values</description>
        <name>Update_Network_Element</name>
        <label>Update Network Element</label>
        <locationX>1249</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_updated_Element_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Element_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>elementSourceDataUUID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>elementAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Make_Model__c</field>
            <value>
                <elementReference>elementDeviceMakeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HostName__c</field>
            <value>
                <elementReference>elementHostName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Location__c</field>
            <value>
                <elementReference>elementInstallationLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MoE_Funded__c</field>
            <value>
                <elementReference>elementMoeFundedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>elementHostName</elementReference>
            </value>
        </inputAssignments>
        <object>Device__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing Asset record (N4L Equipment Register) based on UUID.</description>
        <name>Update_the_existing_asset</name>
        <label>Update the existing asset</label>
        <locationX>1370</locationX>
        <locationY>2420</locationY>
        <connector>
            <targetReference>Assign_updated_Asset_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Asset_Error_Message_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Courier_Track_No__c</field>
            <value>
                <elementReference>assetTrackLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAC_Address__c</field>
            <value>
                <elementReference>assetMacAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Model__c</field>
            <value>
                <elementReference>assetMakeModelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>assetProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>assetSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Start_Date__c</field>
            <value>
                <elementReference>assetShipmentDate</elementReference>
            </value>
        </inputAssignments>
        <object>N4L_Asset_Register__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing Asset record (N4L Equipment Register) based on UUID.</description>
        <name>Update_the_existing_asset_with_comment</name>
        <label>Update the existing asset with comment</label>
        <locationX>842</locationX>
        <locationY>2420</locationY>
        <connector>
            <targetReference>Assign_updated_Asset_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Asset_Error_Message1_to_PS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Data_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetSourceUUID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>assetComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courier_Track_No__c</field>
            <value>
                <elementReference>assetTrackLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAC_Address__c</field>
            <value>
                <elementReference>assetMacAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Model__c</field>
            <value>
                <elementReference>assetMakeModelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>assetProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>assetSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Start_Date__c</field>
            <value>
                <elementReference>assetShipmentDate</elementReference>
            </value>
        </inputAssignments>
        <object>N4L_Asset_Register__c</object>
    </recordUpdates>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parse_Element_JSON</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Asset ID of the created or updated asset. Used in success message</description>
        <name>assetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The JSON for the asset sent from asset reconciliation service</description>
        <name>assetJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The MAC Address of the Asset sent in JSON</description>
        <name>assetMacAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The make and model record ID of the asset based on the product sent in JSON</description>
        <name>assetMakeModelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The PO Number sent in the Asset JSON. NOTE - this field is called orderId in JSON</description>
        <name>assetPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Product2 record ID of the Asset based on the Product Number sent in the JSON</description>
        <name>assetProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product SKU of Asset sent in JSON string (property name = productNo in JSON)
Shipment report may contain SKU or Product Code, so this variable will reflect what was sent in the shipment report.</description>
        <name>assetProductSKU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The serial number of the asset sent in the JSON</description>
        <name>assetSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The shipment date parsed from JSON stored as text. Used in formula assetShipmentDate to convert to Date field</description>
        <name>assetShipmentDateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The UUID sent in the JSON for the asset (property name _id)</description>
        <name>assetSourceUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Courier tracking link from JSON</description>
        <name>assetTrackLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>School Account ID</description>
        <name>elementAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID for Device Make and Model record provided in Element JSON</description>
        <name>elementDeviceMakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Host Name of the Device</description>
        <name>elementHostName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The salesforce ID of the Network Element created / update</description>
        <name>elementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Where is the device installed (Building, Floor, Room, Rack name, and U Position). Parsed from JSON element object</description>
        <name>elementInstallationLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The JSON from the element sent from Asset Reconciliation service</description>
        <name>elementJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text output of MoeFunded field in JSON</description>
        <name>elementMoeFundedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product Code parsed from JSON element object</description>
        <name>elementProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the Product record in salesforce. This is &apos;salesforceId&apos; in the JSON. For the Element</description>
        <name>elementProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UUID of the source record in N4L Platform Services environment.</description>
        <name>elementSourceDataUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UUID of Asset (N4L Equipment Register) to link</description>
        <name>linkAssetUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Salesforce Id of the Element to be linked.</description>
        <name>linkElementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UUID of Network Element (Device) to link</description>
        <name>linkElementUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The UUID of the link (in PS link is a separate table)</description>
        <name>linkUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The PSI record passed to subflow from record-triggered flow.</description>
        <name>PlatformServicesIntegrationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>N4l_Platform_services_integration__c</objectType>
    </variables>
</Flow>
