force-app/main/default/flows/Network_Upgrade_Pricing_Manual_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>EVAL_UpgradeType</name>
        <label>EVAL_UpgradeType</label>
        <locationX>407</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Complex_Access_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_SPRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentAccess_Prod_Lookup_0</targetReference>
            </connector>
            <label>Complex Access Upgrade</label>
        </rules>
        <rules>
            <name>Complex_Access_AND_CLNE_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_SPRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentCLNE_ProductLookup</targetReference>
            </connector>
            <label>Complex Access AND CLNE Upgrade</label>
        </rules>
        <rules>
            <name>Complex_CLNE_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_SPRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentCLNE_ProductLookup_0</targetReference>
            </connector>
            <label>Complex CLNE Upgrade</label>
        </rules>
    </decisions>
    <description>This flow is used to manually check pricing</description>
    <formulas>
        <name>Additional_Monthly_Costs</name>
        <dataType>Currency</dataType>
        <expression>{!New_Monthly_Costs}-{!Current_MonthlyCost}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BitStream</name>
        <dataType>String</dataType>
        <expression>IF({!Case_Requested_BitStream} &lt;&gt;&quot;&quot;,{!Case_Requested_BitStream},{!Current_BitStream_Type})</expression>
    </formulas>
    <formulas>
        <name>Current_MonthlyCost</name>
        <dataType>Currency</dataType>
        <expression>{!Curr_CLNE_UnitPrice}+{!Curr_Access_UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NEN_Trial</name>
        <dataType>Boolean</dataType>
        <expression>IF({!NENSchool}=&quot;Yes&quot;,True,False)</expression>
    </formulas>
    <formulas>
        <name>New_Monthly_Costs</name>
        <dataType>Currency</dataType>
        <expression>{!Req_CLNE_UnitPrice}+{!Req_Access_UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Network Upgrade Pricing Manual Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Network Upgrade Pricing Manual Check</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountLookup</name>
        <label>AccountLookup</label>
        <locationX>279</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Pricebook_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BillingInitiative</assignToReference>
            <field>Billing_Initiative__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCLNE</assignToReference>
            <field>Current_CLNE_Make_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentBW</assignToReference>
            <field>Current_Connection_Bandwidth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_BitStream_Type</assignToReference>
            <field>LFC_Provider_Access_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LFCProvider</assignToReference>
            <field>LFC_Provider__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NENSchool</assignToReference>
            <field>NEN_Trial_schools__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Active_Pricebook_Lookup</name>
        <label>Active Pricebook Lookup</label>
        <locationX>407</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_UpgradeType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>2016-07-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Is_Billing_Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
    </recordLookups>
    <recordLookups>
        <name>CaseLookup</name>
        <label>CaseLookup</label>
        <locationX>153</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_No_Input</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Requested_CLNE</assignToReference>
            <field>Requested_CLNE_Make_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Requested_BW</assignToReference>
            <field>Requested_Connection_Bandwidth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Requested_BitStream</assignToReference>
            <field>Requested_LFC_Provider_Access_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_SPRequestType</assignToReference>
            <field>Spark_Service_Request_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Current_CLNE_PriceBook_Lookup</name>
        <label>Current CLNE PriceBook Lookup</label>
        <locationX>19</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_Access_PriceBook_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCLNE_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Curr_CLNE_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Current_CLNE_PriceBook_Lookup_0</name>
        <label>Current CLNE PriceBook Lookup</label>
        <locationX>402</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_CLNE_PriceBook_Lookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCLNE_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Curr_CLNE_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentAccess_PriceBook_Lookup</name>
        <label>CurrentAccess PriceBook Lookup</label>
        <locationX>20</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_CLNE_PriceBook_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Access_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Curr_Access_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentAccess_PriceBook_Lookup_0</name>
        <label>CurrentAccess PriceBook Lookup</label>
        <locationX>691</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_Access_PriceBook_Lookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Access_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Curr_Access_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentAccess_Prod_Lookup</name>
        <label>CurrentAccess_Prod_Lookup</label>
        <locationX>22</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_Access_Product_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingInitiative</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_BitStream_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LFCProvider</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentBW</elementReference>
            </value>
        </filters>
        <filters>
            <field>CanUseRevenueSchedule</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Current_Access_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_Access_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentAccess_Prod_Lookup_0</name>
        <label>CurrentAccess_Prod_Lookup</label>
        <locationX>694</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_Access_Product_Lookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingInitiative</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_BitStream_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LFCProvider</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentBW</elementReference>
            </value>
        </filters>
        <filters>
            <field>CanUseRevenueSchedule</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Current_Access_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_Access_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentCLNE_ProductLookup</name>
        <label>CurrentCLNE_ProductLookup</label>
        <locationX>21</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestedCLNE_ProductLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCLNE</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>CurrentCLNE_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCLNE_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentCLNE_ProductLookup_0</name>
        <label>CurrentCLNE_ProductLookup</label>
        <locationX>403</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestedCLNE_ProductLookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCLNE</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>CurrentCLNE_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCLNE_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_Access_PriceBook_Lookup</name>
        <label>Requested Access PriceBook Lookup</label>
        <locationX>20</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_CLNE_PriceBook_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requested_Access_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Req_Access_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_Access_PriceBook_Lookup_0</name>
        <label>Requested Access PriceBook Lookup</label>
        <locationX>694</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access_CLNE_Upgrade_Cost_Prompt_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requested_Access_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Req_Access_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_Access_Product_Lookup</name>
        <label>Requested_Access_Product_Lookup</label>
        <locationX>22</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentAccess_PriceBook_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingInitiative</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BitStream</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LFCProvider</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Requested_BW</elementReference>
            </value>
        </filters>
        <filters>
            <field>CanUseRevenueSchedule</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Requested_Access_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Requested_Access_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_Access_Product_Lookup_0</name>
        <label>Requested_Access_Product_Lookup</label>
        <locationX>694</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentAccess_PriceBook_Lookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingInitiative</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BitStream</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LFCProvider</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Requested_BW</elementReference>
            </value>
        </filters>
        <filters>
            <field>CanUseRevenueSchedule</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Requested_Access_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Requested_Access_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_CLNE_PriceBook_Lookup</name>
        <label>Requested CLNE PriceBook Lookup</label>
        <locationX>17</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access_CLNE_Upgrade_Cost_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedCLNE_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Req_CLNE_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requested_CLNE_PriceBook_Lookup_0</name>
        <label>Requested CLNE PriceBook Lookup</label>
        <locationX>404</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access_CLNE_Upgrade_Cost_Prompt_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedCLNE_Prod_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook2ID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Req_CLNE_UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RequestedCLNE_ProductLookup</name>
        <label>RequestedCLNE_ProductLookup</label>
        <locationX>21</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentAccess_Prod_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Requested_CLNE</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>RequestedCLNE_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestedCLNE_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RequestedCLNE_ProductLookup_0</name>
        <label>RequestedCLNE_ProductLookup</label>
        <locationX>403</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_CLNE_PriceBook_Lookup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Requested_CLNE</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>RequestedCLNE_Prod_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestedCLNE_Prod_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Access_CLNE_Upgrade_Cost_Prompt</name>
        <label>Access &amp; CLNE Upgrade Cost Prompt</label>
        <locationX>18</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Access_CLNE_Upgrade_Cost_MSG</name>
            <fieldText>Previous CLNE Costs (Monthly): {!Curr_CLNE_UnitPrice}
Previous Access Costs (Monthly): {!Curr_Access_UnitPrice}

New CLNE Costs (Monthly): {!Req_CLNE_UnitPrice}
New Access Costs (Monthly): {!Req_Access_UnitPrice}
Installation Costs (Once Off): {!Complex_MAC}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Access_CLNE_Upgrade_Cost_Prompt_0</name>
        <label>Access &amp; CLNE Upgrade Cost Prompt</label>
        <locationX>405</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Access_CLNE_Upgrade_Cost_MSG_0</name>
            <fieldText>Previous CLNE Costs (Monthly): {!Curr_CLNE_UnitPrice}
Previous Access Costs (Monthly): {!Curr_Access_UnitPrice}

New CLNE Costs (Monthly): {!Req_CLNE_UnitPrice}
New Access Costs (Monthly): {!Req_Access_UnitPrice}
Installation Costs (Once Off): {!Complex_MAC}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Access_CLNE_Upgrade_Cost_Prompt_0_0</name>
        <label>Access &amp; CLNE Upgrade Cost Prompt</label>
        <locationX>695</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Access_CLNE_Upgrade_Cost_MSG_0_0</name>
            <fieldText>Previous CLNE Costs (Monthly): {!Curr_CLNE_UnitPrice}
Previous Access Costs (Monthly): {!Curr_Access_UnitPrice}

New CLNE Costs (Monthly): {!Req_CLNE_UnitPrice}
New Access Costs (Monthly): {!Req_Access_UnitPrice}
Installation Costs (Once Off): {!Complex_MAC}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_No_Prompt</name>
        <label>Case No Prompt</label>
        <locationX>23</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CaseLookup</targetReference>
        </connector>
        <fields>
            <name>Case_No_Input</name>
            <dataType>String</dataType>
            <fieldText>Case No Input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case_No_Prompt</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BillingInitiative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Case_Requested_BitStream</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Case_Requested_BW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Requested_CLNE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Case_SPRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Complex_MAC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Curr_Access_UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Curr_CLNE_UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Current_Access_Prod_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Current_Access_Prod_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Current_BitStream_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentBW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentCLNE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentCLNE_Prod_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentCLNE_Prod_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LFCProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NENSchool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PriceBook2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01s900000068MopAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>Req_Access_UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Req_CLNE_UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Requested_Access_Prod_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Requested_Access_Prod_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestedCLNE_Prod_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestedCLNE_Prod_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
