force-app/main/default/flows/Network_Upgrade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CLNE_Upgrade_Approval</name>
        <label>CLNE Upgrade Approval</label>
        <locationX>859</locationX>
        <locationY>610</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>SFAdmin_Chttr</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a5m000000Cak9AAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SFAdmin_Chttr</name>
        <label>SFAdmin_Chttr</label>
        <locationX>983</locationX>
        <locationY>608</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Approval_Request_Submitted_SCRN</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00590000001DK4WAAW] Hi there, could you please look at this upgrade request to ensure pricing is correct</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_Err_Info</name>
        <label>Upgrade Err Info</label>
        <locationX>862</locationX>
        <locationY>699</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Notify_User</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00590000001DK4WAAW] Hi SF Admin, an error has been encoutered. please check this case and amend</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>LFC_Provider_Access_Type_Not_Specified</name>
        <label>LFC Provider Access Type Not Specified</label>
        <locationX>1142</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varLFC_Provider_Access_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAccount.LFC_Provider_Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Req_Access_Prod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LFC_Provider_Access_Type_Specified</name>
        <label>LFC Provider Access Type Specified</label>
        <locationX>1276</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>varLFC_Provider_Access_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjCase.Requested_LFC_Provider_Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Req_Access_Prod</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BYOD</name>
        <choiceText>BYOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BYOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Please_Specify</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please Specify...&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PleaseSpecify</elementReference>
        </value>
    </choices>
    <choices>
        <name>CLNE_Capability</name>
        <choiceText>CLNE Capability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLNE Capability</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLNE_Performance</name>
        <choiceText>CLNE Performance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLNE Performance</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultReasons_Access</name>
        <choiceText>{!varReasons_Access}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varReasons_Access</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultvarReasons_CLNE</name>
        <choiceText>{!varReasons_CLNE}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varReasons_CLNE</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultvarReasons_CLNEandACCESS</name>
        <choiceText>{!varReasons_CLNEandACCESS}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varReasons_CLNEandACCESS</elementReference>
        </value>
    </choices>
    <choices>
        <name>Internet_Utilisation</name>
        <choiceText>Internet Utilisation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Utilisation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Migration_to_Cloud</name>
        <choiceText>Migration to Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Migration to Cloud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please_Amend</name>
        <choiceText>Please Amend...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PleaseAmend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remote_Classroom_s</name>
        <choiceText>Remote Classroom/s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote Classroom/s</stringValue>
        </value>
    </choices>
    <choices>
        <name>Video_Conferencing</name>
        <choiceText>Video Conferencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Video Conferencing</stringValue>
        </value>
    </choices>
    <constants>
        <name>PleaseSpecify</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please Specify...</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Access_Change_ONLY</name>
        <label>Access Change ONLY</label>
        <locationX>727</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Access_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_Upgrade</targetReference>
            </connector>
            <label>Access Only</label>
        </rules>
        <rules>
            <name>Not_Access_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Curr_CLNE_Prod</targetReference>
            </connector>
            <label>Access PLUS</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Case_Parameters</name>
        <label>EVAL Case Parameters</label>
        <locationX>823</locationX>
        <locationY>14</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Approval_SCRN</targetReference>
            </connector>
            <label>Awaiting Approval</label>
        </rules>
        <rules>
            <name>Err_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Types</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Err_Type_SCRN</targetReference>
            </connector>
            <label>Err Type</label>
        </rules>
        <rules>
            <name>No_Case_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Case_Contacts_Prompt</targetReference>
            </connector>
            <label>No Case Contact</label>
        </rules>
        <rules>
            <name>No_Case_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Case_Contacts_Prompt</targetReference>
            </connector>
            <label>No Case Contacts</label>
        </rules>
        <rules>
            <name>Circuit_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVAL_Case_Parameters_0</targetReference>
            </connector>
            <label>Circuit Change</label>
        </rules>
        <rules>
            <name>CLNE_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVAL_Case_Parameters_0</targetReference>
            </connector>
            <label>CLNE Change</label>
        </rules>
        <rules>
            <name>Circuit_AND_CLNE_Change0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVAL_Case_Parameters_0</targetReference>
            </connector>
            <label>Circuit AND CLNE Change</label>
        </rules>
        <rules>
            <name>Circuit_Change_Details_Incomplete</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_Change_Info_Incomplete_Prompt</targetReference>
            </connector>
            <label>Err Circuit Info</label>
        </rules>
        <rules>
            <name>CLNE_Change_details_Incomplete</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLNE_Change_Details_Incomplete_Prompt</targetReference>
            </connector>
            <label>Err CLNE Info</label>
        </rules>
        <rules>
            <name>Circuit_AND_CLNE_Change_Details_Incomplete</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_AND_CLNE_Change_Details_Incomplete_Prompt</targetReference>
            </connector>
            <label>Err Circuit CLNE Info</label>
        </rules>
        <rules>
            <name>Err_Site_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_No_Contact_No</targetReference>
            </connector>
            <label>Err Site Access</label>
        </rules>
        <rules>
            <name>Err_Site_Access_No_Contact_No_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_No_Contact_No_0</targetReference>
            </connector>
            <label>Err Site Access No Contact No&apos;s</label>
        </rules>
        <rules>
            <name>Err_Site_Access_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SiteAccessContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_No_Email</targetReference>
            </connector>
            <label>Err Site Access Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Case_Parameters_0</name>
        <label>EVAL Case Parameters</label>
        <locationX>821</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Case_Contact_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Case Contact</label>
        </rules>
        <rules>
            <name>No_Case_Contacts_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Case Contacts</label>
        </rules>
        <rules>
            <name>Circuit_Change_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_Contact_0</targetReference>
            </connector>
            <label>Circuit Change Request</label>
        </rules>
        <rules>
            <name>CLNE_Change_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_Contact</targetReference>
            </connector>
            <label>CLNE Req</label>
        </rules>
        <rules>
            <name>Circuit_AND_CLNE_Change0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Access_Contact_0</targetReference>
            </connector>
            <label>Circuit AND CLNE Change</label>
        </rules>
        <rules>
            <name>Circuit_Change_Details_Incomplete_0</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Circuit Change Details Incomplete</label>
        </rules>
        <rules>
            <name>CLNE_Change_details_Incomplete_0</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CLNE Change details Incomplete</label>
        </rules>
        <rules>
            <name>Circuit_AND_CLNE_Change_Details_Incomplete_0</name>
            <conditionLogic>1 AND 2 AND 8 AND 9 AND (3 OR 4 OR 5 OR 6 OR 7 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_Connection_Bandwidth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Requested_CLNE_Make_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Primary_Site_Access_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Request_Reasons__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Circuit AND CLNE Change Details Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_LFC_Provider_Access_Type</name>
        <label>EVAL LFC Provider Access Type</label>
        <locationX>1206</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Requested_LFC_Provider_Access_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFC_Provider_Access_Type_Not_Specified</targetReference>
            </connector>
            <label>Not Specified</label>
        </rules>
        <rules>
            <name>Is_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Requested_LFC_Provider_Access_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFC_Provider_Access_Type_Specified</targetReference>
            </connector>
            <label>Is Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Upgrade_Info</name>
        <label>EVAL Upgrade Info</label>
        <locationX>734</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Error_CLNE</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_Err_Info</targetReference>
            </connector>
            <label>Error CLNE</label>
        </rules>
        <rules>
            <name>Err_Access</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_Err_Info</targetReference>
            </connector>
            <label>Err Access</label>
        </rules>
        <rules>
            <name>Err_Access_CLNE</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_Err_Info</targetReference>
            </connector>
            <label>Err Access CLNE</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLNE_Upgrade_Approval</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_Access_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLNE_Upgrade_Approval</targetReference>
            </connector>
            <label>Access</label>
        </rules>
        <rules>
            <name>CLNE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Spark_Request_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Previous_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.New_CLNE_Costs_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLNE_Upgrade_Approval</targetReference>
            </connector>
            <label>CLNE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Circuit_AND_CLNE_Change</name>
        <label>Is Circuit AND CLNE Change</label>
        <locationX>379</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Circuit_AND_CLNE_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_CLNE_Upgrade</targetReference>
            </connector>
            <label>Circuit AND CLNE</label>
        </rules>
        <rules>
            <name>CLNE_Change_ONLY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLNE_Upgrade</targetReference>
            </connector>
            <label>CLNE ONLY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CLNE_Change</name>
        <label>Is CLNE Change</label>
        <locationX>503</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CLNE_Change_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; CLNE Change Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Curr_CLNE_Prod</targetReference>
            </connector>
            <label>CLNE Change Yes</label>
        </rules>
    </decisions>
    <description>Flow is triggered of &apos;Submit for Approval&apos; custom button to validate approval parameters and guide users. Part of the flow is to update request note and pricing
In previous version V17, the original approval process has stopped working Network_Connection_Change_Request_Approv.
Error element CLNE_Upgrade_Approval (FlowActionCall).
No applicable approval process was found.</description>
    <dynamicChoiceSets>
        <name>Case_Requested_Connection_BW</name>
        <dataType>String</dataType>
        <displayField>Requested_Connection_Bandwidth__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requested_Connection_Bandwidth__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Curr_Case_Status</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Action</stringValue>
            </value>
        </filters>
        <object>Case</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrCase_Requested_CLNE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Requested_CLNE_Make_Model__c</elementReference>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Device_Make_AND_Models</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Router(CLNE)</stringValue>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <outputAssignments>
            <assignToReference>sObjDeviceMakeModel.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sObjDeviceMakeModel.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NetworkUpgrade_Case_Statuses</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Icp0AAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Action</stringValue>
            </value>
        </filters>
        <limit>1</limit>
        <object>Case</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PL_Requested_Connection_BW</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Connection_Bandwidth__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_Utilisation</name>
        <dataType>String</dataType>
        <displayField>Request_Reasons__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Icp0AAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Reasons__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internet Utilisation</stringValue>
            </value>
        </filters>
        <object>Case</object>
    </dynamicChoiceSets>
    <formulas>
        <name>Additional_Monthly_Costs</name>
        <dataType>Currency</dataType>
        <expression>{!New_Monthly_Costs}-{!Current_MonthlyCost}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Current_MonthlyCost</name>
        <dataType>Currency</dataType>
        <expression>{!sObjCurr_Access_PricebookEntry.UnitPrice}+{!sObjCurr_CLNE_PricebookEntry.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Types</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!sObjCase.Type})=&quot;CLNE Change Request&quot;,&quot;Correct&quot;,IF(TEXT({!sObjCase.Type})=&quot;Circuit Change Request&quot;,&quot;Correct&quot;,IF(TEXT({!sObjCase.Type})=&quot;Circuit &amp; CLNE Change Request&quot;,&quot;Correct&quot;,&quot;Incorrect&quot;)))</expression>
    </formulas>
    <formulas>
        <name>NEN_Trial</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!sObjAccount.NEN_Trial_schools__c})=&quot;Yes&quot;,True,False)</expression>
    </formulas>
    <formulas>
        <name>New_Monthly_Costs</name>
        <dataType>Currency</dataType>
        <expression>{!sObjReq_Access_PricebookEntry.UnitPrice}+{!sObjReq_CLNE_PricebookEntry.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ReqCLNE_Name</name>
        <dataType>String</dataType>
        <expression>IF({!sObjReq_Device_Make_Model.Name}=&quot;&quot;,{!sObjReq_Device_Choice.Name},{!sObjReq_Device_Make_Model.Name})</expression>
    </formulas>
    <formulas>
        <name>Request_Reasons</name>
        <dataType>String</dataType>
        <expression>IF({!ReqReasons}&lt;&gt;&quot;&quot;,{!ReqReasons},IF({!Reasons_CLNE}&lt;&gt;&quot;&quot;,{!Reasons_CLNE},IF({!Reasons_Circuit}&lt;&gt;&quot;&quot;,{!Reasons_Circuit},IF({!Reasons_CLNEandACCESS}&lt;&gt;&quot;&quot;,{!Reasons_CLNEandACCESS},&quot;&quot;))))</expression>
    </formulas>
    <interviewLabel>Network Upgrade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Network Upgrade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>305</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Req_Device_Make_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>Billing_Initiative__c</queriedFields>
        <queriedFields>Current_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Current_Connection_Bandwidth__c</queriedFields>
        <queriedFields>LFC_Provider__c</queriedFields>
        <queriedFields>LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>NEN_Trial_schools__c</queriedFields>
        <queriedFields>School_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>180</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Additional_Monthly_Costs__c</queriedFields>
        <queriedFields>Current_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Current_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Current_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Installation_Costs_Once_Off__c</queriedFields>
        <queriedFields>New_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>New_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Primary_Site_Access_Contact__c</queriedFields>
        <queriedFields>Requested_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Requested_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Requested_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Spark_Request_Note__c</queriedFields>
        <queriedFields>Spark_Service_Desk_Ref__c</queriedFields>
        <queriedFields>Spark_Service_Request_Type__c</queriedFields>
        <queriedFields>Trigger_Submit_Spark__c</queriedFields>
        <queriedFields>Request_Reasons__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case_1</name>
        <label>Case</label>
        <locationX>957</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Case_Parameters_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Additional_Monthly_Costs__c</queriedFields>
        <queriedFields>Current_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Current_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Current_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Installation_Costs_Once_Off__c</queriedFields>
        <queriedFields>New_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>New_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Primary_Site_Access_Contact__c</queriedFields>
        <queriedFields>Requested_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Requested_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Requested_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Spark_Request_Note__c</queriedFields>
        <queriedFields>Spark_Service_Desk_Ref__c</queriedFields>
        <queriedFields>Spark_Service_Request_Type__c</queriedFields>
        <queriedFields>Trigger_Submit_Spark__c</queriedFields>
        <queriedFields>Request_Reasons__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case_1_0</name>
        <label>Case</label>
        <locationX>602</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Upgrade_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Additional_Monthly_Costs__c</queriedFields>
        <queriedFields>Current_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Current_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Current_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Installation_Costs_Once_Off__c</queriedFields>
        <queriedFields>New_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>New_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_Access_Costs_Monthly__c</queriedFields>
        <queriedFields>Previous_CLNE_Costs_Monthly__c</queriedFields>
        <queriedFields>Primary_Site_Access_Contact__c</queriedFields>
        <queriedFields>Requested_CLNE_Make_Model__c</queriedFields>
        <queriedFields>Requested_Connection_Bandwidth__c</queriedFields>
        <queriedFields>Requested_LFC_Provider_Access_Type__c</queriedFields>
        <queriedFields>Spark_Request_Note__c</queriedFields>
        <queriedFields>Spark_Service_Desk_Ref__c</queriedFields>
        <queriedFields>Spark_Service_Request_Type__c</queriedFields>
        <queriedFields>Trigger_Submit_Spark__c</queriedFields>
        <queriedFields>Request_Reasons__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CLNE_Device_Make_Models</name>
        <label>CLNE Device Make Models</label>
        <locationX>561</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiteAccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Router(CLNE)</stringValue>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <outputReference>sObjCLNE_DeviceMakeModel</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Curr_Access_PriceBook</name>
        <label>Curr Access PriceBook</label>
        <locationX>1078</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_LFC_Provider_Access_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCurr_Access_Prod.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sObjCurr_Access_PricebookEntry</outputReference>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Curr_Access_Prod</name>
        <label>Curr Access Prod</label>
        <locationX>951</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Curr_Access_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Billing_Initiative__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.LFC_Provider_Access_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.LFC_Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Current_Connection_Bandwidth__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sObjCurr_Access_Prod</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Bandwidth__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Curr_CLNE_Pricebook</name>
        <label>Curr CLNE Pricebook</label>
        <locationX>376</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Req_CLNE_Prod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCurr_CLNE_Prod.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sObjCurr_CLNE_PricebookEntry</outputReference>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Curr_CLNE_Prod</name>
        <label>Curr CLNE Prod</label>
        <locationX>503</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Curr_CLNE_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Current_CLNE_Make_Model__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sObjCurr_CLNE_Prod</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_Access_PriceBook</name>
        <label>Req Access PriceBook</label>
        <locationX>856</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access_Change_ONLY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjReq_Access_Prod.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sObjReq_Access_PricebookEntry</outputReference>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_Access_Prod</name>
        <label>Req Access Prod</label>
        <locationX>984</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Req_Access_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Billing_Initiative__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider_Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLFC_Provider_Access_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>LFC_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.LFC_Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Requested_Connection_Bandwidth__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sObjReq_Access_Prod</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Bandwidth__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_CLNE_Pricebook</name>
        <label>Req CLNE Pricebook</label>
        <locationX>249</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Circuit_AND_CLNE_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjReq_CLNE_Prod.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sObjReq_CLNE_PricebookEntry</outputReference>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_CLNE_Prod</name>
        <label>Req CLNE Prod</label>
        <locationX>249</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Req_CLNE_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Device_Make_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Requested_CLNE_Make_Model__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IS_NEN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NEN_Trial</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000016MYDAA2</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sObjReq_CLNE_Prod</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_Device_Make_Model</name>
        <label>Req Device Make &amp; Model</label>
        <locationX>433</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLNE_Device_Make_Models</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Requested_CLNE_Make_Model__c</elementReference>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <outputReference>sObjReq_Device_Make_Model</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Device_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_Device_Make_Model_0</name>
        <label>Req Device Make &amp; Model</label>
        <locationX>1083</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLNE_Req_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requested_Device_Make_Model_CLNE</elementReference>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <outputReference>sObjReq_Device_Choice</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Device_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Req_Device_Make_Model_0_1</name>
        <label>Req Device Make &amp; Model</label>
        <locationX>1205</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLNEandACCESS_Req_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requested_Device_Make_Model_CLNEandACCESS</elementReference>
            </value>
        </filters>
        <object>Device_Make_Model__c</object>
        <outputReference>sObjReq_Device_Choice</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Device_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Site_Access_Contact</name>
        <label>Site Access Contact</label>
        <locationX>633</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CLNE_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Primary_Site_Access_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObj_SiteAccessContact</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Site_Access_Contact_0</name>
        <label>Site Access Contact</label>
        <locationX>819</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Curr_Access_Prod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Primary_Site_Access_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObj_SiteAccessContact</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SiteAccess</name>
        <label>SiteAccess</label>
        <locationX>692</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Case_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Primary_Site_Access_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObj_SiteAccessContact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Circuit_CLNE_Upgrade</name>
        <label>Circuit CLNE Upgrade</label>
        <locationX>599</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Case_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Access_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjReq_Access_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_CLNE_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjReq_CLNE_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Access_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjCurr_Access_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_CLNE_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjCurr_CLNE_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Request_Note__c</field>
            <value>
                <elementReference>CLNE_Circuit_Upgrade_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Service_Request_Type__c</field>
            <value>
                <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Circuit_Req_Info</name>
        <label>Circuit Req Info</label>
        <locationX>957</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Case_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Reasons__c</field>
            <value>
                <elementReference>Request_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Connection_Bandwidth__c</field>
            <value>
                <elementReference>Requested_Connection_Bandwidth_Circuit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_Circuit</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Circuit_Upgrade</name>
        <label>Circuit Upgrade</label>
        <locationX>726</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>Case_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Access_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjReq_Access_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Access_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjCurr_Access_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Request_Note__c</field>
            <value>
                <elementReference>Circuit_Upgrade_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Service_Request_Type__c</field>
            <value>
                <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CLNE_Req_Info</name>
        <label>CLNE Req Info</label>
        <locationX>1082</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Case_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Reasons__c</field>
            <value>
                <elementReference>Request_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_CLNE_Make_Model__c</field>
            <value>
                <elementReference>sObjReq_Device_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_CLNE</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CLNE_Upgrade</name>
        <label>CLNE Upgrade</label>
        <locationX>378</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Case_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_CLNE_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjReq_CLNE_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_CLNE_Costs_Monthly__c</field>
            <value>
                <elementReference>sObjCurr_CLNE_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Request_Note__c</field>
            <value>
                <elementReference>CLNE_Upgrade_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spark_Service_Request_Type__c</field>
            <value>
                <stringValue>Complex Access speed/ CLNE Upgrade/ downgrade (5D)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CLNEandACCESS_Req_Info</name>
        <label>CLNEandACCESS Req Info</label>
        <locationX>1201</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Case_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Reasons__c</field>
            <value>
                <elementReference>Request_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_CLNE_Make_Model__c</field>
            <value>
                <elementReference>sObjReq_Device_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Connection_Bandwidth__c</field>
            <value>
                <elementReference>Requested_Connection_Bandwidth_CLNEandACCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_CLNEandACCESS</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Approval_Request_Submitted_SCRN</name>
        <label>Approval Request Submitted SCRN</label>
        <locationX>1109</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Request_Submitted_MSG</name>
            <fieldText>The Approval Request has been submitted and is awaiting approval
.
If Approved the request will be automatically submitted to Spark</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>info_2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Instructions}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Awaiting_Approval_SCRN</name>
        <label>Awaiting Approval SCRN</label>
        <locationX>184</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Awaiting_Approval_MSG</name>
            <fieldText>The case status is &apos;Awaiting Approval&apos; - indicating that it has already been submitted for approval and only one approval can be submitted at a time</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Circuit_AND_CLNE_Change_Details_Incomplete_Prompt</name>
        <label>Circuit AND CLNE Change Details Incomplete Prompt</label>
        <locationX>1205</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Req_Device_Make_Model_0_1</targetReference>
        </connector>
        <fields>
            <name>Circuit_AND_CLNE_Change_Details_Incomplete_MSG</name>
            <fieldText>Please refer to below:
(as one or more required fields are blank)

To update the field/s amend the choice using the drop down picklists provided and then click on &apos;Next&quot;. This will allow these fields to be updated without having to exiting this pop-window
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_CLNEandACCESS</name>
            <choiceReferences>Curr_Case_Status</choiceReferences>
            <choiceReferences>Please_Amend</choiceReferences>
            <choiceReferences>NetworkUpgrade_Case_Statuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrCLNE</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current Device Make &amp;amp; Model&lt;/B&gt;: &lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Current_CLNE_Make_Model__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Device_Make_Model_CLNEandACCESS</name>
            <choiceReferences>CurrCase_Requested_CLNE</choiceReferences>
            <choiceReferences>CH_Please_Specify</choiceReferences>
            <choiceReferences>Device_Make_AND_Models</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Device Make &amp; Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Curr_Access_BW_MSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current Connection Bandwidth: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Current_Connection_Bandwidth__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Connection_Bandwidth_CLNEandACCESS</name>
            <choiceReferences>Case_Requested_Connection_BW</choiceReferences>
            <choiceReferences>CH_Please_Specify</choiceReferences>
            <choiceReferences>PL_Requested_Connection_BW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Connection Bandwidth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReqReasons_MSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Request Reasons: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Request_Reasons__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reasons_CLNEandACCESS</name>
            <choiceReferences>DefaultvarReasons_CLNEandACCESS</choiceReferences>
            <choiceReferences>Internet_Utilisation</choiceReferences>
            <choiceReferences>CLNE_Performance</choiceReferences>
            <choiceReferences>BYOD</choiceReferences>
            <choiceReferences>CLNE_Capability</choiceReferences>
            <choiceReferences>Migration_to_Cloud</choiceReferences>
            <choiceReferences>Remote_Classroom_s</choiceReferences>
            <choiceReferences>Video_Conferencing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultvarReasons_CLNEandACCESS</defaultSelectedChoiceReference>
            <fieldText>Reasons</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Validate_clne_Access_Amend</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;One of the selections has not been amended i.e.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Status = &lt;U&gt;&amp;apos;Under Action&amp;apos;&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Requested Device Make &amp;amp; Model: &lt;U&gt;device specified&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Requested Connection Bandwidth: &lt;U&gt;device specified&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Reasons: &lt;U&gt;chosen&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>IF(AND({!ReqReasons}=&quot;&quot;,{!Status_CLNEandACCESS}=&quot;Under Action&quot;,CONTAINS({!Requested_Device_Make_Model_CLNEandACCESS},&quot;Cisco&quot;),{!Reasons_CLNEandACCESS}&lt;&gt;&quot;&quot;,OR(CONTAINS({!Requested_Connection_Bandwidth_CLNEandACCESS},&quot;Mbps&quot;),CONTAINS({!Requested_Connection_Bandwidth_CLNEandACCESS},&quot;Gbps&quot;))),TRUE,
IF(AND({!ReqReasons}&lt;&gt;&quot;&quot;,{!Status_CLNEandACCESS}=&quot;Under Action&quot;,
CONTAINS({!Requested_Device_Make_Model_CLNEandACCESS},&quot;Cisco&quot;),
OR(CONTAINS({!Requested_Connection_Bandwidth_CLNEandACCESS},&quot;Mbps&quot;),CONTAINS({!Requested_Connection_Bandwidth_CLNEandACCESS},&quot;Gbps&quot;))),TRUE,FALSE))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Circuit_Change_Info_Incomplete_Prompt</name>
        <label>Circuit Change Info Incomplete Prompt</label>
        <locationX>957</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Circuit_Req_Info</targetReference>
        </connector>
        <fields>
            <name>Circuit_AND_CLNE_Change_Details_Incomplete_MSG_0_1</name>
            <fieldText>Please refer to below:
(as one or more required fields are blank)
.
To update the field/s amend the choice using the drop down picklists provided and then click on &apos;Next&quot;. This will allow these fields to be updated without having to exiting this pop-window
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Circuit</name>
            <choiceReferences>Curr_Case_Status</choiceReferences>
            <choiceReferences>Please_Amend</choiceReferences>
            <choiceReferences>NetworkUpgrade_Case_Statuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Curr_Access_BW_MSG_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current Connection Bandwidth: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Current_Connection_Bandwidth__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Connection_Bandwidth_Circuit</name>
            <choiceReferences>Case_Requested_Connection_BW</choiceReferences>
            <choiceReferences>CH_Please_Specify</choiceReferences>
            <choiceReferences>PL_Requested_Connection_BW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Connection Bandwidth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReqReasons_MSG_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Request Reasons: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Request_Reasons__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reasons_Circuit</name>
            <choiceReferences>DefaultReasons_Access</choiceReferences>
            <choiceReferences>Internet_Utilisation</choiceReferences>
            <choiceReferences>CLNE_Performance</choiceReferences>
            <choiceReferences>BYOD</choiceReferences>
            <choiceReferences>CLNE_Capability</choiceReferences>
            <choiceReferences>Migration_to_Cloud</choiceReferences>
            <choiceReferences>Remote_Classroom_s</choiceReferences>
            <choiceReferences>Video_Conferencing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultReasons_Access</defaultSelectedChoiceReference>
            <fieldText>Reasons</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Validate_Access_Amend</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;One of the selections has not been amended i.e.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Status = &lt;U&gt;&amp;apos;Under Action&amp;apos;&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Requested Connection Bandwidth: &lt;U&gt;bandwidth specified&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Reasons: &lt;U&gt;chosen&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>IF(AND({!ReqReasons}=&quot;&quot;,{!Status_Circuit}=&quot;Under Action&quot;,{!Reasons_Circuit}&lt;&gt;&quot;&quot;,
OR(CONTAINS({!Requested_Connection_Bandwidth_Circuit},&quot;Mbps&quot;),CONTAINS({!Requested_Connection_Bandwidth_Circuit},&quot;Gbps&quot;))),TRUE,
IF(AND({!ReqReasons}&lt;&gt;&quot;&quot;,{!Status_Circuit}=&quot;Under Action&quot;,
OR(CONTAINS({!Requested_Connection_Bandwidth_Circuit},&quot;Mbps&quot;),CONTAINS({!Requested_Connection_Bandwidth_Circuit},&quot;Gbps&quot;))),TRUE,
FALSE))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>info_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CLNE_Change_Details_Incomplete_Prompt</name>
        <label>CLNE Change Details Incomplete Prompt</label>
        <locationX>1086</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Req_Device_Make_Model_0</targetReference>
        </connector>
        <fields>
            <name>Circuit_AND_CLNE_Change_Details_Incomplete_MSG_0</name>
            <fieldText>Please refer to below:
(as one or more required fields are blank)
.
To update the field/s amend the choice using the drop down picklists provided and then click on &apos;Next&quot;. This will allow these fields to be updated without having to exiting this pop-window
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_CLNE</name>
            <choiceReferences>Curr_Case_Status</choiceReferences>
            <choiceReferences>Please_Amend</choiceReferences>
            <choiceReferences>NetworkUpgrade_Case_Statuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrCLNE_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current Device Make &amp;amp; Model&lt;/B&gt;: &lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Current_CLNE_Make_Model__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Device_Make_Model_CLNE</name>
            <choiceReferences>CurrCase_Requested_CLNE</choiceReferences>
            <choiceReferences>CH_Please_Specify</choiceReferences>
            <choiceReferences>Device_Make_AND_Models</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Device Make &amp; Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReqReasons_MSG_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Request Reasons: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;U&gt;{!sObjCase.Request_Reasons__c}&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reasons_CLNE</name>
            <choiceReferences>DefaultvarReasons_CLNE</choiceReferences>
            <choiceReferences>Internet_Utilisation</choiceReferences>
            <choiceReferences>CLNE_Performance</choiceReferences>
            <choiceReferences>BYOD</choiceReferences>
            <choiceReferences>CLNE_Capability</choiceReferences>
            <choiceReferences>Migration_to_Cloud</choiceReferences>
            <choiceReferences>Remote_Classroom_s</choiceReferences>
            <choiceReferences>Video_Conferencing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultvarReasons_CLNE</defaultSelectedChoiceReference>
            <fieldText>Reasons</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Validate_CLNE_Amend</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;One of the selections has not been amended i.e.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Status = &lt;U&gt;&amp;apos;Under Action&amp;apos;&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Requested Device Make &amp;amp; Model: &lt;U&gt;device specified&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;- Reasons: &lt;U&gt;chosen&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>IF(AND({!ReqReasons}=&quot;&quot;,{!Status_CLNE}=&quot;Under Action&quot;,CONTAINS({!Requested_Device_Make_Model_CLNE},&quot;Cisco&quot;),{!Reasons_CLNE}&lt;&gt;&quot;&quot;),TRUE,
IF(AND({!ReqReasons}&lt;&gt;&quot;&quot;,{!Status_CLNE}=&quot;Under Action&quot;,CONTAINS({!Requested_Device_Make_Model_CLNE},&quot;Cisco&quot;)),TRUE,FALSE))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>info_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Err_Type_SCRN</name>
        <label>Err Type SCRN</label>
        <locationX>549</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Err_Type_MSG</name>
            <fieldText>The case does not have the correct Type specified. Please amend and re-attempt

Current Type: {!sObjCase.Type}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Case_Contacts_Prompt</name>
        <label>No Case Contacts Prompt</label>
        <locationX>706</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_CaseContacts_MSG</name>
            <fieldText>Please return to the case and amend the contact details as either the Case Contact and/or the Site Access Contact (Primary) is not specified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>988</locationX>
        <locationY>696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Prompt</name>
            <fieldText>Hi there,

An error has been detected and the Administrator has been notified.

The Administrator will need to investigate and only once you are given the go ahead can you re-attempt submitting this request for approval</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Access_No_Contact_No</name>
        <label>Site Access No Contact No</label>
        <locationX>184</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Site_Access_No_Contact_No_MSG</name>
            <fieldText>Please return to the case and amend the contact details for the Site Access Contact (Primary) as they have no contact numbers specified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Access_No_Contact_No_0</name>
        <label>Site Access No Contact No</label>
        <locationX>184</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Site_Access_No_Contact_No_MSG_1</name>
            <fieldText>Please return to the case and amend the contact details for the Site Access Contact (Primary) as they have no contact numbers specified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Access_No_Email</name>
        <label>Site Access No Email</label>
        <locationX>183</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Site_Access_No_Contact_No_MSG_0</name>
            <fieldText>Please return to the case and amend the contact details for the Site Access Contact (Primary) as they have no email address specified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_3_1_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To exit - simply close this window&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Circuit_Upgrade_TXT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Upgrade (Downgrade) the access speed from {!sObjCase.Current_Connection_Bandwidth__c} to {!sObjCase.Requested_Connection_Bandwidth__c}	
	
Please upgrade (downgrade) the profiles from {!sObjCase.Current_LFC_Provider_Access_Type__c} to {!varLFC_Provider_Access_Type}
	
Contact Name: {!sObj_SiteAccessContact.Name}
Contact Phone: {!sObj_SiteAccessContact.Phone}
Contact Mobile: {!sObj_SiteAccessContact.MobilePhone}
Contact Email: {!sObj_SiteAccessContact.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>CLNE_Circuit_Upgrade_TXT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Upgrade (Downgrade) the site router model from {!sObjCase.Current_CLNE_Make_Model__c} to {!ReqCLNE_Name}

Please Upgrade (Downgrade) the access speed from {!sObjCase.Current_Connection_Bandwidth__c} to {!sObjCase.Requested_Connection_Bandwidth__c}

Please upgrade (downgrade) the profiles from {!sObjCase.Current_LFC_Provider_Access_Type__c} to {!varLFC_Provider_Access_Type}
	
Contact Name: {!sObj_SiteAccessContact.Name}
Contact Phone: {!sObj_SiteAccessContact.Phone}
Contact Mobile: {!sObj_SiteAccessContact.MobilePhone}
Contact Email: {!sObj_SiteAccessContact.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>CLNE_Upgrade_TXT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Upgrade (Downgrade) the site router model from {!sObjCase.Current_CLNE_Make_Model__c} to {!ReqCLNE_Name}	
	
Contact Name: {!sObj_SiteAccessContact.Name}
Contact Phone: {!sObj_SiteAccessContact.Phone}
Contact Mobile: {!sObj_SiteAccessContact.MobilePhone}
Contact Email: {!sObj_SiteAccessContact.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_CheckCase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi there,

The following case {!sObjCase.CaseNumber} has been submitted for network approval, please review and check that pricing has been captured accordingly

Thanks</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject_Upgrade</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Review Upgrade Case: {!sObjCase.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>Instructions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.
To exit simply close this window
.
To see updates on case please refresh case window</text>
    </textTemplates>
    <textTemplates>
        <name>Specify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Specify...</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Complex_MAC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NENSchool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ReqReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>sObjCase.Request_Reasons__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sObj_SiteAccessContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjCLNE_DeviceMakeModel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Device_Make_Model__c</objectType>
    </variables>
    <variables>
        <name>sObjCurr_Access_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sObjCurr_Access_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sObjCurr_CLNE_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sObjCurr_CLNE_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sObjDeviceMakeModel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Device_Make_Model__c</objectType>
    </variables>
    <variables>
        <name>sObjDeviceMaleModel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjReq_Access_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sObjReq_Access_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sObjReq_CLNE_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sObjReq_CLNE_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sObjReq_Device_Choice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Make_Model__c</objectType>
    </variables>
    <variables>
        <name>sObjReq_Device_Make_Model</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Device_Make_Model__c</objectType>
    </variables>
    <variables>
        <name>varLFC_Provider_Access_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReasons_Access</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasons_CLNE</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasons_CLNEandACCESS</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
