force-app/main/default/flows/Network_Upgrade_Request_Intro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Face_to_Face</name>
        <choiceText>Face to Face</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Face to Face</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>OptOutMethods</name>
        <choiceText>OptOutMethods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <decisions>
        <name>EVAL_School_Type</name>
        <label>EVAL School Type</label>
        <locationX>286</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>State_School_ApprovalRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Req_SCRN</targetReference>
            </connector>
            <label>State School_ApprovalRequest</label>
        </rules>
        <rules>
            <name>Independent_School_NO_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Independent_School_SCRN_0</targetReference>
            </connector>
            <label>Independent School NO Opp</label>
        </rules>
        <rules>
            <name>Independent_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Trigger_Submit_Spark__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Independent_School_SCRN</targetReference>
            </connector>
            <label>Independent School</label>
        </rules>
        <rules>
            <name>Case_Status_AwaitingApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Approval_SCRN</targetReference>
            </connector>
            <label>Case_Status_AwaitingApproval</label>
        </rules>
        <rules>
            <name>Awaiting_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feasibility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Approval_SCRN_1</targetReference>
            </connector>
            <label>Awaiting Quote</label>
        </rules>
        <rules>
            <name>IncorrectStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncorrectStatuses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Statuses_SCRN</targetReference>
            </connector>
            <label>IncorrectStatus</label>
        </rules>
        <rules>
            <name>ServiceActivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Statuses_SCRN_1</targetReference>
            </connector>
            <label>ServiceActivated</label>
        </rules>
        <rules>
            <name>CaseClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Statuses_SCRN_1_1</targetReference>
            </connector>
            <label>CaseClosed</label>
        </rules>
    </decisions>
    <description>Added &apos;Submit for Approval&apos; to reflect the same process for State School</description>
    <formulas>
        <name>AccountType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!sObjAccount.Authority__c})=&quot;Private: Fully Reg.&quot;,&quot;Private&quot;,IF(TEXT({!sObjAccount.Authority__c})=&quot;Private: Prov.Reg.&quot;,&quot;Private&quot;,&quot;State&quot;))</expression>
    </formulas>
    <formulas>
        <name>ContactErrMSG</name>
        <dataType>String</dataType>
        <expression>IF({!sObjCase.ContactId}=&quot;&quot;,&quot;     (No Case Contact specified)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ICTContactERRMsg</name>
        <dataType>String</dataType>
        <expression>IF({!sObjCase.ICT_Implementation_Contact__c}=&quot;&quot;,&quot;     (No ICT Implementer Contact specified)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IncorrectStatuses</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!sObjCase.Status})=&quot;New&quot;,&quot;Incorrect&quot;,IF(TEXT({!sObjCase.Status})=&quot;Awaiting Customer Response&quot;,&quot;Incorrect&quot;,IF(TEXT({!sObjCase.Status})=&quot;Service Activated&quot;,&quot;Incorrect&quot;,&quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Network Upgrade Request Intro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Network Upgrade Request Intro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>154</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_School_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>Authority__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>22</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Trigger_Submit_Spark__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Approval_Req_SCRN</name>
        <label>Approval Req SCRN</label>
        <locationX>419</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://n4l.my.salesforce.com/flow/Network_Upgrade?CaseId={!CaseId}&quot; TARGET=&quot;_blank&quot;&gt;Submit For Approval&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://n4l.my.salesforce.com/flow/Network_Quote?CaseId={!CaseId}&quot; TARGET=&quot;_blank&quot;&gt;Submit for Quote&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;FONT STYLE=&quot;font-size:10px&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Awaiting_Approval_SCRN</name>
        <label>Awaiting Approval SCRN</label>
        <locationX>590</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note that this case is awaiting approval&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Awaiting_Approval_SCRN_1</name>
        <label>Awaiting Approval SCRN</label>
        <locationX>592</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note that this case is awaiting approval&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Statuses_SCRN</name>
        <label>Incorrect Statuses SCRN</label>
        <locationX>593</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_1_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The current case status is &amp;apos;{!sObjCase.Status}&amp;apos;, if you wish to submit the request for quote of approval, you need to amend the status to &amp;apos;Under Action&amp;apos;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Statuses_SCRN_1</name>
        <label>Incorrect Statuses SCRN</label>
        <locationX>594</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_1_1_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The current case status reflects that the service upgrade has been activated. If this is incorrect please liaise with you SalesForce Administrator immediately&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Statuses_SCRN_1_1</name>
        <label>Incorrect Statuses SCRN</label>
        <locationX>594</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_1_1_1_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This case is closed, please refrain from clicking on this button, as no further action can be conducted&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Independent_School_SCRN</name>
        <label>Independent School SCRN</label>
        <locationX>748</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;a href=&quot;https://n4l.my.salesforce.com/flow/Network_Upgrade?CaseId={!CaseId}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Submit For Approval&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;a href=&quot;https://n4l.my.salesforce.com/flow/Network_Quote?CaseId={!CaseId}&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Submit for Quote&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;a href=&quot;https://n4l.my.salesforce.com/flow/Network_Upgrade_Independent_School_Submit_Request?CaseId={!CaseId}&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Submit Service Request&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Independent_School_SCRN_0</name>
        <label>Independent School SCRN</label>
        <locationX>592</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalReq_Choices_MSG_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No request can be submitted at this time as there is no Opportunity associated. Please liaise with the School Account Customer Manager&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chttr_OptOut</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Confirmation has being received via  communication that school has opted out. Case record is updated and email sent to case contact.</text>
    </textTemplates>
    <textTemplates>
        <name>Chttr_TechFormSent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Form pre-fill link has been sent via email to case contact and following updated - case Status: &apos;Awaiting Customer&apos;, Form Status: &apos;Tech Form Sent&apos;, Account &gt; Remote Access: &apos;Opt In&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>ExitWin_MSG</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>To exit pop-up window, simply close window</text>
    </textTemplates>
    <textTemplates>
        <name>RefreshCase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Note: to see the changes reflected on the case, you need to refresh the case window</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjImplementer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
