force-app/main/default/flows/NVM_Task_Disposition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACR_Err_Chttr</name>
        <label>ACR Err Chttr</label>
        <locationX>477</locationX>
        <locationY>586</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Eval_Escalation</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!sObjCase.OwnerId}] Hi, Eventhough you selected &apos;Awaiting Customer Response (email required)&quot;, the email has not been triggered as no notes have been captured in &apos;Notes&apos; field. If you still wish to send an &apos;Awaiting Customer Response&apos; email please do so directly on the related case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Change_Err_Chttr</name>
        <label>Case Change Err Chttr</label>
        <locationX>1022</locationX>
        <locationY>664</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!sObjCase.OwnerId}] Hi, it is noted that you attempted to change the case record type from {!RecTypeName} to {!sObjTask.Call_Disposition__c} via Log A Call dispostion. Note: case record types at this level can ONLY be changed from Inquiry to something else. Please make these types of changes directly on the case itself</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Disposition_to_Case_Changes</name>
        <label>Disposition to Case Changes</label>
        <locationX>1862</locationX>
        <locationY>429</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>OldCaseValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Contact_Chttr</name>
        <label>No Contact Chttr</label>
        <locationX>817</locationX>
        <locationY>660</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!sObjCase.OwnerId}] Hi, The Case type cannot be changed when no Contact and Account have been specified on either the Case and/or Task, as all other case types apart from Inquiry cases have this as mandatory fields</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact_To_Case</name>
        <label>Assign Contact To Case</label>
        <locationX>903</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_CaseRec_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Awaiting_Customer_Response_email</name>
        <label>ACR email</label>
        <locationX>351</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Awaiting_Customer_Reminder_Turned_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Awaiting_Customer_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Awaiting_Customer_Response_no_email0</name>
        <label>ACR no email</label>
        <locationX>349</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Awaiting_Customer_Reminder_Turned_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Subject</name>
        <label>Case Subject</label>
        <locationX>21</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InquiryAss</name>
        <label>Inquiry</label>
        <locationX>1585</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InquiryUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N4L_CM_0</name>
        <label>N4L_CM</label>
        <locationX>684</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Acquisition Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N4L_Dev_0</name>
        <label>N4L_Dev</label>
        <locationX>682</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N4L Dev Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N4L_Exec_0</name>
        <label>N4L_Exec</label>
        <locationX>687</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Management Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N4L_SE</name>
        <label>N4L_SE</label>
        <locationX>683</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Engineer Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G90000001bSukEAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N4L_Snr_E</name>
        <label>N4L_Snr_E</label>
        <locationX>685</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Senior Engineering Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Update</name>
        <label>None</label>
        <locationX>684</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjCase.IsEscalated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_F</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P1_Incident0</name>
        <label>P1 Incident</label>
        <locationX>1584</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncidentUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P2_Incident0_0</name>
        <label>P2 Incident</label>
        <locationX>1584</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncidentUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P3_Incident0</name>
        <label>P3 Incident</label>
        <locationX>1585</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncidentUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P4_Incident0</name>
        <label>P4 Incident</label>
        <locationX>1583</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncidentUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolved0</name>
        <label>Resolved</label>
        <locationX>349</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spark_0</name>
        <label>Spark</label>
        <locationX>684</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Escalated_To_Tier2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated To Tier2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SR_Accepted</name>
        <label>SR Accepted</label>
        <locationX>1583</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SRUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SR_Unaccepted</name>
        <label>SR Unaccepted</label>
        <locationX>1584</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Call_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Call_Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjTask.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCase.Request_Accepted_By_N4L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SRUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToIncident</name>
        <label>ToIncident</label>
        <locationX>1202</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01290000000SzFVAA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Disposition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToServiceRequest</name>
        <label>ToServiceRequest</label>
        <locationX>1202</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01290000000TNWZAA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Disposition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToWebFilteringServiceRequest</name>
        <label>ToWFSR</label>
        <locationX>1203</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01290000001AB9YAAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Disposition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Under_Action</name>
        <label>Under Action</label>
        <locationX>347</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>sObjCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Escalation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eval_Case_Owner</name>
        <label>Eval Case Owner</label>
        <locationX>148</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Owner_NVM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0059000000TszWpAAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOrigin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0059000000TszWpAAJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ownership</targetReference>
            </connector>
            <label>Owner_NVM</label>
        </rules>
        <rules>
            <name>NoTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoTask</label>
        </rules>
        <rules>
            <name>Not_NVM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0059000000TszWpAAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOrigin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Not_NVM</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_CaseFeed</name>
        <label>EVAL CaseFeed</label>
        <locationX>145</locationX>
        <locationY>620</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ACRNote_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCaseFeed.Body</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Created new note for a call:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACR_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Customer_Response_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>ACRNote_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallNote</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ACR_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACR_Err_Chttr</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_CaseRec_Type</name>
        <label>Eval CaseRec Type</label>
        <locationX>1021</locationX>
        <locationY>432</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsInquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Disposition</targetReference>
            </connector>
            <label>IsInquiry</label>
        </rules>
        <rules>
            <name>IsIncident0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000SzFVAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Disposition</targetReference>
            </connector>
            <label>IsIncident</label>
        </rules>
        <rules>
            <name>IsServiceRequest</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001AB9YAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000SzFaAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Disposition</targetReference>
            </connector>
            <label>IsServiceRequest</label>
        </rules>
        <rules>
            <name>Inquiry_2_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ToIncident</targetReference>
            </connector>
            <label>Inq 2 Inc</label>
        </rules>
        <rules>
            <name>Inquiry_2_SR</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internet Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Firewall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Filtering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tahi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Hub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NaaS POC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ToServiceRequest</targetReference>
            </connector>
            <label>Inq 2 SR</label>
        </rules>
        <rules>
            <name>Inq_2_WebFilteringServiceRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Filtering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ToWebFilteringServiceRequest</targetReference>
            </connector>
            <label>Inq 2 WFSR</label>
        </rules>
        <rules>
            <name>Err_SR_2_Inc</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000SzFaAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001AB9YAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Change_Err_Chttr</targetReference>
            </connector>
            <label>Err SR 2 Inc</label>
        </rules>
        <rules>
            <name>Err_Inc_2_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000SzFVAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Change_Err_Chttr</targetReference>
            </connector>
            <label>Err Inc 2 SR</label>
        </rules>
        <rules>
            <name>Err_SR_2_Inq</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000SzFaAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001AB9YAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000001Icp0AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Change_Err_Chttr</targetReference>
            </connector>
            <label>Err SR 2 Inq</label>
        </rules>
        <rules>
            <name>Err_Inc_2_Inq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Change_Err_Chttr</targetReference>
            </connector>
            <label>Err Inc 2 Inq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Contacts</name>
        <label>Eval Contacts</label>
        <locationX>817</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_CaseRec_Type</targetReference>
            </connector>
            <label>Yes Contact</label>
        </rules>
        <rules>
            <name>No_Case_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_To_Case</targetReference>
            </connector>
            <label>No Case Contact</label>
        </rules>
        <rules>
            <name>No_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Contact_Chttr</targetReference>
            </connector>
            <label>No Contacts</label>
        </rules>
        <rules>
            <name>Inquiry_both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWUAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_CaseRec_Type</targetReference>
            </connector>
            <label>Inquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Disposition</name>
        <label>Eval Disposition</label>
        <locationX>1333</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InquiryAss</targetReference>
            </connector>
            <label>Inquiry</label>
        </rules>
        <rules>
            <name>P1_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Incident0</targetReference>
            </connector>
            <label>P1 Incident</label>
        </rules>
        <rules>
            <name>P2_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P2_Incident0_0</targetReference>
            </connector>
            <label>P2 Incident</label>
        </rules>
        <rules>
            <name>P3_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3 Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P3_Incident0</targetReference>
            </connector>
            <label>P3 Incident</label>
        </rules>
        <rules>
            <name>P4_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3 Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P4_Incident0</targetReference>
            </connector>
            <label>P4 Incident</label>
        </rules>
        <rules>
            <name>Service_Request_Accepted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request (Accepted)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_Accepted</targetReference>
            </connector>
            <label>Service Request Accepted</label>
        </rules>
        <rules>
            <name>Service_Request_Unaccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request (Unaccepted)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_Unaccepted</targetReference>
            </connector>
            <label>Service Request Unaccepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Escalation</name>
        <label>Eval Escalation</label>
        <locationX>478</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Support_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Support Engineering Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_SE</targetReference>
            </connector>
            <label>N4L_SE</label>
        </rules>
        <rules>
            <name>Spark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spark_0</targetReference>
            </connector>
            <label>Spark</label>
        </rules>
        <rules>
            <name>N4L_Client_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Client Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_CM_0</targetReference>
            </connector>
            <label>N4L CM</label>
        </rules>
        <rules>
            <name>N4L_Exec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Management Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_Exec_0</targetReference>
            </connector>
            <label>N4L Exec</label>
        </rules>
        <rules>
            <name>N4L_Senior_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Senior Engineering Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_Snr_E</targetReference>
            </connector>
            <label>N4L Snr E</label>
        </rules>
        <rules>
            <name>N4L_Dev_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N4L Dev Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N4L_Dev_0</targetReference>
            </connector>
            <label>N4L Dev Team</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Escalation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Update</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Status</name>
        <label>Eval Status</label>
        <locationX>148</locationX>
        <locationY>436</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Customer_Response_no_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response (no email)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Customer_Response_no_email0</targetReference>
            </connector>
            <label>ACR no email</label>
        </rules>
        <rules>
            <name>Awaiting_Customer_Response_email_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response (email required)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFeed</targetReference>
            </connector>
            <label>ACR email</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved0</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Under_Action0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under_Action</targetReference>
            </connector>
            <label>Under_Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Subject</name>
        <label>Eval Subject</label>
        <locationX>146</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Subject</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjTask.Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Status</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>Manages the reassignment of cases to Task owners when not associated and updates associated cases defined by dispositions in NVM Log a Call</description>
    <formulas>
        <name>ACRNote</name>
        <dataType>String</dataType>
        <expression>RIGHT({!sObjCaseFeed.Body},LEN({!sObjCaseFeed.Body})-29)</expression>
    </formulas>
    <formulas>
        <name>CallNote</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!sObjCaseFeed.Body},&quot;Created new note for a call:&quot;),&quot;ACR_Email&quot;,&quot;ACR_NoEmail&quot;)</expression>
    </formulas>
    <formulas>
        <name>ChngRecordType</name>
        <dataType>String</dataType>
        <expression>IF({!sObjCase.RecordTypeId}={!RecordType},{!sObjCase.RecordTypeId},{!RecordType})</expression>
    </formulas>
    <formulas>
        <name>CurrentCaseType</name>
        <dataType>String</dataType>
        <expression>IF({!sObjCase.RecordTypeId}=&quot;01290000000SzFVAA0&quot;,&quot;Incident Case&quot;,IF({!sObjCase.RecordTypeId}=&quot;01290000000SzFaAAK&quot;,&quot;TSO Case&quot;,IF({!sObjCase.RecordTypeId}=&quot;01290000000TNWUAA4&quot;,&quot;Inquiry&quot;,IF({!sObjCase.RecordTypeId}=&quot;01290000000TNWZAA4&quot;,&quot;Service_Request&quot;,IF({!sObjCase.RecordTypeId}=&quot;01290000001AB9YAAW&quot;,&quot;Web_Filtering_Service_Request&quot;,IF({!sObjCase.RecordTypeId}=&quot;01290000001Icp0AAC&quot;,&quot;Network_Connection_Change_Request&quot;,&quot;&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>Email_AwaitingCustResponse</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!sObjTask.Status__c},&quot;Awaiting Customer Response (email required)&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>IsEscalated</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!sObjTask.Escalation__c},&quot;&quot;),FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>IF({!RecordTypeId}&lt;&gt;&quot;&quot;,{!RecordTypeId},{!sObjCase.RecordTypeId})</expression>
    </formulas>
    <formulas>
        <name>RecTypeName</name>
        <dataType>String</dataType>
        <expression>IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000000SzFVAA0&quot;),&quot;Incident_Case&quot;,IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000000SzFaAAK&quot;),&quot;TSO_Case&quot;,IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000000TNWUAA4&quot;),&quot;Inquiry&quot;,IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000000TNWZAA4&quot;),&quot;Service Request&quot;,IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000001AB9YAAW&quot;),&quot;Web_Filtering_Service_Request&quot;,IF(AND({!RecordType}&lt;&gt;&quot;&quot;,{!RecordType}=&quot;01290000001Icp0AAC&quot;),&quot;Network_Connection_Change_Request&quot;,&quot;&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>Status_F</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!sObjTask.Status__c})=&quot;Awaiting Customer Response (no email)&quot;,&quot;Awaiting Customer Response&quot;,IF(TEXT({!sObjTask.Status__c})=&quot;Awaiting Customer Response (email required)&quot;,&quot;Awaiting Customer Response&quot;,IF(TEXT({!sObjTask.Status__c})=&quot;Resolved&quot;,&quot;Resolved&quot;,IF(TEXT({!sObjTask.Status__c})=&quot;Under Action&quot;,&quot;Under Action&quot;,&quot;&quot;))))</expression>
    </formulas>
    <interviewLabel>NVM Task_Disposition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NVM Task_Disposition</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>15</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOld</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Call_Driver__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Escalated_To_Tier2_Group__c</queriedFields>
        <queriedFields>Escalated_To_Tier2__c</queriedFields>
        <queriedFields>Escalated_To_Tier2_Contact__c</queriedFields>
        <queriedFields>Awaiting_Customer_Reminder_Turned_Off__c</queriedFields>
        <queriedFields>Awaiting_Customer_Information__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CaseFeed</name>
        <label>CaseFeed</label>
        <locationX>148</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_CaseFeed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </filters>
        <object>CaseFeed</object>
        <outputReference>sObjCaseFeed</outputReference>
        <queriedFields>Body</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>CaseLookup</name>
        <label>CaseLookup</label>
        <locationX>148</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eval_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CreatedById</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOrigin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseOld</name>
        <label>CaseOld</label>
        <locationX>146</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eval_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCaseOld</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Call_Driver__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Escalated_To_Tier2_Group__c</queriedFields>
        <queriedFields>Escalated_To_Tier2__c</queriedFields>
        <queriedFields>Escalated_To_Tier2_Contact__c</queriedFields>
        <queriedFields>Awaiting_Customer_Reminder_Turned_Off__c</queriedFields>
        <queriedFields>Awaiting_Customer_Information__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Task</name>
        <label>Task</label>
        <locationX>23</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>sObjTask</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Call_Driver__c</queriedFields>
        <queriedFields>Escalation__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <queriedFields>Call_Disposition__c</queriedFields>
        <queriedFields>CallDisposition</queriedFields>
        <queriedFields>WhoId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>IncidentUpdate</name>
        <label>IncidentUpdate</label>
        <locationX>1711</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>Disposition_to_Case_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Customer_Information__c</field>
            <value>
                <elementReference>sObjCase.Awaiting_Customer_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Awaiting_Customer_Reminder_Turned_Off__c</field>
            <value>
                <elementReference>sObjCase.Awaiting_Customer_Reminder_Turned_Off__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Driver__c</field>
            <value>
                <elementReference>sObjCase.Call_Driver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To_Tier2_Group__c</field>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To_Tier2__c</field>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>sObjCase.IsEscalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>sObjCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>sObjCase.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>sObjCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>sObjCase.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObjCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>InquiryUpdate</name>
        <label>InquiryUpdate</label>
        <locationX>1713</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Disposition_to_Case_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Driver__c</field>
            <value>
                <elementReference>sObjCase.Call_Driver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>sObjCase.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>sObjCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObjCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>SRUpdate</name>
        <label>SRUpdate</label>
        <locationX>1710</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Disposition_to_Case_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Customer_Information__c</field>
            <value>
                <elementReference>sObjCase.Awaiting_Customer_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Awaiting_Customer_Reminder_Turned_Off__c</field>
            <value>
                <elementReference>sObjCase.Awaiting_Customer_Reminder_Turned_Off__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Driver__c</field>
            <value>
                <elementReference>sObjCase.Call_Driver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To_Tier2_Group__c</field>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To_Tier2__c</field>
            <value>
                <elementReference>sObjCase.Escalated_To_Tier2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>sObjCase.IsEscalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>sObjCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>sObjCase.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>sObjCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>sObjCase.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObjCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ownership</name>
        <label>Update Ownership</label>
        <locationX>148</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sObjTask.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Task</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>OldCaseValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case values have been changed via NVM Log a Call disposition as per below:
[Case Record Type] {!CurrentCaseType} &gt;&gt; {!RecTypeName}
[Subject] {!sObjCaseOld.Subject} &gt;&gt; {!sObjCase.Subject}
[Status] {!sObjCaseOld.Status} &gt;&gt; {!sObjCase.Status}
[Priority] {!sObjCaseOld.Priority} &gt;&gt; {!sObjCase.Priority}
[Product] {!sObjCaseOld.Product__c} &gt;&gt; {!sObjCase.Product__c}
[Call Driver] {!sObjCaseOld.Call_Driver__c} &gt;&gt; {!sObjCase.Call_Driver__c}
[Escalated To Tier2] {!sObjCaseOld.Escalated_To_Tier2__c} &gt;&gt; {!sObjCase.Escalated_To_Tier2__c}
[Escalated To Tier2 Group]  {!sObjCaseOld.Escalated_To_Tier2_Group__c} &gt;&gt; {!sObjCase.Escalated_To_Tier2_Group__c}
[Awaiting Customer Reminder Turned Off] {!sObjCaseOld.Awaiting_Customer_Reminder_Turned_Off__c} &gt;&gt; {!sObjCase.Awaiting_Customer_Reminder_Turned_Off__c}
[Awaiting_Customer_Information__c] {!sObjCaseOld.Awaiting_Customer_Information__c} &gt;&gt; {!sObjCase.Awaiting_Customer_Information__c}</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjCaseFeed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseFeed</objectType>
    </variables>
    <variables>
        <name>sObjCaseOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
