force-app/main/default/flows/Onboarding_task_Ruckus_migration_completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Post to chatter that the Ruckus Migration Completed email has been sent</description>
        <name>Email_Sent_Chatter</name>
        <label>Email Sent Chatter</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus Migration Completed email has been sent to Case Contact: {!Get_Case.Contact.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Post to chatter that the Ruckus Migration Completed email has been sent</description>
        <name>Email_Sent_Chatter_0</name>
        <label>Email Sent Chatter</label>
        <locationX>578</locationX>
        <locationY>1032</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>#[Auto Email] Ruckus Done, Switch WIP email has been sent to Case Contact: {!Get_Case.Contact.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Ruckus_Completed_Email_to_Case_Contact</name>
        <label>Send Ruckus Completed Email to Case Contact</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_Switch_WIP_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Sent_Chatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_Switch_WIP_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Ruckus_done_Switch_WIP_Email_to_Case_Contact</name>
        <label>Send Ruckus done, Switch WIP Email to Case Contact</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <actionName>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Sent_Chatter_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.CC_Wireless_Ruckus_Done_All_Done_School_Update_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>wait_for_7_days</name>
        <label>wait for 7 days</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <actionName>Case.NSE_Post_Migration_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_with_Survey_Sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NSE_Post_Migration_Survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check the value of CC - Wireless AP Make, for sending all done comms</description>
        <name>Check_Wireless_AP_Make</name>
        <label>Check Wireless AP Make</label>
        <locationX>182</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Not Ruckus</defaultConnectorLabel>
        <rules>
            <name>Ruckus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orgaqnisation.CC_Wireless_AP_Make__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ruckus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Ruckus_Completed_Email_to_Case_Contact</targetReference>
            </connector>
            <label>Ruckus</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that the Task  “Switch onboarding” = Completed, for sending all done comms.</description>
        <name>Switch_Onboarding_Status</name>
        <label>Switch Onboarding Status</label>
        <locationX>380</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Send_Ruckus_done_Switch_WIP_Email_to_Case_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Switch_Onboarding.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Wireless_AP_Make</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>PROD version with scheduled path set to 7 days
4/5/2023 - Add Date/Time stamp on case when survey is sent</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Onboarding task - Ruckus migration completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding task - Ruckus migration completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the Opportunity related to the Case. This is needed for Opportunity Contact Roles.</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Switch_Onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Organisation (Account) so that the wireless AP make can be referred to in decisions</description>
        <name>Get_Orgaqnisation</name>
        <label>Get Orgaqnisation</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Organisation_fields_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Wireless_AP_Make__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Task &quot;Switch Onboarding&quot; from the same Case as the triggering Task (&quot;Ruckus Migration&quot;).</description>
        <name>Get_Task_Switch_Onboarding</name>
        <label>Get Task Switch Onboarding</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Orgaqnisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Switch Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Survey Sent Date Time</description>
        <name>Update_Case_with_Survey_Sent_Date</name>
        <label>Update Case with Survey Sent Date</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organisation_fields_0_0_0</name>
        <label>Update Organisation fields</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Switch_Onboarding_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orgaqnisation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Wireless_Support_In_Service_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wireless_Controller_Service_Status__c</field>
            <value>
                <stringValue>In Service</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ruckus Migration Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_Survey</name>
            <connector>
                <targetReference>wait_for_7_days</targetReference>
            </connector>
            <label>Send Survey</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Completed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
