force-app/main/default/flows/Order_Activate_and_Send_to_Xero.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Xero</name>
        <label>Send to Xero</label>
        <locationX>1088</locationX>
        <locationY>373</locationY>
        <actionName>OrderXeroSyncInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Successfull</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderXeroSyncInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Already_Activated_with_PO_Number</name>
        <label>Already Activated with PO Number?</label>
        <locationX>562</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Validate_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.PoNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Processed_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PO_Number</name>
        <label>Has PO Number?</label>
        <locationX>876</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Needs_Activating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Send_to_Xero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.PoNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Xero</targetReference>
            </connector>
            <label>No - Send to Xero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Successfull</name>
        <label>Is Successfull?</label>
        <locationX>1212</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_to_Xero.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Activating</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Activating</name>
        <label>Needs Activating?</label>
        <locationX>1213</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Needs_Activating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Order</name>
        <label>Validate Order</label>
        <locationX>729</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Has_PO_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Validated</defaultConnectorLabel>
        <rules>
            <name>Not_Validated</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR ((7 OR 8) AND 9) OR (10 AND 11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.CompanyAuthorizedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.ShippingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.ShippingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.CustomerAuthorizedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOW - Installer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOW - ICT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Planned_Install_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SOW - Installer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SOW - ICT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Latest_Delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Missing</targetReference>
            </connector>
            <label>Not Validated</label>
        </rules>
    </decisions>
    <interviewLabel>Order: Activate and Send to Xero {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Activate and Send to Xero</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>408</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Activated_with_PO_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>1490</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Already_Processed_Screen</name>
        <label>Already Processed Screen</label>
        <locationX>569</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Already_Processed_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;This Order already has a PO Number and is already Activated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1220</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;There was an error pushing this Order to Xero:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!Send_to_Xero.error}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1702</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;﻿﻿Sorry, there was an error processing the Flow:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!$Flow.FaultMessage}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;If you&apos;re able to, please correct your data and try again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_Missing</name>
        <label>Required Fields Missing</label>
        <locationX>739</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequiredFieldsMissing</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;Required field(s) missing.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Please make sure the following fields have a value:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Order Type&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Shipping Address&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Provider&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Company Authorized By&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Latest Delivery Date (if Order Type is Not SOW - Installer and not SOW - ICT)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Planned Installation Date (if Order Type is SOW - Installer or SOW - ICT)&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1489</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(2, 126, 70);&quot;&gt;Successfully send Order to Xero.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(2, 126, 70);&quot;&gt;PO Number:&lt;/b&gt;&lt;span style=&quot;color: rgb(2, 126, 70);&quot;&gt; {!Send_to_Xero.poNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>35</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
