force-app/main/default/flows/RAS_Case_Opt_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manual_Opt_Out_Email</name>
        <label>Manual Opt Out Email</label>
        <locationX>849</locationX>
        <locationY>109</locationY>
        <actionName>Case.Email_RAS_Opt_Out_send</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Opt_Out</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_RAS_Opt_Out_send</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opt_Out_Email_incl_ICT</name>
        <label>Opt Out Email incl ICT</label>
        <locationX>849</locationX>
        <locationY>190</locationY>
        <actionName>Case.Email_RAS_Opt_Out_send_incl_ICT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Opt_Out</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_RAS_Opt_Out_send_incl_ICT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OptOut_Chttr</name>
        <label>OptOut_Chttr</label>
        <locationX>720</locationX>
        <locationY>106</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Manual_Opt_Out_Email</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chttr_OptOut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OptOut_Chttr_1</name>
        <label>OptOut_Chttr</label>
        <locationX>719</locationX>
        <locationY>190</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Opt_Out_Email_incl_ICT</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chttr_OptOut_Incl_ICT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Face_to_Face</name>
        <choiceText>Face to Face</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Face to Face</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>OptOutMethods</name>
        <choiceText>OptOutMethods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <decisions>
        <name>EVAL_Default_Case_Parameters</name>
        <label>EVAL Default Case Parameters</label>
        <locationX>523</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_SCRN</targetReference>
            </connector>
            <label>CaseClosed</label>
        </rules>
        <rules>
            <name>Remote_Access_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjAccount.Remote_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAS_Active_SCRN</targetReference>
            </connector>
            <label>RAS Active</label>
        </rules>
        <rules>
            <name>No_Case_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Case_Contact_SCRN</targetReference>
            </connector>
            <label>No Case Contact</label>
        </rules>
        <rules>
            <name>OptOUT_NoICT</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Service (Existing Customer)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjAccount.Remote_Access__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opt_Out_Method_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Form Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Form Response NotTech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Form Response IsTech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptOut_Chttr</targetReference>
            </connector>
            <label>OptOUT NoICT</label>
        </rules>
        <rules>
            <name>OptOut_IsICT</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sObjCase.ICT_Implementation_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Service (Existing Customer)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjAccount.Remote_Access__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opt_Out_Method_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Form Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptOut_Chttr</targetReference>
            </connector>
            <label>OptOut IsICT</label>
        </rules>
        <rules>
            <name>OptOut_YesICT</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND (10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sObjCase.ICT_Implementation_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000TNWZAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Service (Existing Customer)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.ICT_Implementation_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjAccount.Remote_Access__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opt_Out_Method_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Form Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptOut_Chttr_1</targetReference>
            </connector>
            <label>OptOut YesICT</label>
        </rules>
        <rules>
            <name>Method_OptOut_Err</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_Out_Method_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Method_OptOut_Err_SCRN</targetReference>
            </connector>
            <label>Method OptOut Err</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProductType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!sObjCase.Product__c})=&quot;Remote Access&quot;,&quot;Remote Access&quot;,IF(TEXT({!sObjCase.Product_Category__c})=&quot;Remote Access&quot;,&quot;Remote Access&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UpdateCoord_Notes</name>
        <dataType>String</dataType>
        <expression>TEXT({!sObjCase.Form_Status__c})&amp;&quot; ;&quot;&amp;{!sObjCase.Coordination_Notes__c}</expression>
    </formulas>
    <interviewLabel>RAS Case Opt Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RAS Case Opt Out</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>268</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>Remote_Access__c</queriedFields>
        <queriedFields>Authentication_Method__c</queriedFields>
        <queriedFields>Login_URL__c</queriedFields>
        <queriedFields>RAS_Partition__c</queriedFields>
        <queriedFields>Remote_Access_Platform__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>14</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OptOutStepsSCRN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Form_Status__c</queriedFields>
        <queriedFields>ICT_Implementation_Contact__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Product_Category__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Trigger_Submit_Spark__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Coordination_Notes__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>396</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Default_Case_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Account_Opt_Out</name>
        <label>Account Opt Out</label>
        <locationX>1107</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>OptOutUpdateSCRN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authentication_Method__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Login_URL__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RAS_Partition__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Remote_Access_Platform__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Remote_Access__c</field>
            <value>
                <stringValue>Opt Out</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Opt_Out</name>
        <label>Case Opt Out</label>
        <locationX>980</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Account_Opt_Out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Coordination_Notes__c</field>
            <value>
                <elementReference>UpdateCoord_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Status__c</field>
            <value>
                <stringValue>Verification Form Response OptOut</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - By Requester</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Closed_SCRN</name>
        <label>Case Closed SCRN</label>
        <locationX>354</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnabletoSendVerificationForm_MSG_0_0</name>
            <fieldText>This case is closed, please create a new case
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitWin_MSG}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Method_OptOut_Err_SCRN</name>
        <label>Method OptOut Err SCRN</label>
        <locationX>355</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Method_OptOut_Err_MSG</name>
            <fieldText>No Method of &apos;Opt Out&apos; has been selected, please click on previous and amend and then re-attempt
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_0_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitWin_MSG}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Case_Contact_SCRN</name>
        <label>No Case Contact SCRN</label>
        <locationX>688</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnabletoSendVerificationForm_MSG_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There is &lt;FONT COLOR=&quot;#FF0000&quot;&gt;No&lt;/FONT&gt; Case Contact specified, please amend and reattempt&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitWin_MSG}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OptOutStepsSCRN</name>
        <label>OptOutStepsSCRN</label>
        <locationX>140</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <fields>
            <name>SpecifyOptOutMethod</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please specify the method used to communicate &amp;apos;Opt Out&amp;apos;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_Out_Method_Choice</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Face_to_Face</choiceReferences>
            <choiceReferences>Letter</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OptOutMSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The following will now occur:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Form Status changed to &amp;apos;&lt;U&gt;Verification Form Response OptOut&amp;apos;&lt;/U&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Status changed to &amp;apos;&lt;U&gt;Closed by requester&lt;/U&gt;&amp;apos;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account &amp;gt; Remote Access: &lt;U&gt;Opt Out&lt;/U&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email sent to case contact informing them of the Opt Out&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If an ICT Tech has already been engaged i.e. sent/completed a form - they will be included as email recipient&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &amp;quot;NEXT&amp;apos; to proceed&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(if you do not want to proceed, simply close this window)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OptOutUpdateSCRN</name>
        <label>OptOutUpdateSCRN</label>
        <locationX>1236</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OptOutupdateMSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email has been sent and Records updated to reflect Opt Out.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The case has been updated to reflect:&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status: &lt;U&gt;Closed by Requester&lt;/U&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Form Status: &lt;U&gt;Verification Form Response Opt Out&lt;/U&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account &amp;gt; Remote Access: &lt;U&gt;Opt Out&lt;/U&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email sent to case contact&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If an ICT Tech has already been engaged i.e. sent/completed a form - included as email recipient&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>refreshMSG</name>
            <fieldText>{!RefreshCase}
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExitMSG_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitWin_MSG}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RAS_Active_SCRN</name>
        <label>RAS Active SCRN</label>
        <locationX>520</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnabletoSendVerificationForm_MSG_0</name>
            <fieldText>The form cannot be sent as this school records reflect that Remote Access is already active
.
School Account &gt; Managed Network Add-on Services
Remote Access: {!sObjAccount.Remote_Access__c}
.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitWin_MSG}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Chttr_OptOut</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Confirmation has being received via {!Opt_Out_Method_Choice} communication that school has opted out. Case record is updated and email sent to case contact.</text>
    </textTemplates>
    <textTemplates>
        <name>Chttr_OptOut_Incl_ICT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Confirmation has being received via {!Opt_Out_Method_Choice} communication that school has opted out. Case record is updated and email sent to case contact and ICT Implementer</text>
    </textTemplates>
    <textTemplates>
        <name>ExitWin_MSG</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>To exit pop-up window, simply close window</text>
    </textTemplates>
    <textTemplates>
        <name>RefreshCase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please Note: to see the changes reflected on the case, you need to refresh the case window</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
