force-app/main/default/flows/Reassign_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Case_Deletion</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_Message_Delete</name>
        <choiceText>Email Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Delete_What</name>
        <label>Delete What</label>
        <locationX>1235</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseDel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Deletion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Delete</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>EmailDel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email_Message_Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Deletion</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Closed</name>
        <label>EVAL Closed</label>
        <locationX>896</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase_New.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Notify_Case_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Open_Notify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase_New.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Notify_Case_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Insert_0</targetReference>
            </connector>
            <label>Open Notify</label>
        </rules>
        <rules>
            <name>No_Notify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Notify_Case_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Insert</targetReference>
            </connector>
            <label>No Notify</label>
        </rules>
    </decisions>
    <description>v7: remove hard coded url reference for enhanced domains (outcome screen urls)
v6: remove hard coded url reference after instance migration
Last active version: v5

Main Description :Re-associates specific email message to another case</description>
    <environments>Default</environments>
    <interviewLabel>Reassign Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Email_Message_Insert</name>
        <label>Email Message Insert</label>
        <locationX>1103</locationX>
        <locationY>17</locationY>
        <assignRecordIdToReference>inserted_Email</assignRecordIdToReference>
        <connector>
            <targetReference>Delete_What</targetReference>
        </connector>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>sObjEmailMSG.BccAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>sObjEmailMSG.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>sObjEmailMSG.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>sObjEmailMSG.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headers</field>
            <value>
                <elementReference>sObjEmailMSG.Headers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>sObjEmailMSG.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>sObjEmailMSG.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>sObjEmailMSG.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageIdentifier</field>
            <value>
                <elementReference>sObjEmailMSG.MessageIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sObjCase_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObjEmailMSG.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>sObjEmailMSG.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ThreadIdentifier</field>
            <value>
                <elementReference>sObjEmailMSG.ThreadIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>sObjEmailMSG.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Insert_0</name>
        <label>Email Message Insert</label>
        <locationX>1105</locationX>
        <locationY>118</locationY>
        <assignRecordIdToReference>inserted_Email</assignRecordIdToReference>
        <connector>
            <targetReference>Delete_What</targetReference>
        </connector>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>sObjEmailMSG.BccAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>sObjEmailMSG.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>sObjEmailMSG.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>sObjEmailMSG.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headers</field>
            <value>
                <elementReference>sObjEmailMSG.Headers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>sObjEmailMSG.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>sObjEmailMSG.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>sObjEmailMSG.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageIdentifier</field>
            <value>
                <elementReference>sObjEmailMSG.MessageIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sObjCase_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObjEmailMSG.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>sObjEmailMSG.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ThreadIdentifier</field>
            <value>
                <elementReference>sObjEmailMSG.ThreadIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>sObjEmailMSG.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordDeletes>
        <name>Case_Delete</name>
        <label>Case Delete</label>
        <locationX>1403</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase_old.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordDeletes>
        <name>Email_Message_Deletion</name>
        <label>Email Message Delete</label>
        <locationX>1403</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEmailMSG.Id</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
    </recordDeletes>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>516</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Case_No</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase_old</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>770</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase_old.Id</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>sObjEmailMSG</outputReference>
        <queriedFields>BccAddress</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>HasAttachment</queriedFields>
        <queriedFields>Headers</queriedFields>
        <queriedFields>HtmlBody</queriedFields>
        <queriedFields>IsExternallyVisible</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>MessageIdentifier</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>ToAddress</queriedFields>
        <queriedFields>ThreadIdentifier</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>642</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Case_No</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase_New</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <screens>
        <name>Case_Closed</name>
        <label>Case Closed</label>
        <locationX>897</locationX>
        <locationY>122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseClosed_Prompt</name>
            <fieldText>You have opted to notify the case owner and it has been identified that this case is closed. Directing &apos;new&apos; emails to closed will generate a new cases. You can go to previous screen and re-attempt process after de-selecting &apos;Notify Case Owner&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Case_No</name>
        <label>Input Case No</label>
        <locationX>390</locationX>
        <locationY>13</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <fields>
            <name>Old_Case_No</name>
            <dataType>String</dataType>
            <fieldText>Old Case No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Case Numbers must be entered with leading zeroes i.e. &apos;00012345&apos;, otherwise an error will occur</errorMessage>
                <formulaExpression>LEN({!Old_Case_No})=8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseNoFormat</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Numbers must be entered with leading zeroes i.e. &amp;apos;00012345&amp;apos;, otherwise an error will occur&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Subject</name>
            <dataType>String</dataType>
            <fieldText>Email Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message_Date_Time</name>
            <dataType>String</dataType>
            <fieldText>Message Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>From_Address</name>
            <dataType>String</dataType>
            <fieldText>From Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Case_No</name>
            <dataType>String</dataType>
            <fieldText>New Case No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Case Numbers must be entered with leading zeroes i.e. &apos;00012345&apos;, otherwise an error will occur</errorMessage>
                <formulaExpression>LEN({!New_Case_No})=8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseNoFormat0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Numbers must be entered with leading zeroes i.e. &amp;apos;00012345&amp;apos;, otherwise an error will occur&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delete</name>
            <choiceReferences>Case_Deletion</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delete</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeletePrompt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Deleting the case will delete everything associated to it.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;U&gt;Note&lt;/U&gt;: with notification emails the preference is to &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;re-associate the email to the correct case and delete the case &amp;apos;created in error&amp;apos;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notify_Case_Owner</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Notify Case Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotificationMSG</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;**Only recommend &amp;apos;Notifying Case Owner&amp;apos; where case is not closed, as new case will be opened when &amp;apos;new&amp;apos; email is directed to closed cases&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>1557</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutcomePrompt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The email message has been re-associated to the other case.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please remember to clear your SalesForce Recycle Bin&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/search/UndeletePage&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Recycle Bin&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/_ui/core/email/author/EmailAuthor?email_id={!inserted_Email}&amp;amp;replyToAll=1&amp;amp;retURL=%2F{!inserted_Email}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Re-assigned Email&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;(clicking on this link will take you directly to &apos;reply all&apos; email window)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Input_Case_No</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inserted_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjCase_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjCase_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjEmailMSG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
