force-app/main/default/flows/Remove_Topic_Assignment_from_Article.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_topic</name>
        <label>Assign topic</label>
        <locationX>528</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>varTopic</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_assignments.Topic.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTopic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_topic</name>
        <label>Remove topic</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>varTopic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_assignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_topic_match_the_one_deleted</name>
        <label>Does the topic match the one deleted?</label>
        <locationX>396</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_topic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_assignments.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_topic</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <description>updated logic
Clears varTopic
Changed trigger
Removed the loop
Delete topic</description>
    <interviewLabel>Remove Topic Assignment from Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Topic Assignment from Article</label>
    <loops>
        <name>Loop_thru_assignments</name>
        <label>Loop thru assignments</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_All_Topic_Assignments_linked_to_Article</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_topic_match_the_one_deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Article</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Topic_Assignments_linked_to_Article</name>
        <label>Get All Topic Assignments linked to Article</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Knowledge_Article_Version.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Article_Version</name>
        <label>Get Knowledge Article Version</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Topic_Assignments_linked_to_Article</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KnowledgeArticleVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Article</name>
        <label>Update Article</label>
        <locationX>176</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Knowledge_Article_Version.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Article_Topic__c</field>
            <value>
                <elementReference>varTopic</elementReference>
            </value>
        </inputAssignments>
        <object>Support_Knowledge_Article__kav</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TopicAssignment</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTopic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
