force-app/main/default/flows/Service_Event_Data_Tidy_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>DeleteTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 7</expression>
    </formulas>
    <interviewLabel>Service Event Data Tidy Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Event Data Tidy Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_each_of_records</name>
        <label>Delete each of records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>Get_all_data</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_data</name>
        <label>Get all data</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_each_of_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>asset.link</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>DeleteTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Event__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_data</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2021-11-04</startDate>
            <startTime>05:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
