force-app/main/default/flows/Stakeholder_Engagement_Event_Invitee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Kevin_done</name>
        <label>Notify Kevin done.</label>
        <locationX>1336</locationX>
        <locationY>402</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Failed to find related account on Event {!sObjEvent.Id} {!sObjEvent.Subject} on {!sObjEvent.ActivityDate}: flow &apos;Stakeholder Engagement Event&apos;.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>00590000001DK4WAAW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_account_for_success</name>
        <label>Post to account for success</label>
        <locationX>1589</locationX>
        <locationY>417</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>School Visit Event {!sObjEvent.Subject} on {!sObjEvent.ActivityDate} was successfully processed by flow &apos;Stakeholder Engagement Event&apos; to link to school account. As invitee with id: {!vTxt_WhoID} added.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vTxt_AccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account_from_contact</name>
        <label>Assign Account from contact</label>
        <locationX>1136</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>vTxt_AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTxt_WhoID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjEventRelation.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_from_User</name>
        <label>Assign Account from User</label>
        <locationX>1132</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>vTxt_AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjUser.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTxt_WhoID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EVAL_Event</name>
        <label>EVAL Event</label>
        <locationX>399</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>EventRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Need Update</defaultConnectorLabel>
        <rules>
            <name>Need_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjEvent.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVAL_RelationID</targetReference>
            </connector>
            <label>Need Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>003 = contact record; 005 = user</description>
        <name>EVAL_RelationID</name>
        <label>EVAL RelationID</label>
        <locationX>586</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEventRelation.RelationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjEventRelation.RelationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Event_Account</name>
        <label>Update Event Account</label>
        <locationX>1321</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>Notify_Kevin_done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTxt_AccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventRealtion_AND_RecordType</targetReference>
            </connector>
            <label>Yes Update Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Has_Account</name>
        <label>User Has Account</label>
        <locationX>886</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_from_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Account</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjUser.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Account</label>
        </rules>
    </decisions>
    <description>Created to handle RM school visit placeholder event i.e. no invitee specified at the point of time the event was Synced into Salesforce. This flow will fire on EventRelation object i.e. invitee added to the event.</description>
    <interviewLabel>Stakeholder Engagement Event Invitee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stakeholder Engagement Event Invitee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Event</name>
        <label>Event</label>
        <locationX>292</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEventRelation.EventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>sObjEvent</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>584</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_from_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEventRelation.RelationId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all invitees</description>
        <name>Get_Invitee_Record</name>
        <label>Get Invitee Record</label>
        <locationX>171</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventRelation_ID</elementReference>
            </value>
        </filters>
        <object>EventRelation</object>
        <outputReference>sObjEventRelation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EventId</queriedFields>
        <sortField>RelationId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>762</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Has_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEventRelation.RelationId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sObjUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>EventRealtion_AND_RecordType</name>
        <label>EventRealtion AND RecordType</label>
        <locationX>1587</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Post_to_account_for_success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vTxt_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>vTxt_WhoID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>EventRecordType</name>
        <label>EventRecordType</label>
        <locationX>406</locationX>
        <locationY>296</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEvent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000000TJOGAA4</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>Get_Invitee_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NoInviteeDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!sObjEvent.OwnerId}] Hi there, this event (https://n4l.lightning.force.com/one/one.app#/sObject/{!sObjEvent.Id}) has no invitee details that could be resolved by SalesForce. This is due to the contact name not being exact match to SalesForce records or the contact doe not exist in SalesForce. Please access the event and amend these details prior to the event date by matching the contact name or creating the contact in SalesForce.</text>
    </textTemplates>
    <textTemplates>
        <name>NoRelatedContacts</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!sObjEvent.OwnerId}] Hi there, this event (https://n4l.lightning.force.com/one/one.app#/sObject/{!sObjEvent.Id}) has no related contacts in the event &apos;Name&apos; field. Only one contact is required here, please access the event and amend these details prior to the event date in SalesForce.</text>
    </textTemplates>
    <variables>
        <name>RelatedContact1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedContact2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjCol_EventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>sObjEventInvitees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>sObjEventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>sObjUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEventRelation_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to update event Account ID field</description>
        <name>vTxt_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to update event WhoId field</description>
        <name>vTxt_WhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
