force-app/main/default/flows/subflow_MNU_Email_School_Appointment_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_Complex_Aligned_School</name>
        <label>Send email to Complex - Aligned School</label>
        <locationX>490</locationX>
        <locationY>277</locationY>
        <actionName>Case.MNU_Email_School_Appointment_Confirmation_for_Complex_School_Aligned</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.MNU_Email_School_Appointment_Confirmation_for_Complex_School_Aligned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Complex_Unaligned_School</name>
        <label>Send email to Complex Unaligned School</label>
        <locationX>730</locationX>
        <locationY>272</locationY>
        <actionName>Case.MNU_Email_School_Appointment_Confirmation_for_Complex_School_Unaligned</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.MNU_Email_School_Appointment_Confirmation_for_Complex_School_Unaligned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Simple_School</name>
        <label>Send email to Simple School</label>
        <locationX>255</locationX>
        <locationY>272</locationY>
        <actionName>Case.MNU_Email_School_Appointment_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.MNU_Email_School_Appointment_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Conditions_to_send_email</name>
        <label>Conditions to send email</label>
        <locationX>486</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Send_email_to_Simple_School</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default-Simple</defaultConnectorLabel>
        <rules>
            <name>Complex_Aligned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.FortiGate_Rollout_Site_Complexity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.FortiGate_Rollout_ICT_Alignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aligned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Complex_Aligned_School</targetReference>
            </connector>
            <label>Complex-Aligned</label>
        </rules>
        <rules>
            <name>Complex_Unaligned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.FortiGate_Rollout_Site_Complexity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.FortiGate_Rollout_ICT_Alignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unaligned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Complex_Unaligned_School</targetReference>
            </connector>
            <label>Complex-Unaligned</label>
        </rules>
    </decisions>
    <description>This subflow is an extension from a step in existing process: MNU Case Process, which sends email to school contacts. Originally the process works for &apos;Simple&apos; rollout site, but needed subflow to send various email to &apos;Complex&apos; rollout site.</description>
    <interviewLabel>subflow MNU Email School Appointment Confirmation  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow MNU Email School Appointment Confirmation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>288</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conditions_to_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>FortiGate_Rollout_ICT_Alignment__c</queriedFields>
        <queriedFields>FortiGate_Rollout_Site_Complexity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>94</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>case</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Case</startElementReference>
    <status>Active</status>
    <variables>
        <description>sObject variable: account</description>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>sObject variable: case</description>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>input from parent process builder: MNU Case Processes</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
