force-app/main/default/flows/Subflow_Case_Set_Principal_as_Case_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter</name>
        <label>Post Chatter</label>
        <locationX>567</locationX>
        <locationY>445</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Case contact has been auto set to be the school principal.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_there_a_Principal_Record</name>
        <label>Is there a Principal Record</label>
        <locationX>178</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>No Principal</defaultConnectorLabel>
        <rules>
            <name>Has_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPrincipalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>Has Principal</label>
        </rules>
    </decisions>
    <description>Launched from Case Main Process PB to set case contact as the school principal.
The PB needs to make sure the case account is populated and case contact is blank.</description>
    <interviewLabel>Subflow Case Set Principal as Case Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Case Set Principal as Case Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>By vAccountID</description>
        <name>Get_Principal_Record</name>
        <label>Get Principal Record</label>
        <locationX>186</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Principal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000001Ap4xAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vPrincipalID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>185</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Post_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vPrincipalID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Principal_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPrincipalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
