force-app/main/default/flows/subflow_Maintain_Onboarding_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>add a variable to a collection for bulk update</description>
        <name>Append_Update_Collection</name>
        <label>Append Update Collection</label>
        <locationX>744</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>opportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filtering_Portal_Closed_Won</name>
        <label>Set Filtering Portal - Closed Won</label>
        <locationX>740</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunityToCreate</name>
        <label>Set opportunityToCreate</label>
        <locationX>553</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>opportunityToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!accountRecord.Name} - Onboarding: Filtering Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125m0000004HkbAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignRecord.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_has_Filtering_Portal_Opportunities</name>
        <label>Account has Filtering Portal Opportunities</label>
        <locationX>192</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_has_Filtering_Portal_Opportunities_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Type</name>
        <label>Onboarding Type</label>
        <locationX>511</locationX>
        <locationY>40</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Type_Filtering_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord.FortiPortal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityRecord.Campaign_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Filtering Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Filtering_Portal_Closed_Won</targetReference>
            </connector>
            <label>Filtering Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Type_0</name>
        <label>Onboarding Type</label>
        <locationX>193</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Type_Filtering_Portal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord.FortiPortal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Filtering_Portal_Campaign</targetReference>
            </connector>
            <label>Filtering Portal</label>
        </rules>
    </decisions>
    <description>Process Builder - Contact Main Process will call this Flow when FortiPortal access is granted. Passing AccountId. Check if onboarding opportunities exist, if yes and FortiPortal Access has been granted, update opportunities to &quot;Close - Won&quot;.  Do nothing if FortiPortal Access has been removed.
if onboarding opportunities did not exist, and FortiPortal Access has been granted, update opportunities to &quot;Close - Won&quot;.</description>
    <interviewLabel>subflow Maintain Onboarding Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow Maintain Onboarding Opportunities</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>397</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>opportunityRecord</assignNextValueToReference>
        <collectionReference>opportunityRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Onboarding_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>747</locationX>
        <locationY>526</locationY>
        <inputReference>opportunityToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Account record for populating fields in Opportunity</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>200</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Record for deciding whether the contact has access to FortiPortal</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>57</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FortiPortal_Access__c</queriedFields>
        <queriedFields>FortiPortal_User_Role__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the parent Campaign</description>
        <name>Get_Filtering_Portal_Campaign</name>
        <label>Get Filtering Portal Campaign</label>
        <locationX>389</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_opportunityToCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Onboarding: Filtering Portal</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Onboarding Opportunities for the account record of this contact</description>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>50</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_Filtering_Portal_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunityRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign_Name__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>743</locationX>
        <locationY>307</locationY>
        <inputReference>opportunitiesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunities</startElementReference>
    <status>Active</status>
    <variables>
        <description>account id passed from Process Builder - Contact Main Process</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>allow parent flow to pass variable accountRecord</description>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>campaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>use contactId to find user record</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>allow parent flow to pass contactRecord</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>opportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>for looping through collection elements</description>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>used as looping element in userList</description>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
