force-app/main/default/flows/subflow_create_opportunity_contact_roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_contact_record_value_Primary</name>
        <label>Assign contact record value-Primary</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_record_contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Primary_input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_collection_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact.PhotoUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Primary_input.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contact_Primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_contact</name>
        <label>Assign Primary contact</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_record_primary.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_to_get_primary_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_primary.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_primary.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_secondary_contact_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_primary_contact_role_value</name>
        <label>Assign primary contact role value</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_record_primary.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_primary.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_primary.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_record_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_secondary_contact_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_secondary_contact_role</name>
        <label>Assign secondary contact role</label>
        <locationX>1106</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>var_record_secondary.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_record_contact_secondary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_secondary.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_secondary.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_secondary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Technical_contact_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Contact_Value</name>
        <label>Assign Secondary Contact Value</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>var_record_contact_secondary.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact_secondary.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_secondary_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact_secondary.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_secondary_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact_secondary.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_secondary_input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_collection_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_contact_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_contact_secondary.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_secondary_input.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contact_secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_secondary_contactId</name>
        <label>Assign secondary contactId</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>var_record_secondary.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_to_get_secondary_contact_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_secondary.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_secondary.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_secondary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Technical_contact_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Contact_Value</name>
        <label>Assign Technical Contact Value</label>
        <locationX>1106</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>var_contact_technical.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact_technical.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_technical_input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact_technical.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_technical_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact_technical.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_technical_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact_technical.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Technical_input.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contact_technical</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_technical_contactId</name>
        <label>Assign technical contactId</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>var_record_technical.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_to_Get_Technical_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_technical.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technical Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_technical.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_technical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity_contact_roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_technical_role</name>
        <label>Assign technical role</label>
        <locationX>1106</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>var_record_technical.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_contact_technical.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_technical.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technical Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_record_technical.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_record_technical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity_contact_roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_decision_on_opp_primary_contact_role</name>
        <label>Action decision on opp primary contact role</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>primary_needs_to_be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_primary_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_primary_contact</targetReference>
            </connector>
            <label>primary_ needs to be updated</label>
        </rules>
        <rules>
            <name>primary_no_updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_record_primary.Contact.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_Opportunity_Primary_contact_role.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_case_primary_contact</targetReference>
            </connector>
            <label>primary_no updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_decision_on_opp_secondary_contact_role</name>
        <label>Action decision on opp secondary contact role</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_secondary_contactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sec_needs_to_be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_secondary_email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_secondary_contact</targetReference>
            </connector>
            <label>sec_needs to be updated</label>
        </rules>
        <rules>
            <name>sec_no_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_secondary_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_secondary_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_case_sec_contact</targetReference>
            </connector>
            <label>sec_no update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_decision_on_opp_tech_contact_role</name>
        <label>Action decision on opp tech contact role</label>
        <locationX>314</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Assign_technical_contactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tech_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_technical_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_tech_role</targetReference>
            </connector>
            <label>tech_needs update</label>
        </rules>
        <rules>
            <name>tech_no_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_technical_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_opp_tech_contact_role.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_case_tech_contact</targetReference>
            </connector>
            <label>tech_no update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_contact_exist</name>
        <label>Technical contact exist</label>
        <locationX>710</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Input_Technical_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contact_technical</defaultConnectorLabel>
        <rules>
            <name>Technical_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_Get_Technical_Contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_Get_Technical_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Try_to_get_opp_tech_contact_role</targetReference>
            </connector>
            <label>Technical Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_contact_blank</name>
        <label>Is Primary contact blank</label>
        <locationX>292</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Try_to_get_primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary contact is not blank</defaultConnectorLabel>
        <rules>
            <name>Primary_contact_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_primary_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_primary_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_secondary_contact_blank</targetReference>
            </connector>
            <label>Primary contact is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_secondary_contact_blank</name>
        <label>Is secondary contact blank</label>
        <locationX>292</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Try_to_get_secondary_contact_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_secondary_contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_secondary_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_secondary_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Technical_contact_blank</targetReference>
            </connector>
            <label>No secondary contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Technical_contact_blank</name>
        <label>Is Technical contact blank</label>
        <locationX>292</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Try_to_Get_Technical_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_technical_contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_technical_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_technical_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_contact_roles</targetReference>
            </connector>
            <label>No technical contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_contact_found</name>
        <label>Primary contact found</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Input_Primary_contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contact_primary</defaultConnectorLabel>
        <rules>
            <name>Found_primary_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_primary_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_primary_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Try_to_get_Opportunity_Primary_contact_role</targetReference>
            </connector>
            <label>Found primary contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_contact_found</name>
        <label>Secondary contact found</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Input_secondary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contact found _ Secondary</defaultConnectorLabel>
        <rules>
            <name>Found_secondary_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_to_get_secondary_contact_1.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Try_to_get_secondary_contact_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Try_to_get_opp_secondary_contact</targetReference>
            </connector>
            <label>Found secondary contact</label>
        </rules>
    </decisions>
    <description>replaced or with and in all second decision nodes</description>
    <dynamicChoiceSets>
        <name>ContactRoles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>subflow - create opportunity contact roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow - create opportunity contact roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contact_Primary</name>
        <label>Create contact_Primary</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_relationship_records</targetReference>
        </connector>
        <inputReference>var_record_contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_contact_secondary</name>
        <label>Create contact_secondary</label>
        <locationX>1106</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_relationship_records_2</targetReference>
        </connector>
        <inputReference>var_record_contact_secondary</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_contact_technical</name>
        <label>Create contact_technical</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Update_relationship_3</targetReference>
        </connector>
        <inputReference>var_contact_technical</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity_contact_roles</name>
        <label>Create opportunity contact roles</label>
        <locationX>292</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>Update_Case_Contacts</targetReference>
        </connector>
        <inputReference>var_recordcollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Try_to_get_opp_secondary_contact</name>
        <label>Try to get opp secondary contact</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_decision_on_opp_secondary_contact_role</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_secondary_contactId</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_get_opp_tech_contact_role</name>
        <label>Try to get opp tech contact role</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_decision_on_opp_tech_contact_role</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_technical_contactId</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_get_Opportunity_Primary_contact_role</name>
        <label>Try to get Opportunity Primary contact role</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_decision_on_opp_primary_contact_role</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Primary_contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_get_primary_contact</name>
        <label>Try to get primary contact</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_contact_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_secondary_contact_blank</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_primary_email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_get_secondary_contact_1</name>
        <label>Try to get secondary contact</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Secondary_contact_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Technical_contact_blank</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_secondary_email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_Get_Technical_Contact</name>
        <label>Try to Get Technical Contact</label>
        <locationX>710</locationX>
        <locationY>2582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_contact_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_technical_email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Contacts</name>
        <label>Update Case Contacts</label>
        <locationX>292</locationX>
        <locationY>3734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_record_primary.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICT_Implementation_Contact__c</field>
            <value>
                <elementReference>var_record_technical.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>var_record_secondary.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_primary_contact</name>
        <label>Update case primary contact</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Is_secondary_contact_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_to_get_primary_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_sec_contact</name>
        <label>Update case sec contact</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Is_Technical_contact_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>Try_to_get_opp_secondary_contact.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_tech_contact</name>
        <label>Update case tech contact</label>
        <locationX>50</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Create_opportunity_contact_roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICT_Implementation_Contact__c</field>
            <value>
                <elementReference>Try_to_get_opp_tech_contact_role.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_primary_contact</name>
        <label>Update Opp primary contact</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_case_primary_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_to_get_primary_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_secondary_contact</name>
        <label>Update opp secondary contact</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_case_sec_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_to_get_secondary_contact_1.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_tech_role</name>
        <label>Update opp tech role</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Update_case_tech_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_to_Get_Technical_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_relationship_3</name>
        <label>Update relationship 3</label>
        <locationX>1106</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Assign_technical_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contact_technical.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Role_technical_input</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_relationship_records</name>
        <label>Update relationship records</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_primary_contact_role_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_record_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Role_input</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_relationship_records_2</name>
        <label>Update relationship records 2</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Assign_secondary_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_record_contact_secondary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Role_secondary_input</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <screens>
        <name>Input_Primary_contact_Info</name>
        <label>Input Primary contact Info</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_contact_record_value_Primary</targetReference>
        </connector>
        <fields>
            <name>Display_createcontact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Primary Contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;There is no contact record found, please create a new one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Primary_contact_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Primary_contact_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_name_input</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Primary_contact_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_input</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Primary_contact_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Primary_input</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>02x xxx xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Input_Primary_contact_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Primary_contact_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Primary_input</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>var_primary_email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>var_primary_email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Primary_contact_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Role_input</name>
                    <choiceReferences>ContactRoles</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create a new contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_secondary_contact</name>
        <label>Input secondary contact</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Secondary_Contact_Value</targetReference>
        </connector>
        <fields>
            <name>Display_text_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Secondary Contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There is no contact record found, please create a new one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_secondary_contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_secondary_contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_secondary_input</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_secondary_contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_secondary_input</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_secondary_contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_secondary_input</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>02x xxx xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Input_secondary_contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_secondary_contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_secondary_input</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>var_secondary_email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_secondary_contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Role_secondary_input</name>
                    <choiceReferences>ContactRoles</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create a new contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Technical_Contact</name>
        <label>Input Technical Contact</label>
        <locationX>1106</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Technical_Contact_Value</targetReference>
        </connector>
        <fields>
            <name>Input_screen_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Technical Contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There is no contact record found, please create a new one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Technical_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Technical_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_technical_input</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Technical_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_technical_input</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Technical_Contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Technical_input</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>02x xxx xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Input_Technical_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Technical_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_technical_input</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>var_technical_email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Technical_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Role_technical_input</name>
                    <choiceReferences>ContactRoles</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create a new contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Primary_contact_blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_case_tech_contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_collection_case_contact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_collection_contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_contact_technical</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_primary_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_primary_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_record_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_record_contact_secondary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_record_primary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_record_relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>var_record_secondary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_record_technical</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_recordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_secondary_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_secondary_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_technical_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_technical_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
