force-app/main/default/flows/Support_Case_Survey_Batch_Send.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_survey</name>
        <label>Email survey</label>
        <locationX>1353</locationX>
        <locationY>272</locationY>
        <actionName>Case.Email_Survey_on_Incident_Closure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Hit_Limit</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vObj_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_Survey_on_Incident_Closure</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>TimeStamp_sent_date_time</name>
        <label>TimeStamp sent date time</label>
        <locationX>1167</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>vObj_Case.Survey_Sent_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTotalCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Case_to_be_process</name>
        <label>Any Case to be process</label>
        <locationX>488</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Loop_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Cases_to_be_processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOC_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Case_to_be_process</targetReference>
            </connector>
            <label>No Cases to be processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hit_Limit</name>
        <label>Hit Limit</label>
        <locationX>1022</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>Loop_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTotalCases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Display</targetReference>
            </connector>
            <label>Exit</label>
        </rules>
    </decisions>
    <description>Created to send catch up support cases&apos; survey after Simple survey Getfeedback replacement</description>
    <interviewLabel>Support Case Survey Batch Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Case Survey Batch Send</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>727</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>vObj_Case</assignNextValueToReference>
        <collectionReference>vOC_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TimeStamp_sent_date_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_Cases_To_be_processed</name>
        <label>Get all Cases To be processed</label>
        <locationX>334</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Case_to_be_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000TNWZAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Sent_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>Survey_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vOC_Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Sent_Date_Time__c</queriedFields>
        <sortField>ClosedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>1350</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Email_survey</targetReference>
        </connector>
        <inputReference>vObj_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Final_Display</name>
        <label>Final Display</label>
        <locationX>734</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DosplayText</name>
            <fieldText>Total of {!vTotalCases} processed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Case_to_be_process</name>
        <label>No Case to be process</label>
        <locationX>490</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Prompttext1</name>
            <fieldText>There is no cases in between {!Start_Date_Time} and {!End_Date_Time} need to be sent the catch up post upgrade survey.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Date_Range</name>
        <label>Select Date Range</label>
        <locationX>180</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_all_Cases_To_be_processed</targetReference>
        </connector>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <dateTimeValue>2019-04-21T12:00:00.000Z</dateTimeValue>
            </defaultValue>
            <fieldText>Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <dateTimeValue>2019-05-08T00:00:00.000Z</dateTimeValue>
            </defaultValue>
            <fieldText>End Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PromptText</name>
            <fieldText>Start and End Date Time are both includisve.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Date_Range</startElementReference>
    <status>Draft</status>
    <variables>
        <name>LimitCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vObj_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vOC_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vTotalCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
