force-app/main/default/flows/Support_Tools_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>EVA_Device</name>
        <label>EVA_Device</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Device_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjDevice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VLANID600IPAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVA_IPAddress</name>
        <label>EVA_IPAddress</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IP_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectIPAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tools_SCRN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVA_SiteID</name>
        <label>EVA_SiteID</label>
        <locationX>611</locationX>
        <locationY>830</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiteID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjAccount.MoE_Site_ID_Lookup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjAccount.MoE_Site_ID_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SiteId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Account_Start_Point</name>
        <label>EVAL Account Start Point</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Account_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>EVAL_Case_Account</name>
        <label>EVAL Case Account</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v19: removed hard coded url reference from Reassign Email link in the Tools SCRN. Changed to relative reference (for Enhanced Domains)
v12: remove hard coded url reference after instance migration
Last active version: v11

Main Description :</description>
    <environments>Default</environments>
    <formulas>
        <name>AccWebsite</name>
        <dataType>String</dataType>
        <expression>IF({!sObjAccount.Website}&lt;&gt;&quot;&quot;,RIGHT({!sObjAccount.Website},LEN({!sObjAccount.Website})-FIND(&quot;.&quot;,{!sObjAccount.Website})),&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Support Tools Case{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Tools</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>479</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVA_SiteID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>MoE_School_ID__c</queriedFields>
        <queriedFields>MoE_Site_ID_Lookup__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Account_0</name>
        <label>Account</label>
        <locationX>215</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVA_SiteID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>MoE_School_ID__c</queriedFields>
        <queriedFields>MoE_Site_ID_Lookup__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVAL_Case_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObjCase</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Device</name>
        <label>Device</label>
        <locationX>380</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVA_Device</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000TIx7AAG</stringValue>
            </value>
        </filters>
        <object>Device__c</object>
        <outputReference>sObjDevice</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SiteId</name>
        <label>SiteId</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Device</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.MoE_Site_ID_Lookup__c</elementReference>
            </value>
        </filters>
        <object>MoE_School_Site__c</object>
        <outputReference>sObjSiteId</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>MoE_Site_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VLANID600IPAddress</name>
        <label>VLANID600IPAddress</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EVA_IPAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Device__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjDevice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VLAN_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>600.0</numberValue>
            </value>
        </filters>
        <object>IP_Subnet__c</object>
        <outputReference>sObjectIPAddress</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Tools_SCRN</name>
        <label>Tools SCRN</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Tools_MSG</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://lc.int.n4l.net.nz/index.php?todo=manpi&amp;amp;action=get_device&amp;amp;moe_id={!sObjAccount.MoE_School_ID__c}&amp;amp;site_id={!sObjSiteId.Name}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;LC&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://rancid-akl01.int.n4l.net.nz/viewvc/CLNE/configs/{!sObjDevice.Name}.n4l.local.nz?view=markup&amp;amp;sortby=log&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;RANCID&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://hub01-akl01.int.n4l.net.nz:8080/zport/dmd/Devices/Network/Router/Cisco/devices/{!sObjDevice.Name}/devicedetail#deviceDetailNav:device_overview&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;ZENOSS&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://kibana.int.n4l.net.nz:5601/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&amp;amp;_a=(columns:!(way1,way2,initiator,port_initiator,bytes_initiator,responder,port_responder,bytes_responder),index:&apos;session-*&apos;,interval:auto,query:(query_string:(analyze_wildcard:!t,query:&apos;*{!sObjDevice.Name}.n4l.local.nz&apos;)),sort:!(&apos;@timestamp&apos;,desc))&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Kibana (Session Logs)&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://kibana.int.n4l.net.nz:5601/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&amp;amp;_a=(columns:!(way1,way2,ip1,port1,ip2,port2,protocol),index:&apos;fw-*&apos;,interval:auto,query:(query_string:(analyze_wildcard:!t,query:&apos;*{!sObjDevice.Name}.n4l.local.nz&apos;)),sort:!(&apos;@timestamp&apos;,desc))&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Kibana (Firewall Drops)&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://kibana.int.n4l.net.nz:5601/app/kibana#/dashboard/School_Stats?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-4h,mode:quick,to:now))&amp;amp;_a=(filters:!(),options:(darkTheme:!f),panels:!((col:11,id:Denise_FW_Inbound_Blocks_count,panelIndex:1,row:1,size_x:2,size_y:3,type:visualization),(col:1,id:Denise_FW_Inbound_top10_ports,panelIndex:2,row:1,size_x:5,size_y:3,type:visualization),(col:6,id:Denise_FW_Inbound_top10_countries,panelIndex:3,row:1,size_x:5,size_y:3,type:visualization),(col:11,id:Denise_FW_Outbound_Block_count,panelIndex:4,row:4,size_x:2,size_y:3,type:visualization),(col:6,id:Denise_FW_Outbound_top10_InternalIPs,panelIndex:5,row:4,size_x:5,size_y:3,type:visualization),(col:1,id:Denise_FW_Outbound_top10_ports,panelIndex:6,row:4,size_x:5,size_y:3,type:visualization),(col:11,id:Denise_Allowed_Inbound_Protocol_Count,panelIndex:7,row:7,size_x:2,size_y:3,type:visualization),(col:1,id:School_Allowed_Inbound_top10_ports,panelIndex:8,row:7,size_x:5,size_y:3,type:visualization),(col:6,id:School_Allowed_Inbound_top10_countries,panelIndex:9,row:7,size_x:5,size_y:3,type:visualization),(col:11,id:School_Allowed_Outbound_Protocol_count,panelIndex:10,row:10,size_x:2,size_y:3,type:visualization),(col:6,id:School_Allowed_Outbound_InternalIPs,panelIndex:11,row:10,size_x:5,size_y:3,type:visualization),(col:1,id:School_Allowed_Outbound_top10_ports,panelIndex:12,row:10,size_x:5,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:&apos;logsource:%20%22{!sObjDevice.Name}.n4l.local.nz%22&apos;)),title:School_Stats,uiState:(P-12:(vis:(colors:(tcp:%23629E51,udp:%230A50A1)))))&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Kibana (Security Dashboard)&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dashboard.mysparkdigital.co.nz/netman/device?device={!sObjDevice.Name}.n4l.local.nz&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Self Service Portal (Login required)&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://scancenter.scansafe.com/portal/main/scancenter.controller#/masteradmin&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;CWS Portal&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://mxtoolbox.com/SuperTool.aspx?action=mx%3a{!AccWebsite}&amp;amp;run=toolpage&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;MX Lookup&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/flow/Reassign_Email?&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Reassign Email&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;{!FortiGateToolURL}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;To access some systems you may need to have them open and logged in&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Note: These tools can ONLY be accessed within N4L Office network&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EVAL_Account_Start_Point</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FortiGateToolURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;a href=&quot;https://{!sObjectIPAddress.Name}:22443&quot; target=&quot;_blank&quot;  rel=&quot;noopener&quot;&gt;&lt;span style=&quot;color: #000000; font-family: Arial;&quot;&gt;FortiGate Tool&lt;/span&gt;&lt;/a&gt;&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjDevice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Device__c</objectType>
    </variables>
    <variables>
        <name>sObjectIPAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IP_Subnet__c</objectType>
    </variables>
    <variables>
        <name>sObjSiteId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MoE_School_Site__c</objectType>
    </variables>
</Flow>
