force-app/main/default/flows/Support_Hub_User_Update_Contact_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_contact_record</name>
        <label>Post to contact record</label>
        <locationX>1338</locationX>
        <locationY>797</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varOBJ_contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00590000001DK4WAAW]Email, phone, and/or mobile details were updated by correspondent user via Support Hub.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_user_id</name>
        <label>Assign user id</label>
        <locationX>191</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>varT_userid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindContactRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>471</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayEmailNeedsUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mobile</name>
        <label>Update Mobile</label>
        <locationX>933</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_mobilephone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_has_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Phone</name>
        <label>Update Phone</label>
        <locationX>724</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Phone_Needs_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_if_contact_id_is_null</name>
        <label>Evaluate if contact id is null</label>
        <locationX>469</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_contactid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_contact_record</targetReference>
            </connector>
            <label>contact is not null</label>
        </rules>
        <rules>
            <name>contact_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_contactid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_contcat_record_needs_update</name>
        <label>Evaluate if contcat record needs update</label>
        <locationX>1138</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Display_the_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_record_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_ifneedupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_the_update</targetReference>
            </connector>
            <label>contact record needs update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_email_needs_update</name>
        <label>Evaluate if email needs update</label>
        <locationX>470</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_phone_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>email_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOBJ_contact.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email</targetReference>
            </connector>
            <label>email is changed</label>
        </rules>
        <rules>
            <name>email_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_phone_needs_update</targetReference>
            </connector>
            <label>email both null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_mobile_phone_needs_update</name>
        <label>Evaluate if mobile phone needs update</label>
        <locationX>930</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>mobile_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varT_mobilephone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile</targetReference>
            </connector>
            <label>mobile is changed</label>
        </rules>
        <rules>
            <name>mobile_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
            </connector>
            <label>mobile both null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_phone_needs_update</name>
        <label>Evaluate if phone needs update</label>
        <locationX>719</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>phone_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOBJ_contact.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone</targetReference>
            </connector>
            <label>phone is changed</label>
        </rules>
        <rules>
            <name>phone_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
            </connector>
            <label>phone both null</label>
        </rules>
    </decisions>
    <description>Accept user id and update the corresponding contact record email, phone and mobile phone.</description>
    <interviewLabel>Support Hub User Update Contact Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Hub User Update Contact Record Test</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_the_contact_record</name>
        <label>Find the contact record</label>
        <locationX>470</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_email_needs_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_contactid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varOBJ_contact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindContactRecord</name>
        <label>FindContactRecord</label>
        <locationX>328</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_contact_id_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varT_contactid</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_mobilephone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1140</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Post_to_contact_record</targetReference>
        </connector>
        <inputReference>varOBJ_contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Phone_Needs_update</name>
        <label>Display Phone Needs update</label>
        <locationX>729</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
        </connector>
        <fields>
            <name>PhoneFieldUpdate</name>
            <fieldText>Determined phone needs an update</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_the_update</name>
        <label>Display the update</label>
        <locationX>1141</locationX>
        <locationY>704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayResult</name>
            <fieldText>Required update contact record? {!varB_ifneedupdate}
User record email: {!varT_Email}
User record phone: {!varT_phone}
User record mobile: {!varT_mobilephone}

Contact record contact id: {!varOBJ_contact.Id}
Contact record email: {!varOBJ_contact.Email}
Contact record phone: {!varOBJ_contact.Phone}
Contact record mobile: {!varOBJ_contact.MobilePhone}


{!varOBJ_contact}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayEmailNeedsUpdate</name>
        <label>DisplayEmailNeedsUpdate</label>
        <locationX>477</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_if_phone_needs_update</targetReference>
        </connector>
        <fields>
            <name>EmailChanged</name>
            <fieldText>Email has changed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>use id &quot;2F0059000000Tsdpu&quot; for testing. (Kevin Tester user.</description>
        <name>Input_user_id</name>
        <label>Input user id</label>
        <locationX>57</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_user_id</targetReference>
        </connector>
        <fields>
            <name>User_id</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>User id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mobile_has_changed</name>
        <label>Mobile has changed</label>
        <locationX>937</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
        </connector>
        <fields>
            <name>MobileChanged</name>
            <fieldText>Mobile has changed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Input_user_id</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varB_ifneedupdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOBJ_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varT_contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_mobilephone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
