force-app/main/default/flows/Support_Hub_User_Update_Contact_Record_Proc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_contact_record</name>
        <label>Post to contact record</label>
        <locationX>1433</locationX>
        <locationY>1139</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varOBJ_contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00590000001DK4WAAW]Email, phone, and/or mobile details were updated by correspondent user via Support Hub.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>174</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_if_phone_needs_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mobile</name>
        <label>Update Mobile</label>
        <locationX>636</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_mobilephone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Phone</name>
        <label>Update Phone</label>
        <locationX>427</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>varOBJ_contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ifneedupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_if_contact_id_is_null</name>
        <label>Evaluate if contact id is null</label>
        <locationX>172</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_contactid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_contact_record</targetReference>
            </connector>
            <label>contact is not null</label>
        </rules>
        <rules>
            <name>contact_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_contactid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_contcat_record_needs_update</name>
        <label>Evaluate if contcat record needs update</label>
        <locationX>841</locationX>
        <locationY>1022</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_record_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_ifneedupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_process_for_future</targetReference>
            </connector>
            <label>contact record needs update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_email_needs_update</name>
        <label>Evaluate if email needs update</label>
        <locationX>173</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_phone_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>email_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOBJ_contact.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email</targetReference>
            </connector>
            <label>email is changed</label>
        </rules>
        <rules>
            <name>email_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_phone_needs_update</targetReference>
            </connector>
            <label>email both null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_mobile_phone_needs_update</name>
        <label>Evaluate if mobile phone needs update</label>
        <locationX>633</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>mobile_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varT_mobilephone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile</targetReference>
            </connector>
            <label>mobile is changed</label>
        </rules>
        <rules>
            <name>mobile_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_mobilephone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_contcat_record_needs_update</targetReference>
            </connector>
            <label>mobile both null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_phone_needs_update</name>
        <label>Evaluate if phone needs update</label>
        <locationX>422</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>phone_is_changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOBJ_contact.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone</targetReference>
            </connector>
            <label>phone is changed</label>
        </rules>
        <rules>
            <name>phone_both_null</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOBJ_contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_if_mobile_phone_needs_update</targetReference>
            </connector>
            <label>phone both null</label>
        </rules>
    </decisions>
    <description>Triggered from process with user id on user record update.</description>
    <interviewLabel>Support Hub User Update Contact Record Proc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Hub User Update Contact Record Proc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_the_contact_record</name>
        <label>Find the contact record</label>
        <locationX>173</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_email_needs_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_contactid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varOBJ_contact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindContactRecord</name>
        <label>FindContactRecord</label>
        <locationX>31</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_contact_id_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varT_contactid</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_mobilephone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1165</locationX>
        <locationY>1090</locationY>
        <connector>
            <targetReference>Post_to_contact_record</targetReference>
        </connector>
        <inputReference>varOBJ_contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FindContactRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varB_ifneedupdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOBJ_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varT_contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_mobilephone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <waits>
        <name>Call_process_for_future</name>
        <label>Call process for @future</label>
        <locationX>1020</locationX>
        <locationY>1063</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Call_future_process</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Contact_Record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$System.OriginDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Call future process</label>
        </waitEvents>
    </waits>
</Flow>
