force-app/main/default/flows/Update_XIQ_product_features.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>When migration signoff task is completed, update status = active, default expiry date to 2025-4-30</description>
    <environments>Default</environments>
    <interviewLabel>Update XIQ product features {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update XIQ product features</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Installed_Product_Feature</name>
        <label>Get Installed Product Feature</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_installed_product_feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_onboarding_case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XIQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Installed_N4L_Product_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_onboarding_case</name>
        <label>Get onboarding case</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Installed_Product_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_attributes</name>
        <label>Update attributes</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Installed_N4L_Product_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installed_Product_Feature.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expiry Date</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2c5m0000002w7qAAA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue__c</field>
            <value>
                <stringValue>2025-4-30</stringValue>
            </value>
        </inputAssignments>
        <object>Installed_N4L_Product_Feature_Attributes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_installed_product_feature</name>
        <label>Update installed product feature</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_onboarding_case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Feature_Shortname__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XIQ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>$Record.Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Installed_N4L_Product_Feature__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_onboarding_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment Support -XIQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Migration Sign Off</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
