force-app/main/default/flows/Update_Related_User_Permission_Flags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>containsFortiportal</name>
        <label>containsFortiportal</label>
        <locationX>242</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>FortiportalforUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>System_Accessible_Contains_NMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign NMS value to true</description>
        <name>containsNMS</name>
        <label>containsNMS</label>
        <locationX>242</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>NMSforUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>System_Accessible_Contains_Reporting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Reporting Value True</description>
        <name>containsReporting</name>
        <label>containsReporting</label>
        <locationX>242</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ReportingForUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Null Check for Retrieved User</description>
        <name>isUserNull</name>
        <label>is User Null ?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>System_Accessible_Contains_Fortiportal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Accessible_Contains_Fortiportal</name>
        <label>System Accessible Contains Fortiportal?</label>
        <locationX>374</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>System_Accessible_Contains_NMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Accessible_Has_Fortiportal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountContactRelationship.Contact.System_Accessible__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fortiportal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>containsFortiportal</targetReference>
            </connector>
            <label>System Accessible Has Fortiportal</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Accessible_Contains_NMS</name>
        <label>System Accessible Contains Network Management System?</label>
        <locationX>374</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>System_Accessible_Contains_Reporting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Accessible_Has_NWS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountContactRelationship.Contact.System_Accessible__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Network Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>containsNMS</targetReference>
            </connector>
            <label>System Accessible Has Network Management System</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Accessible_Contains_Reporting</name>
        <label>System Accessible Contains Reporting?</label>
        <locationX>374</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_Related_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Accessible_Has_Reporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountContactRelationship.Contact.System_Accessible__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>containsReporting</targetReference>
            </connector>
            <label>System Accessible Has Reporting</label>
        </rules>
    </decisions>
    <interviewLabel>Update Related User Permission Flags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Related User Permission Flags</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountContactRelationship</name>
        <label>getAccountContactRelationship</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationship.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedUser</name>
        <label>getRelatedUser</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isUserNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountContactRelationship.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates related user Checkboxes</description>
        <name>Update_Related_User</name>
        <label>Update Related User</label>
        <locationX>374</locationX>
        <locationY>1526</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsFilteringPortalUser__c</field>
            <value>
                <elementReference>FortiportalforUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsNMSUser__c</field>
            <value>
                <elementReference>NMSforUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSchoolReportingUser__c</field>
            <value>
                <elementReference>ReportingForUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountContactRelationship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>record being processed</description>
        <name>accountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FortiportalforUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NMSforUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores REporting value for System Accessible</description>
        <name>ReportingForUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
