force-app/main/default/flows/Update_ER_Lite_to_active_when_Phase_1_install_task_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>06/23: Add an update record element to deactivate XIQ when ER lite becomes active.</description>
    <environments>Default</environments>
    <interviewLabel>Update ER Lite to active when Phase 1 install task completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ER Lite to active when Phase 1 install task completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ER_Lite_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_XIQ</name>
        <label>Deactivate XIQ</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XIQ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Installed_N4L_Product_Feature__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ER_Lite_status</name>
        <label>Update ER Lite status</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Deactivate_XIQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>N4L_Feature_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER Lite</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>$Record.Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Installed_N4L_Product_Feature__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2F5m0000005aqFEAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Install - Phase 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
