force-app/main/default/flows/User_Object_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>c_QlikSaaS_Permission_Set_id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS5m00000002XWGAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_it_already_assigned</name>
        <label>Is it already assigned?</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Assign_QlikSaaS_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not assigned</defaultConnectorLabel>
        <rules>
            <name>Yes_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_QlikSaaS_Use_Group_Null</name>
        <label>Is QlikSaaS Use Group Null?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No QlikSaaS Use Group is not null</defaultConnectorLabel>
        <rules>
            <name>Yes_QlikSaaS_Use_Group_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QlikSaaS_User_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes QlikSaaS Use Group is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_federation_id_null</name>
        <label>Is user federation id null</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_QlikSaaS_Use_Group_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No user federation id is not null</defaultConnectorLabel>
        <rules>
            <name>Yes_user_federation_id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FederationIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_federation_id</targetReference>
            </connector>
            <label>Yes user federation id is null</label>
        </rules>
    </decisions>
    <interviewLabel>User Object Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Object Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_QlikSaaS_Permission_Set</name>
        <label>Assign QlikSaaS Permission Set</label>
        <locationX>512</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>c_QlikSaaS_Permission_Set_id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>Get N4LQlikSaaS Permission Set Assignment</label>
        <locationX>380</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_QlikSaaS_Permission_Set_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_federation_id</name>
        <label>Update federation id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Is_QlikSaaS_Use_Group_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_user_federation_id_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QlikSaaS_User_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
